@page "/common/global"

<Pager DataSource="@(new List<string>(new[] {"颜色","尺寸","特殊" }))">
    <Body>

<Header1 Divider="true">
    定义
</Header1>
<Header3>
    元素
</Header3>
<p>
    <strong>元素(Element)</strong>是指单个独立的组件，如 <code>Button</code> <code>Label</code> <code>Table</code> 等，可以在任何时候进行使用。
</p>
<Header3>
    组件
</Header3>
<p>
    <strong>组件(Component)</strong>是指将特定的几个组件组合起来形成一个新的组件，例如 <code>Tab</code>
</p>
<Header3>
    服务
</Header3>
<p>
    <strong>服务(Service)</strong>是一种动态组件，需要在页面中有一个容器占位符，并通过注入的服务调用，对用户体验进行一种交互性提升。
    例如 <code>Modal</code> <code>Message</code>
</p>
        <Header3>
    插件
</Header3>
<p>
    <strong>插件(Plugin)</strong>作为定制化组件的形式存在，一般需要单独安装。
</p>


    <Header1 Divider="true">
        通用
    </Header1>

<PresentationPart Title="颜色">
    <Description>
        大部分元素都会有 <code>Color</code> 参数，它是一个枚举类型，一共有以下几种色系：
    </Description>
    <RunTemplate>
        <Grid ColSpan="ColSpan.Five5" Padded="true" Stackable="true">
            <Column Color="Color.Red">红色(Red)</Column>
            <Column Color="Color.Orange">橙色(Orange)</Column>
            <Column Color="Color.Yellow">黄色(Yellow)</Column>
            <Column Color="Color.Green">绿色(Green)</Column>
            <Column Color="Color.Blue">蓝色(Blue)</Column>
            <Column Color="Color.Teal">深蓝绿色(Teal)</Column>
            <Column Color="Color.Purple">紫色(Purple)</Column>
            <Column Color="Color.Pink">粉红色(Pink)</Column>
            <Column Color="Color.Olive">橄榄绿色(Olive)</Column>
            <Column Color="Color.Violet">紫罗兰色(Violet)</Column>
            <Column Color="Color.Brown">棕色(Brown)</Column>
            <Column Color="Color.Grey">灰色(Grey)</Column>
            <Column Color="Color.Black">黑色(Black)</Column>
        </Grid>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Grid ColSpan=""ColSpan.Five5"" Padded=""true"" Stackable=""true"">
    <Column Color=""Color.Red"">红色(Red)</Column>
    <Column Color=""Color.Orange"">橙色(Orange)</Column>
    <Column Color=""Color.Yellow"">黄色(Yellow)</Column>
    <Column Color=""Color.Green"">绿色(Green)</Column>
    <Column Color=""Color.Blue"">蓝色(Blue)</Column>
    <Column Color=""Color.Teal"">深蓝绿色(Teal)</Column>
    <Column Color=""Color.Purple"">紫色(Purple)</Column>
    <Column Color=""Color.Pink"">粉红色(Pink)</Column>
    <Column Color=""Color.Olive"">橄榄绿色(Olive)</Column>
    <Column Color=""Color.Violet"">紫罗兰色(Violet)</Column>
    <Column Color=""Color.Brown"">棕色(Brown)</Column>
    <Column Color=""Color.Grey"">灰色(Grey)</Column>
    <Column Color=""Color.Black"">黑色(Black)</Column>
</Grid>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="尺寸">
    <Description>
        尺寸则使用 <code>Size</code> 作为参数，并拥有以下枚举：
    </Description>
    <RunTemplate>
        <Text Size="Size.Mini">迷你(Mini)</Text>
        <br />
        <Text Size="Size.Tiny">微小(Tiny)</Text>
        <br />
        <Text Size="Size.Small">小型(Small)</Text>
        <br />
        <Text Size="Size.Medium">中等(Medium)</Text>
        <br />
        <Text Size="Size.Large">大型(Large)</Text>
        <br />
        <Text Size="Size.Big">很大(Big)</Text>
        <br />
        <Text Size="Size.Huge">超大(Huge)</Text>
        <br />
        <Text Size="Size.Massive">巨大(Massive)</Text>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Text Size=""Size.Mini"">迷你(Mini)</Text>
<br />
<Text Size=""Size.Tiny"">微小(Tiny)</Text>
<br />
<Text Size=""Size.Small"">小型(Small)</Text>
<br />
<Text Size=""Size.Medium"">中等(Medium)</Text>
<br />
<Text Size=""Size.Large"">大型(Large)</Text>
<br />
<Text Size=""Size.Big"">很大(Big)</Text>
<br />
<Text Size=""Size.Huge"">超大(Huge)</Text>
<br />
<Text Size=""Size.Massive"">巨大(Massive)</Text>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="特殊">
    <Description>
        每个组件都有两个特殊的参数，分别是 <code>AdditionalCssClass</code> 和 <code>AdditionalStyle</code>，
        用于追加当前组件不满足的 <code>class</code> 或 <code>style</code>，直接用 <code>class</code> 或 <code>style</code> 表示覆盖组件现有的样式。
    </Description>
    <RunTemplate>
        <Button AdditionalCssClass="@("fluid")">AddtitionalCssClass</Button>
        <br />
        <Button AdditionalStyles="@("width:150px;height:60px")">AdditionalStyles</Button>
        <br />
        <Button class="btn-primary">class</Button>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Button AdditionalCssClass=""""fluid"""">AddtitionalCssClass</Button>
<button class=""ui button fluid"">AddtitionalCssClass</button>

<Button AdditionalStyle=""""width:150px;height:60px"""">AdditionalStyle</Button>
<button class=""ui button"" style=""width:150px;height:60px"">AdditionalStyle</button>

<Button class=""btn-primary"">class</Button>
<button class=""btn-primary"">class</button>
```
")
    </CodeTemplate>
</PresentationPart>
    </Body>
</Pager>