@page "/component/common/label"

<Pager DataSource="Menu">
    <Body>
<Header1 Divider="true">
    标签
    <SubHeader>
        标签表明内容的类别
    </SubHeader>
</Header1>

<Message>
    使用 <code>Label</code> 组件表示标签。
</Message>

<PresentationPart Title="示例">
    <RunTemplate>
        <Label><Icon IconClass="mail" /> 123</Label>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Label><Icon IconClass=""mail""/> 123</Label>
```
        ")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="颜色">
    <Description>
        设置 <code>Color</code> 可让标签具备颜色。
    </Description>
    <RunTemplate>
        <Label Color="Color.Red"><Icon IconClass="mail" /> 99+</Label>
        <Label Color="Color.Grey"><Icon IconClass="plus" /> 加关注</Label>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Label Color=""Color.Red""><Icon IconClass=""mail"" /> 99+</Label>
<Label Color=""Color.Grey""><Icon IconClass=""plus"" /> 加关注</Label>
```
        ")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="超链接">
    <Description>
        使用 <code>LabelAnchor</code>  即可让超链接呈现标签样式。
    </Description>
    <RunTemplate>
        <LabelAnchor Link="/">
            <Icon IconClass="plus" /> 关注
        </LabelAnchor>
    </RunTemplate>
    <CodeTemplate>
@Code.GetCode(@"
```html
<LabelAnchor Link=""/"">
    <Icon IconClass=""plus"" /> 关注
</LabelAnchor>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="图像">
    <Description>
        设置 <code>Label</code> 组件 <code>Image="true"</code> 然后包含 <code>Image</code> 组件呈现图像。
    </Description>
    <RunTemplate>
        <Label Image="true" Color="Color.Red">
            <Image Source="img/avatar/ade.jpg"  /> Ade
        </Label>
        <Label Image="true" Color="Color.Green">
            <Image Source="img/avatar/christian.jpg"  /> Christian
        </Label>
        <Label Image="true" Color="Color.Brown">
            <Image Source="img/avatar/elliot.jpg"  /> Elliot
        </Label>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Label Image=""true"" Color=""Color.Red"">
    <Image Source=""img/avatar/ade.jpg"" /> Ade
</Label>
<Label Image=""true"" Color=""Color.Green"">
    <Image Source=""img/avatar/christian.jpg"" /> Christian
</Label>
<Label Image=""true"" Color=""Color.Brown"">
    <Image Source=""img/avatar/elliot.jpg"" /> Elliot
</Label>
```
")
    </CodeTemplate>
</PresentationPart>
<PresentationPart Title="超链接图像">
    <RunTemplate>
        <LabelAnchor Image="true"  Link="#">
            <Image Source="img/avatar/jenny.jpg"  /> Jenny
        </LabelAnchor>
        <LabelAnchor Image="true" Link="#">
            <Image Source="img/avatar/joe.jpg"  /> Joe
        </LabelAnchor>
        <LabelAnchor Image="true" Link="#">
            <Image Source="img/avatar/nan.jpg"  /> Nan
        </LabelAnchor>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<LabelAnchor Image=""true"" Link=""#"">
    <Image Source=""img/avatar/jenny.jpg"" /> Jenny
</LabelAnchor>
<LabelAnchor Image=""true"" Link=""#"">
    <Image Source=""img/avatar/joe.jpg"" /> Joe
</LabelAnchor>
<LabelAnchor Image=""true"" Link=""#"">
    <Image Source=""img/avatar/nan.jpg"" /> Nan
</LabelAnchor>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="带详情">
    <Description>
        在 <code>Label</code> 组件中添加 <code>LabelDetail</code> 组件。
    </Description>
    <RunTemplate>
        <Label Image="true" Color="Color.Orange">
            <Image Source="img/avatar/stevie.jpg"  /> Stevie
            <LabelDetail>软件工程师</LabelDetail>
        </Label>
        <Label Image="true" Color="Color.Yellow">
            <Image Source="img/avatar/veronika.jpg"  /> Veronika
            <LabelDetail>UI 设计师</LabelDetail>
        </Label>
        <Label Image="true" Color="Color.Purple">
            <Image Source="img/avatar/zoe.jpg"  /> Zoe
            <LabelDetail>项目经理</LabelDetail>
        </Label>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Label Image=""true"" Color=""Color.Orange"">
    <Image Source=""img/avatar/stevie.jpg"" /> Stevie
    <LabelDetail>软件工程师</LabelDetail>
</Label>
<Label Image=""true"" Color=""Color.Yellow"">
    <Image Source=""img/avatar/veronika.jpg"" /> Veronika
    <LabelDetail>UI 设计师</LabelDetail>
</Label>
<Label Image=""true"" Color=""Color.Purple"">
    <Image Source=""img/avatar/zoe.jpg"" /> Zoe
    <LabelDetail>项目经理</LabelDetail>
</Label>
```
")
    </CodeTemplate>
</PresentationPart>
@*<PresentationPart Title="带指向的文本">
    <Description>
        设置 <code>Pointer</code> 并选择一个方位。
    </Description>
    <RunTemplate>
        <Form Model="this">
            <Field>
                <input placeholder="用户名" />
                <Label Pointer="RelativePosition.Above">请输入内容</Label>
            </Field>
            <Field>
                <Label Pointer="RelativePosition.Below">请输入内容</Label>
                <input placeholder="用户名" />
            </Field>
            <Field>
                <Label Pointer="RelativePosition.Left">请输入内容</Label>
                <input placeholder="用户名" />
            </Field>
            <Field>
                <input placeholder="用户名" />
                <Label Pointer="RelativePosition.Right">请输入内容</Label>
            </Field>
        </Form>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html

```
")
    </CodeTemplate>
</PresentationPart>*@
<PresentationPart Title="角标">
    <Description>
        设置 <code>Cornered</code> 再配合方位可以让标签显示在四个角。
    </Description>
    <RunTemplate>
        <Grid ColSpan="ColSpan.Two2">
            <Column>
                <ImageContent>
                    <Label Color="Color.Red" Cornered="HorizontalPosition.Left">
                        <Icon IconClass="heart" />
                    </Label>
                    <Image UI="true" Source="img/image.png" />
                </ImageContent>
            </Column>
            <Column>
                <ImageContent>
                    <Label Color="Color.Yellow" Cornered="HorizontalPosition.Right">
                        <Icon IconClass="lock" />
                    </Label>
                    <Image UI="true" Source="img/image.png" />
                </ImageContent>
            </Column>
        </Grid>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Grid ColSpan=""ColSpan.Two2"">
    <Column>
        <ImageContent>
            <Label Color=""Color.Red"" Cornered=""HorizontalPosition.Left"">
                <Icon IconClass=""heart"" />
            </Label>
            <Image UI=""true"" Source=""img/image.png"" />
        </ImageContent>
    </Column>
    <Column>
        <ImageContent>
            <Label Color=""Color.Yellow"" Cornered=""HorizontalPosition.Right"">
                <Icon IconClass=""lock"" />
            </Label>
            <Image UI=""true"" Source=""img/image.png"" />
        </ImageContent>
    </Column>
</Grid>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="标记">
    <Description>
        设置 <code>Tag="true"</code> 形成标记型的样式。
    </Description>
    <RunTemplate>
        <Label Tag="true">
            新文件
        </Label>
        <Label Tag="true" Color="Color.Red">
            私密！需要密码
        </Label>
        <Label Tag="true" Color="Color.Green">
            环保部门专用
        </Label>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Label Tag=""true"">
    新文件
</Label>
<Label Tag=""true"" Color=""Color.Red"">
    私密！需要密码
</Label>
<Label Tag=""true"" Color=""Color.Green"">
    环保部门专用
</Label>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="绸带">
    <Description>
        设置 <code>Ribbon="true"</code> 可以附加到其他组件上呈现绸带书签样式。
    </Description>
    <RunTemplate>
        <Grid ColSpan="ColSpan.Two2">
            <Column>
                <Segment Raised="true">
                    <Label Ribbon="HorizontalPosition.Left" Color="Color.Red">概览</Label>
                    <ParagraphDemo  FullWidth="true"/>
                    <Label Ribbon="HorizontalPosition.Left" Color="Color.Blue">交流</Label>
                    <ParagraphDemo  FullWidth="true"/>
                </Segment>
            </Column>
            <Column>
                <Segment>
                    <Label Ribbon="HorizontalPosition.Right" Color="Color.Orange" >规范</Label>
                    <ParagraphDemo  FullWidth="true"/>
                    <Label Ribbon="HorizontalPosition.Right" Color="Color.Black">联系方式</Label>
                    <ParagraphDemo  FullWidth="true"/>
                </Segment>
            </Column>
        </Grid>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Grid ColSpan=""ColSpan.Two2"">
    <Column>
        <Segment Raised=""true"">
            <Label Ribbon=""HorizontalPosition.Left"" Color=""Color.Red"">概览</Label>
            <ParagraphDemo />
            <Label Ribbon=""HorizontalPosition.Left"" Color=""Color.Blue"">交流</Label>
            <ParagraphDemo />
        </Segment>
    </Column>
    <Column>
        <Segment>
            <Label Ribbon=""HorizontalPosition.Right"" Color=""Color.Orange"">规范</Label>
            <ParagraphDemo />
            <Label Ribbon=""HorizontalPosition.Right"" Color=""Color.Black"">联系方式</Label>
            <ParagraphDemo />
        </Segment>
    </Column>
</Grid>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart>
    <RunTemplate>
        <Grid ColSpan="ColSpan.Two2">
            <Column>
                <ImageContent Fluid="true">
                    <Label Ribbon="HorizontalPosition.Left" Color="Color.Red">全局</Label>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Column>
            <Column>
                <ImageContent Fluid="true">
                    <Label Ribbon="HorizontalPosition.Right" Color="Color.Yellow">年终奖</Label>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Column>
        </Grid>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Grid ColSpan=""ColSpan.Two2"">
    <Column>
        <ImageContent Fluid=""true"">
            <Label Ribbon=""HorizontalPosition.Left"" Color=""Color.Red"">全局</Label>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Column>
    <Column>
        <ImageContent Fluid=""true"">
            <Label Ribbon=""HorizontalPosition.Right"" Color=""Color.Yellow"">年终奖</Label>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Column>
</Grid>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="吸附">
    <Description>
        设置 <code>Attached="true"</code> 以及方位可以让标签吸附在容器中。
    </Description>
    <RunTemplate>
        <Grid ColSpan="ColSpan.Three3">
            <Column>
                <Segment>
                    <Label Attached="true" AttachedVertical="VerticalPosition.Top">HTML</Label>
                    <ParagraphDemo  FullWidth="true"/>
                </Segment>
            </Column>
            <Column>
                <Segment>
                    <Label Attached="true" AttachedVertical="VerticalPosition.Bottom">CSS</Label>
                    <ParagraphDemo  FullWidth="true"/>
                </Segment>
            </Column>
            <Column>
                <Segment>
                    <Label Attached="true" AttachedHorizontal="HorizontalPosition.Right" AttachedVertical="VerticalPosition.Top">CODE</Label>
                    <ParagraphDemo  FullWidth="true"/>
                </Segment>
            </Column>
            <Column>
                <Segment>
                    <Label Attached="true" AttachedVertical="VerticalPosition.Top" AttachedHorizontal="HorizontalPosition.Left">代码评审</Label>
                    <ParagraphDemo  FullWidth="true"/>
                </Segment>
            </Column>
            <Column>
                <Segment>
                    <Label Attached="true" AttachedHorizontal="HorizontalPosition.Left" AttachedVertical="VerticalPosition.Bottom">用户反馈</Label>
                    <ParagraphDemo  FullWidth="true"/>
                </Segment>
            </Column>
            <Column>
                <Segment>
                    <Label Attached="true" AttachedHorizontal="HorizontalPosition.Right" AttachedVertical="VerticalPosition.Bottom">Script</Label>
                    <ParagraphDemo  FullWidth="true"/>
                </Segment>
            </Column>
        </Grid>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Grid ColSpan=""ColSpan.Three3"">
    <Column>
        <Segment>
            <Label Attached=""true"" AttachedVertical=""VerticalPosition.Top"">HTML</Label>
            <ParagraphDemo />
        </Segment>
    </Column>
    <Column>
        <Segment>
            <Label Attached=""true"" AttachedVertical=""VerticalPosition.Bottom"">CSS</Label>
            <ParagraphDemo />
        </Segment>
    </Column>
    <Column>
        <Segment>
            <Label Attached=""true"" AttachedHorizontal=""HorizontalPosition.Right"" AttachedVertical=""VerticalPosition.Top"">CODE</Label>
            <ParagraphDemo />
        </Segment>
    </Column>
    <Column>
        <Segment>
            <Label Attached=""true"" AttachedVertical=""VerticalPosition.Top"" AttachedHorizontal=""HorizontalPosition.Left"">代码评审</Label>
            <ParagraphDemo />
        </Segment>
    </Column>
    <Column>
        <Segment>
            <Label Attached=""true"" AttachedHorizontal=""HorizontalPosition.Left"" AttachedVertical=""VerticalPosition.Bottom"">用户反馈</Label>
            <ParagraphDemo />
        </Segment>
    </Column>
    <Column>
        <Segment>
            <Label Attached=""true"" AttachedHorizontal=""HorizontalPosition.Right"" AttachedVertical=""VerticalPosition.Bottom"">Script</Label>
            <ParagraphDemo />
        </Segment>
    </Column>
</Grid>
```
")
    </CodeTemplate>
</PresentationPart>
    <PresentationPart Title="水平排列">
    <Description>
        设置 <code>Horizontal="true"</code> 可以和其他元素水平排列
    </Description>
    <RunTemplate>
        <List Selectable="true" Divider="true">
            <Item>
                <Label Color="Color.Red" Horizontal="true">未通过</Label> 
                点击按钮报错啦！
            </Item>
            <Item>
                <Label Color="Color.Yellow" Horizontal="true">开发中</Label>
                作为经销商，我希望能在点击按钮后看到历史记录。
            </Item>
            <Item>
                <Label Color="Color.Blue" Horizontal="true">待开始</Label>
                作为销售管理员，我可以通过 excel 导入我的历史记录，以便于我能使用系统进行管理。
            </Item>
            <Item>
                <Label Color="Color.Green" Horizontal="true">已关闭</Label>
                <s><Text Color="Color.Grey">导出计算的模块显示不正确。</Text></s>
            </Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Selectable=""true"" Divider=""true"">
    <Item>
        <Label Color=""Color.Red"" Horizontal=""true"">未通过</Label> 
        点击按钮报错啦！
    </Item>
    <Item>
        <Label Color=""Color.Yellow"" Horizontal=""true"">开发中</Label>
        作为经销商，我希望能在点击按钮后看到历史记录。
    </Item>
    <Item>
        <Label Color=""Color.Blue"" Horizontal=""true"">待开始</Label>
        作为销售管理员，我可以通过 excel 导入我的历史记录，以便于我能使用系统进行管理。
    </Item>
    <Item>
        <Label Color=""Color.Green"" Horizontal=""true"">已关闭</Label>
        <s><Text Color=""Color.Grey"">导出计算的模块显示不正确。</Text></s>
    </Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>
    <PresentationPart Title="悬浮">
        <Description>
            设置 <code>Floating</code> 呈现为悬浮其他元素之上的位置。。
        </Description>
    <RunTemplate>
        <Menu Compact="true">
            <Item>
                <Icon IconClass="mail" /> 消息
                <Label Floating="CornerPosition.BottomLeft" Color="Color.Red">60</Label>
            </Item>
            <Item>
                <Icon IconClass="phone" /> 电话
                <Label Floating="CornerPosition.TopLeft" Color="Color.Red">12</Label>
            </Item>
            <Item>
                <Icon IconClass="cogs" /> 设置
                <Label Floating="CornerPosition.TopRight" Color="Color.Olive">7</Label>
            </Item>
            <Item>
                <Icon IconClass="comments" /> 通知
                <Label Floating="CornerPosition.BottomRight" Color="Color.Blue">999</Label>
            </Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Compact=""true"">
    <Item>
        <Icon IconClass=""mail"" /> 消息
        <Label Floating=""CornerPosition.BottomLeft"" Color=""Color.Red"">60</Label>
    </Item>
    <Item>
        <Icon IconClass=""phone"" /> 电话
        <Label Floating=""CornerPosition.TopLeft"" Color=""Color.Red"">12</Label>
    </Item>
    <Item>
        <Icon IconClass=""cogs"" /> 设置
        <Label Floating=""CornerPosition.TopRight"" Color=""Color.Olive"">7</Label>
    </Item>
    <Item>
        <Icon IconClass=""comments"" /> 通知
        <Label Floating=""CornerPosition.BottomRight"" Color=""Color.Blue"">999</Label>
    </Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
<PresentationPart Title="圆形">
    <Description>
        设置 <code>Circular="true"</code> 让标签显示成圆形。
    </Description>
    <RunTemplate>
        <Label Color="Color.Red" Circular="true">赤</Label>
        <Label Color="Color.Orange" Circular="true">橙</Label>
        <Label Color="Color.Yellow" Circular="true">黄</Label>
        <Label Color="Color.Green" Circular="true">绿</Label>
        <Label Color="Color.Teal" Circular="true">青</Label>
        <Label Color="Color.Blue" Circular="true">蓝</Label>
        <Label Color="Color.Purple" Circular="true">紫</Label>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Label Color=""Color.Red"" Circular=""true"">赤</Label>
<Label Color=""Color.Orange"" Circular=""true"">橙</Label>
<Label Color=""Color.Yellow"" Circular=""true"">黄</Label>
<Label Color=""Color.Green"" Circular=""true"">绿</Label>
<Label Color=""Color.Teal"" Circular=""true"">青</Label>
<Label Color=""Color.Blue"" Circular=""true"">蓝</Label>
<Label Color=""Color.Purple"" Circular=""true"">紫</Label>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="边框">
    <Description>
        设置 <code>Basic="true"</code> 呈现边框样式。
    </Description>
    <RunTemplate>
        <Label Basic="true">边框</Label>
        <Label Basic="true" Pointer="RelativePosition.Above">指向标签</Label>
        <Label Basic="true" Image="true"><Image Source="/img/avatar/zoe.jpg" /> Zoe</Label>
        <Label Basic="true" Pointer="RelativePosition.Left" Color="Color.Red">字段是必填项</Label>
        <Label Basic="true" Color="Color.Blue">蓝色</Label>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Label Basic=""true"">边框</Label>
<Label Basic=""true"" Pointer=""RelativePosition.Above"">指向标签</Label>
<Label Basic=""true"" Image=""true""><Image Source=""/img/avatar/zoe.jpg"" /> Zoe</Label>
<Label Basic=""true"" Pointer=""RelativePosition.Left"" Color=""Color.Red"">字段是必填项</Label>
<Label Basic=""true"" Color=""Color.Blue"">蓝色</Label>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="尺寸">
    <Description>
        设置 <code>Size</code> 可看到不同尺寸的标签。
    </Description>
    <RunTemplate>
        <Label Size="Size.Mini">Mini</Label>
        <Label Size="Size.Tiny">Tiny</Label>
        <Label Size="Size.Small">Small</Label>
        <Label Size="Size.Medium">Medium</Label>
        <Label Size="Size.Large">Large</Label>
        <Label Size="Size.Big">Big</Label>
        <Label Size="Size.Huge">Huge</Label>
        <Label Size="Size.Massive">Massive</Label>
        <br />
        <Label Basic="true" Size="Size.Mini">Mini</Label>
        <Label Basic="true" Size="Size.Tiny">Tiny</Label>
        <Label Basic="true" Size="Size.Small">Small</Label>
        <Label Basic="true" Size="Size.Medium">Medium</Label>
        <Label Basic="true" Size="Size.Large">Large</Label>
        <Label Basic="true" Size="Size.Big">Big</Label>
        <Label Basic="true" Size="Size.Huge">Huge</Label>
        <Label Basic="true" Size="Size.Massive">Massive</Label>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Label Size=""Size.Mini"">Mini</Label>
<Label Size=""Size.Tiny"">Tiny</Label>
<Label Size=""Size.Small"">Small</Label>
<Label Size=""Size.Medium"">Medium</Label>
<Label Size=""Size.Large"">Large</Label>
<Label Size=""Size.Big"">Big</Label>
<Label Size=""Size.Huge"">Huge</Label>
<Label Size=""Size.Massive"">Massive</Label>
<br />
<Label Basic=""true"" Size=""Size.Mini"">Mini</Label>
<Label Basic=""true"" Size=""Size.Tiny"">Tiny</Label>
<Label Basic=""true"" Size=""Size.Small"">Small</Label>
<Label Basic=""true"" Size=""Size.Medium"">Medium</Label>
<Label Basic=""true"" Size=""Size.Large"">Large</Label>
<Label Basic=""true"" Size=""Size.Big"">Big</Label>
<Label Basic=""true"" Size=""Size.Huge"">Huge</Label>
<Label Basic=""true"" Size=""Size.Massive"">Massive</Label>
```
")
    </CodeTemplate>
</PresentationPart>
        <ParameterTable Title="参数">
            <Content>
                <tr>
                    <td>Basic</td>
                    <td>边框样式</td>
                    <td>bool</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>颜色</td>
                    <td>bool</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Inverted</td>
                    <td>反转颜色</td>
                    <td>bool</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Tag</td>
                    <td>标记样式</td>
                    <td>bool</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td>适应 <code>Image</code> 组件</td>
                    <td>bool</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ribbon</td>
                    <td>绸缎样式</td>
                    <td>enum</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Attached</td>
                    <td>吸附模式</td>
                    <td>bool</td>
                    <td></td>
                </tr>
                <tr>
                    <td>AttachedVertical</td>
                    <td>垂直吸附</td>
                    <td>enum</td>
                    <td></td>
                </tr>
                <tr>
                    <td>AttachedHorizontal</td>
                    <td>水平吸附</td>
                    <td>enum</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Circular</td>
                    <td>圆形样式</td>
                    <td>bool</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Size</td>
                    <td>尺寸大小</td>
                    <td>enum</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Dropdown</td>
                    <td><code>Menu</code> 组件的下拉标签</td>
                    <td>bool</td>
                    <td></td>
                </tr>
                <tr>
                    <td>HoverDropdown</td>
                    <td>悬浮下拉，设置 <code>Dropdown</code> 有效</td>
                    <td>bool</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Horizontal</td>
                    <td>水平排列</td>
                    <td>bool</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Cornered</td>
                    <td>角标位置</td>
                    <td>enum</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Floating</td>
                    <td>左右浮动</td>
                    <td>enum</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pointer</td>
                    <td>指向箭头</td>
                    <td>enum</td>
                    <td></td>
                </tr>
                
            </Content>
        </ParameterTable>
    </Body>
</Pager>
@code{
    List<string> Menu = new List<string>(new[]
    {
        "示例","颜色","超链接","图像","超链接图像","带详情",
        //"带指向的文本",
        "角标","标记","绸带","吸附",
       "水平排列","悬浮于其他元素", "圆形","边框","尺寸","参数"
    });
}