@page "/component/layout/card"

<Pager DataSource="@(new List<string>(new[]{
                         "Demo","Card Group","Multiple Contents","Centered Card","Link Card","Raised Card","Fluid Card","Horizontal Cards","Inverted","GridColumn Count"
                     }))">
    <Body>
        <Header1>
            Card
            <SubHeader>
                A card displays site content in a manner similar to a playing card
            </SubHeader>
        </Header1>
        <PresentationPart Title="Demo">
    <RunTemplate>
        <Card>
            <ImageContent>
                <Image Src="img/avatar/elyse.png" />
            </ImageContent>
            <Content>
                <Anchor Header>Elyse</Anchor>
                <Introduction>
                    Joined in 2013
                </Introduction>
                <Description>
                    Elyse is an art director living in New York.
                </Description>
            </Content>
            <ExtraContent>
                <Icon IconClass="users" /> 22 Friends
            </ExtraContent>
        </Card>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Card>
    <ImageContent>
        <Image Src=""img/avatar/elyse.png"" />
    </ImageContent>
    <Content>
        <Anchor Header>Elyse</Anchor>
        <Introduction>
            Joined in 2013
        </Introduction>
        <Description>
            Elyse is an art director living in New York.
        </Description>
    </Content>
    <ExtraContent>
        <Icon IconClass=""users"" /> 22 Friends
    </ExtraContent>
</Card>
```
")
    </CodeTemplate>
</PresentationPart>
        
        <PresentationPart Title="Card Group">
    <RunTemplate>
        <CardGroup>
            <Card>
                <Content>
                    <Header>Matthew</Header>
                </Content>
                <ImageContent>
                    <Image Src="img/avatar/elyse.png" />
                </ImageContent>
                <Content>
                    Matthew is an interior designer living in New York.
                </Content>
                <Button Attached AttachedVertical="VerticalPosition.Top">
                    <Icon IconClass="add" />
                    Add Friend
                </Button>
            </Card>
            <Card>
                <Content>
                    <Header>Molly</Header>
                </Content>
                <ImageContent>
                    <Image Src="img/avatar/kristy.png" />
                </ImageContent>
                <Content>
                    Molly is a personal assistant living in Paris.
                </Content>
                <Button Attached AttachedVertical="VerticalPosition.Top">
                    <Icon IconClass="add" />
                    Add Friend
                </Button>
            </Card>
            <Card>
                <Content>
                    <Header>Elyse</Header>
                </Content>
                <ImageContent>
                    <Image Src="img/avatar/matthew.png" />
                </ImageContent>
                <Content>
                    Elyse is a copywriter working in New York.
                </Content>
                <Button Attached AttachedVertical="VerticalPosition.Top">
                    <Icon IconClass="add" />
                    Add Friend
                </Button>
            </Card>
        </CardGroup>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<CardGroup>
    <Card>
        <Content>
            <Header>Matthew</Header>
        </Content>
        <ImageContent>
            <Image Src=""img/avatar/elyse.png"" />
        </ImageContent>
        <Content>
            Matthew is an interior designer living in New York.
        </Content>
        <Button Attached AttachedVertical=""VerticalPosition.Top"">
            <Icon IconClass=""add"" />
            Add Friend
        </Button>
    </Card>
    <Card>
        <Content>
            <Header>Molly</Header>
        </Content>
        <ImageContent>
            <Image Src=""img/avatar/kristy.png"" />
        </ImageContent>
        <Content>
            Molly is a personal assistant living in Paris.
        </Content>
        <Button Attached AttachedVertical=""VerticalPosition.Top"">
            <Icon IconClass=""add"" />
            Add Friend
        </Button>
    </Card>
    <Card>
        <Content>
            <Header>Elyse</Header>
        </Content>
        <ImageContent>
            <Image Src=""img/avatar/matthew.png"" />
        </ImageContent>
        <Content>
            Elyse is a copywriter working in New York.
        </Content>
        <Button Attached AttachedVertical=""VerticalPosition.Top"">
            <Icon IconClass=""add"" />
            Add Friend
        </Button>
    </Card>
</CardGroup>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Multiple Contents">
    <Description>
        You can define multiple contents in card.
    </Description>
    <RunTemplate>
        <Card>
            <Content>
                <Header4 Floated="HorizontalPosition.Right">15 hours ago</Header4>
                <Avatar Src="img/avatar/stevie.jpg"/>
            </Content>
            <Content>
                Stevie's Schedule
            </Content>
            <ImageContent>
                <Image Src="img/image.png"/>
            </ImageContent>
            <Content>                
                <Grid EqualWidth>
                    <GridColumn Floated="HorizontalPosition.Left">
                        <Icon IconClass="hear outline like" /> 24 Liks
                    </GridColumn>
                    <GridColumn Floated="HorizontalPosition.Right"><Icon IconClass="comment" /> 4 Comments</GridColumn>
                </Grid>          
                
            </Content>
            <ExtraContent>
                <InputBox Transparent Size="Size.Large" Icon="HorizontalPosition.Left">
                    <Icon IconClass="heart outline"/>
                    <input placeholder="New Comment"/>
                </InputBox>
            </ExtraContent>
        </Card>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Card>
    <Content>
        <Header4 Floated=""HorizontalPosition.Right"">15 hours ago</Header4>
        <Avatar Src=""img/avatar/stevie.jpg""/>
    </Content>
    <Content>
        Stevie's Schedule
    </Content>
    <ImageContent>
        <Image Src=""img/image.png""/>
    </ImageContent>
    <Content>                
        <Grid EqualWidth>
            <GridColumn Floated=""HorizontalPosition.Left"">
                <Icon IconClass=""hear outline like"" /> 24 Liks
            </GridColumn>
            <GridColumn Floated=""HorizontalPosition.Right""><Icon IconClass=""comment"" /> 4 Comments</GridColumn>
        </Grid>          
                
    </Content>
    <ExtraContent>
        <InputBox Transparent Size=""Size.Large"" Icon=""HorizontalPosition.Left"">
            <Icon IconClass=""heart outline""/>
            <input placeholder=""New Comment""/>
        </InputBox>
    </ExtraContent>
</Card>
```
")
    </CodeTemplate>
</PresentationPart>
        
        <PresentationPart Title="Centered Card">
            <Description>
                A card can center itself inside its container
            </Description>
    <RunTemplate>
        <Card Centered>
            <ImageContent>
                <Image Src="img/avatar/molly.png" />
            </ImageContent>
            <Content>
                <Header>Molly</Header>
            </Content>
        </Card>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Card Centered>
    <ImageContent>
        <Image Src=""img/avatar/molly.png"" />
    </ImageContent>
    <Content>
        <Header>Molly</Header>
    </Content>
</Card>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Link Card">
            <Description>
                A card can be formatted so that the entire contents link to another page
            </Description>
    <RunTemplate>
        <Card Linked>
            <Content>
                <Header>Header</Header>
                <ParagraphDemo FullWidth />
            </Content>
        </Card>
        <Card Link="http://www.bing.com" Target="LinkTarget.Blank">
            <Content>
                <Header>Bing</Header>
                <ParagraphDemo FullWidth />
            </Content>
        </Card>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Card Linked>
    <Content>
        <Header>Header</Header>
        <ParagraphDemo/>
    </Content>
</Card>        
<Card Link=""http://www.bing.com"" Target=""LinkTarget.Blank"">
    <Content>
        <Header>Bing</Header>
        <ParagraphDemo FullWidth />
    </Content>
</Card>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Raised Card">
            <Description>
                A card may be formatted to raise above the page.
            </Description>
    <RunTemplate>
        <Card Raised>
            <Content>
                <Header>Header</Header>
                <ParagraphDemo FullWidth />
            </Content>
        </Card>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Card Raised>
    <Content>
        <Header>Header</Header>
        <ParagraphDemo FullWidth />
    </Content>
</Card>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Fluid Card">
            <Description>
                A fluid card takes up the width of its container
            </Description>
    <RunTemplate>
        <Grid Span="ColSpan.Three3">
            <GridColumn>
                <Card Fluid>
                    <ImageContent>
                        <Image Src="img/avatar/elyse.png" />
                    </ImageContent>
                    <Content>
                        <Header>Elyse</Header>
                    </Content>
                </Card>
            </GridColumn>
            <GridColumn>
                <Card Fluid>
                    <ImageContent>
                        <Image Src="img/avatar/kristy.png" />
                    </ImageContent>
                    <Content>
                        <Header>Kristy</Header>
                    </Content>
                </Card>
            </GridColumn>
            <GridColumn>
                <Card Fluid>
                    <ImageContent>
                        <Image Src="img/avatar/matthew.png" />
                    </ImageContent>
                    <Content>
                        <Header>Matthew</Header>
                    </Content>
                </Card>
            </GridColumn>
        </Grid>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Grid Span=""ColSpan.Three3"">
    <GridColumn>
        <Card Fluid>
            <ImageContent>
                <Image Src=""img/avatar/elyse.png"" />
            </ImageContent>
            <Content>
                <Header>Elyse</Header>
            </Content>
        </Card>
    </GridColumn>
    <GridColumn>
        <Card Fluid>
            <ImageContent>
                <Image Src=""img/avatar/kristy.png"" />
            </ImageContent>
            <Content>
                <Header>Kristy</Header>
            </Content>
        </Card>
    </GridColumn>
    <GridColumn>
        <Card Fluid>
            <ImageContent>
                <Image Src=""img/avatar/matthew.png"" />
            </ImageContent>
            <Content>
                <Header>Matthew</Header>
            </Content>
        </Card>
    </GridColumn>
</Grid>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Horizontal Cards">
            <Description>
                A card can display horizontally
            </Description>
    <RunTemplate>
        <Card Horizontal>
            <ImageContent>
                <Image Src="img/avatar/molly.png" />
            </ImageContent>
            <Content>
                <Header>Molly</Header>
                <ParagraphDemo FullWidth/>
            </Content>
        </Card>

        
        <CardGroup Horizontal>
            <Card>
                <ImageContent>
                    <Image Src="img/avatar/molly.png" />
                </ImageContent>
                <Content>
                    <Header>Molly</Header>
                    <ParagraphDemo FullWidth />
                </Content>
            </Card>
            <Card>
                <ImageContent>
                    <Image Src="img/avatar/kristy.png" />
                </ImageContent>
                <Content>
                    <Header>Kristy</Header>
                    <ParagraphDemo FullWidth />
                </Content>
            </Card>
        </CardGroup>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Card Horizontal>
    <ImageContent>
        <Image Src=""img/avatar/molly.png"" />
    </ImageContent>
    <Content>
        <Header>Molly</Header>
        <ParagraphDemo/>
    </Content>
</Card>

<CardGroup Horizontal>
    <Card>
        <ImageContent>
            <Image Src=""img/avatar/molly.png"" />
        </ImageContent>
        <Content>
            <Header>Molly</Header>
            <ParagraphDemo FullWidth />
        </Content>
    </Card>
    <Card>
        <ImageContent>
            <Image Src=""img/avatar/kristy.png"" />
        </ImageContent>
        <Content>
            <Header>Kristy</Header>
            <ParagraphDemo FullWidth />
        </Content>
    </Card>
</CardGroup>
```
")
    </CodeTemplate>
</PresentationPart>
                <PresentationPart Title="Inverted">
                    <Description>
                        Card's colors can be inverted
                    </Description>
    <RunTemplate>
        <Segment Inverted>
            <CardGroup Inverted>
                <Card>
                    <ImageContent>
                        <Image Src="img/avatar/molly.png" />
                    </ImageContent>
                    <Content>
                        <Header>Molly</Header>
                        <ParagraphDemo FullWidth />
                    </Content>
                </Card>
                <Card>
                    <ImageContent>
                        <Image Src="img/avatar/kristy.png" />
                    </ImageContent>
                    <Content>
                        <Header>Kristy</Header>
                        <ParagraphDemo FullWidth />
                    </Content>
                </Card>
            </CardGroup>
        </Segment>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment Inverted>
    <CardGroup Inverted>
        <Card>
            <ImageContent>
                <Image Src=""img/avatar/molly.png"" />
            </ImageContent>
            <Content>
                <Header>Molly</Header>
                <ParagraphDemo FullWidth />
            </Content>
        </Card>
        <Card>
            <ImageContent>
                <Image Src=""img/avatar/kristy.png"" />
            </ImageContent>
            <Content>
                <Header>Kristy</Header>
                <ParagraphDemo FullWidth />
            </Content>
        </Card>
    </CardGroup>
</Segment>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="GridColumn Count">
            <Description>
                A group of cards can set how many cards should exist in a row
            </Description>
    <RunTemplate>
        <CardGroup Span="ColSpan.Five5">
            <Card Color="Color.Red">
                <ImageContent>
                    <Image Src="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Orange">
                <ImageContent>
                    <Image Src="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Yellow">
                <ImageContent>
                    <Image Src="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Green">
                <ImageContent>
                    <Image Src="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Blue">
                <ImageContent>
                    <Image Src="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Pink">
                <ImageContent>
                    <Image Src="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Olive">
                <ImageContent>
                    <Image Src="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Brown">
                <ImageContent>
                    <Image Src="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Purple">
                <ImageContent>
                    <Image Src="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Teal">
                <ImageContent>
                    <Image Src="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Black">
                <ImageContent>
                    <Image Src="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Grey">
                <ImageContent>
                    <Image Src="img/image.png" />
                </ImageContent>
            </Card>
        </CardGroup>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<CardGroup Span=""ColSpan.Five5"">
    <Card Color=""Color.Red"">
        <ImageContent>
            <Image Src=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Orange"">
        <ImageContent>
            <Image Src=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Yellow"">
        <ImageContent>
            <Image Src=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Green"">
        <ImageContent>
            <Image Src=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Blue"">
        <ImageContent>
            <Image Src=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Pink"">
        <ImageContent>
            <Image Src=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Olive"">
        <ImageContent>
            <Image Src=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Brown"">
        <ImageContent>
            <Image Src=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Purple"">
        <ImageContent>
            <Image Src=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Teal"">
        <ImageContent>
            <Image Src=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Black"">
        <ImageContent>
            <Image Src=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Grey"">
        <ImageContent>
            <Image Src=""img/image.png"" />
        </ImageContent>
    </Card>
</CardGroup>
```
")
    </CodeTemplate>
</PresentationPart>
    </Body>
</Pager>