@page "/component/layout/container"

<Pager DataSource="@(new List<string>(new[] { "示例","文本容器","流式布局","参数" }))">
    <Body>
        <Header1>
            Container
            <SubHeader>
                A container limits content to a maximum width
            </SubHeader>
        </Header1>

        <Header2 Divider>
            Introduction
        </Header2>
        <Header4>
            When To Use
        </Header4>
        <p>
            A container is an element designed to contain page elements to a reasonable maximum width based on the size of a user's screen. This is useful to couple with other UI elements like grid or menu to restrict their width to a reasonable size for display.
        </p>

        <Header4>
            Container Sizes
        </Header4>
        <p>
            Containers are designed to responsively adjust their maximum width based on the size of the screen on which they are appearing.
        </p>
<table class="ui table">
    <thead>
        <tr>
            <th></th>
            <th>Mobile</th>
            <th>Tablet</th>
            <th>Small Monitor</th>
            <th>Large Monitor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Width</td>
            <td>100%</td>
            <td>723px</td>
            <td>933px</td>
            <td>1127px</td>
        </tr>
        <tr>
            <td>Gutter Size</td>
            <td>1em</td>
            <td>Fluid</td>
            <td>Fluid</td>
            <td>Fluid</td>
        </tr>
        <tr>
            <td>Device Width</td>
            <td>&lt; 768px</td>
            <td>768px - 991px</td>
            <td>992px - 1200px</td>
            <td>> 1200px</td>
        </tr>
    </tbody>
</table>
<Message State="State.Info">
    More information see <Anchor Link="https://fomantic-ui.com/elements/container.html" Target="LinkTarget.Blank">https://fomantic-ui.com/elements/container.html</Anchor>
</Message>

<PresentationPart Title="Demo">
    <RunTemplate>
        <Container>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
        </Container>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Container>...</Container>
```
")
    </CodeTemplate>
</PresentationPart>


<PresentationPart Title="Text Container">
    <Description>
        A container can reduce its maximum width to more naturally accomodate a single column of text


    </Description>
    <RunTemplate>
        <Container Texted>
            <Message State="State.Info">
                A text container is a simpler markup alternative to using a grid with a single column, and is designed to have a reasonable maximum width for displaying flowing text
            </Message>
        </Container>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Container Texted>...</Container>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Text Aligned">
            <Description>A container can specify its text alignment</Description>
            <RunTemplate>
                <Container HorizontalAlignment="HorizontalAlignment.Left">
                    Left Aligned
                </Container>
                <Container HorizontalAlignment="HorizontalAlignment.Center">
                    Center Aligned
                </Container>
                <Container HorizontalAlignment="HorizontalAlignment.Right">
                    Right Aligned
                </Container>
            </RunTemplate>
            <CodeTemplate>
                @Code.GetCode(@"
```html
<Container HorizontalAlignment=""HorizontalAlignment.Left"">
    Left Aligned
</Container>
<Container HorizontalAlignment=""HorizontalAlignment.Center"">
    Center Aligned
</Container>
<Container HorizontalAlignment=""HorizontalAlignment.Right"">
    Right Aligned
</Container>
```
")
            </CodeTemplate>
        </PresentationPart>

<PresentationPart Title="Fluid">
    <Description>
        A fluid container has no maximum width
    </Description>
    <RunTemplate>
        <Container Fluid>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa strong. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede link mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
        </Container>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Container Fluid>...</Container>
```
")
    </CodeTemplate>
</PresentationPart>
        </Body>
</Pager>