@page "/component/layout/divider"
<Pager DataSource="Menu">
    <Body>
        <Header1 Divider>
            Divider
            <SubHeader>
                A divider visually segments content into groups
            </SubHeader>
        </Header1>
        <PresentationPart Title="Demo">
            <RunTemplate>
                <ParagraphDemo />
                <Divider />
                <ParagraphDemo />
            </RunTemplate>
            <CodeTemplate>
@Code.GetCode(@"
```html
...
<Divider/>
...
```
")
            </CodeTemplate>
        </PresentationPart>

        <PresentationPart Title="Vertical Divider">
            <Description>
                A divider can segment content vertically

                <Message>
                    Vertical dividers requires <code>position: relative</code> on the element that you would like to contain the divider
                </Message>
                <Message State="State.Warning">
                    Due to a change in W3C implementation of absolutely positioned elements in flex containers vertical dividers now currently only support 50/50 splits automatically, and only if not positioned as direct children of flex containers (like grid).
                </Message>
            </Description>
            <RunTemplate>
                <Segment>
                    <Grid Span="ColSpan.Two2">
                        <GridColumn>
                            <ParagraphDemo FullWidth />
                            <br />
                            <ParagraphDemo FullWidth />
                        </GridColumn>
                        <GridColumn>
                            <ParagraphDemo FullWidth />
                            <br />
                            <ParagraphDemo FullWidth />
                        </GridColumn>
                    </Grid>
                    <Divider Vertical>
                        AND
                    </Divider>
                </Segment>
            </RunTemplate>
            <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment>
    <Grid ColSpan=""ColSpan.Two2"">
        <GridColumn>
            <ParagraphDemo />
            <br />
            <ParagraphDemo />
        </GridColumn>
        <GridColumn>
            <ParagraphDemo />
            <br />
            <ParagraphDemo />
        </GridColumn>
    </Grid>
    <Divider Vertical>
        AND
    </Divider>
</Segment>
```
")
            </CodeTemplate>
        </PresentationPart>

        <Message State="State.Info">
            A vertical divider will automatically swap to a horizontal divider at mobile resolutions when used inside a stackable grid
        </Message>

        <PresentationPart>
            <RunTemplate>
                <Segment Placeholder>
                    <Grid Span="(2)" Very Relaxed Stackable>
                        <GridColumn>
                            <Form Model="this">
                                <Field>
                                    <InputBox Icon="HorizontalPosition.Left">
                                        <Icon IconClass="user"/>
                                        <input type="text"/>
                                    </InputBox>
                                </Field>
                                <Field>
                                    <InputBox Icon="HorizontalPosition.Left">
                                        <Icon IconClass="lock"/>
                                        <input type="password"/>
                                    </InputBox>
                                </Field>
                                <Button Emphasis="Emphasis.Primary">Submit</Button>
                            </Form>
                        </GridColumn>
                        <GridColumn VerticalAlignment="VerticalAlignment.Middle">
                            <Button Size="Size.Big">
                                <Icon IconClass="signup"/>
                                Sign Up
                            </Button>
                        </GridColumn>
                    </Grid>
                    <Divider Vertical>Or</Divider>
                </Segment>
            </RunTemplate>
        </PresentationPart>

        <PresentationPart Title="Horizontal Divider">
            <Description>
                A divider can segment content horizontally
                <Message State="State.Info">
                    Horizontal dividers can also be used in combination with headers and icons to create different styles of dividers.
                </Message>
                
            </Description>
            <RunTemplate>
                <Message State="State.Info">
                    Dividers will automatically vary the size of their dividing rules to match the length of your text
                </Message>
                <Segment HorizontalAlignment="HorizontalAlignment.Center" Basic>
                    <Button Color="Color.Orange">
                        <Icon IconClass="home" /> Home
                    </Button>
                    <Divider Horizontal>
                        OR
                    </Divider>
                    <Label Tag Color="Color.Blue">Add Favorite</Label>
                </Segment>
            </RunTemplate>
            <CodeTemplate>
                @Code.GetCode(@"
```html
<Segment HorizontalAlignment=""HorizontalAlignment.Center"" Basic>
    <Button Color=""Color.Orange"">
        <Icon IconClass=""home"" /> Home
    </Button>
    <Divider Horizontal>
        OR
    </Divider>
    <Label Tag Color=""Color.Blue"">Add Favorite</Label>
</Segment>
```
")
            </CodeTemplate>
        </PresentationPart>

        <PresentationPart Title="Horizontal With Icon">
            <RunTemplate>
                <Divider Horizontal>
                    <Header2>
                        <Icon IconClass="tag" /> Description
                    </Header2>
                </Divider>
                <p>Doggie treats are good for all times of the year. Proven to be eaten by 99.9% of all dogs worldwide.</p>
                <Divider Horizontal>
                    <Header2>
                        <Icon IconClass="bar chart" /> Specification
                    </Header2>
                </Divider>
                <Table Definition>
                    <Body>
                        <Tr>
                            <Td>Size</Td>
                            <Td>1 * 2</Td>
                        </Tr>
                        <Tr>
                            <Td>Weight</Td>
                            <Td>6 KG</Td>
                        </Tr>
                        <Tr>
                            <Td>Color</Td>
                            <Td>Yellowish</Td>
                        </Tr>
                    </Body>
                </Table>
            </RunTemplate>
            <CodeTemplate>
        @Code.GetCode(@"
```html
<Divider Horizontal>
    <Header2>
        <Icon IconClass=""tag"" /> Description
    </Header2>
</Divider>
<p>Doggie treats are good for all times of the year. Proven to be eaten by 99.9% of all dogs worldwide.</p>
<Divider Horizontal>
    <Header2>
        <Icon IconClass=""bar chart"" /> Specification
    </Header2>
</Divider>
<Table Definition>
    <Body>
        <Tr>
            <Td>Size</Td>
            <Td>1 * 2</Td>
        </Tr>
        <Tr>
            <Td>Weight</Td>
            <Td>6 KG</Td>
        </Tr>
        <Tr>
            <Td>Color</Td>
            <Td>Yellowish</Td>
        </Tr>
    </Body>
</Table>
```
")
            </CodeTemplate>
        </PresentationPart>

        <PresentationPart Title="Horizontal Alignment">
            <Description>
                A horizontal divider can be aligned
            </Description>
            <RunTemplate>
                <Divider Horizontal HorizontalAlignment="HorizontalAlignment.Left">
                    <Header3>
                        <Icon IconClass="left align" /> Left Aligned
                    </Header3>
                </Divider>
                <Divider Horizontal HorizontalAlignment="HorizontalAlignment.Center">
                    <Header3>
                        <Icon IconClass="center align" /> Center Aligned
                    </Header3>
                </Divider>
                <Divider Horizontal HorizontalAlignment="HorizontalAlignment.Right">
                    <Header3>
                        <Icon IconClass="right align" /> Right Aligned
                    </Header3>
                </Divider>
            </RunTemplate>
            <CodeTemplate>
        @Code.GetCode(@"
```html
<Divider Horizontal HorizontalAlignment=""HorizontalAlignment.Left"">
    <Header3>
        <Icon IconClass=""left align"" /> Left Aligned
    </Header3>
</Divider>
<Divider Horizontal HorizontalAlignment=""HorizontalAlignment.Center"">
    <Header3>
        <Icon IconClass=""center align"" /> Center Aligned
    </Header3>
</Divider>
<Divider Horizontal HorizontalAlignment=""HorizontalAlignment.Right"">
    <Header3>
        <Icon IconClass=""right align"" /> Right Aligned
    </Header3>
</Divider>
```
")
            </CodeTemplate>
        </PresentationPart>

        <PresentationPart Title="Inverted">
            <Description>A divider can have its colors inverted</Description>
            <RunTemplate>
                <Segment Inverted>
                    <ParagraphDemo />
                    <Divider Horizontal Inverted>
                        Horizontal
                    </Divider>
                    <ParagraphDemo />
                </Segment>
            </RunTemplate>
            <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment Inverted>
    <ParagraphDemo/>
    <Divider Horizontal Inverted>
        Horizontal
    </Divider>
    <ParagraphDemo/>
</Segment>
```
")
            </CodeTemplate>
        </PresentationPart>

        <PresentationPart Title="Fitted">
            <Description>
                A divider can be fitted, without any space above or below it.
            </Description>
            <RunTemplate>
                <Segment HorizontalAlignment="HorizontalAlignment.Center">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                    <Divider Fitted />
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </Segment>
            </RunTemplate>
            <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment HorizontalAlignment=""HorizontalAlignment.Center"">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
    <Divider Fitted />
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
</Segment>
```
")
            </CodeTemplate>
        </PresentationPart>

        <PresentationPart Title="Hidden">
            <Description>
                A hidden divider divides content without creating a dividing line
            </Description>
            <RunTemplate>
                <Header3>Section One</Header3>
                <ParagraphDemo />
                <Divider Hidden />
                <Header3>Section Two</Header3>
                <ParagraphDemo />
            </RunTemplate>
            <CodeTemplate>
        @Code.GetCode(@"
```html
<Header3>Section One</Header3>
<ParagraphDemo />
<Divider Hidden />
<Header3>Section Two</Header3>
<ParagraphDemo />
```
")
            </CodeTemplate>
        </PresentationPart>

        <PresentationPart Title="Section">
            <Description>
                A divider can provide greater margins to divide sections of content
            </Description>
            <RunTemplate>
                <Header3>Section One</Header3>
                <ParagraphDemo />
                <Divider Section />
                <Header3>Section Two</Header3>
                <ParagraphDemo />
            </RunTemplate>
            <CodeTemplate>
        @Code.GetCode(@"
```html
<Header3>Section One</Header3>
<ParagraphDemo />
<Divider Section />
<Header3>Section Two</Header3>
<ParagraphDemo />
```
")
            </CodeTemplate>
        </PresentationPart>

        <PresentationPart Title="Clearing">
            <Description>
                A divider can clear the contents above it
            </Description>
            <RunTemplate>
                <Segment>
                    <Header2 Floated="HorizontalPosition.Right">Floated Content</Header2>
                    <Divider Clearing />
                    <ParagraphDemo />
                </Segment>
            </RunTemplate>
            <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment>
    <Header2 Floated=""HorizontalPosition.Right"">Floated Content</Header2>
    <Divider Clearing/>
    <ParagraphDemo/>
</Segment>
```
")
            </CodeTemplate>
        </PresentationPart>
    </Body>
</Pager>
@code{
    List<string> Menu = new List<string>(new[] {

         "Demo",
        "Vertical Divider",
        "Horizontal Divider",
        "Horizontal With Icon",
        "Horizontal Alignment",
         "Inverted",
        "Fitted",
        "Hidden",
         "Section",
        "Clearing"
    });
}