@page "/component/layout/itemlist"

<Pager DataSource="@(new List<string>(new[]{
                         "Demo","Image","Divider","Vertical Alignment","Unstackable","Introduction","Description","Extra Content","Link","Floated Content","Inverted"
                     }))">
    <Body>
        <Header1>
            Item List
            <SubHeader>
                An item view presents large collections of site content for display
            </SubHeader>
        </Header1>

        <Message State="State.Success" Icon>
            <Icon IconClass="mobile" />
            <Content>
                <Header4>
                    Responsive Element
                </Header4>
                Item views are designed to be responsive with images stacking at mobile resolutions.。
            </Content>
        </Message>
        <PresentationPart Title="Demo">
            <RunTemplate>
                <ItemList>
                    <Item>
                        <Image Src="img/image.png"  UI="false"/>
                        <Content>
                            <Anchor Header>
                                Header
                            </Anchor>
                            <Introduction>Description</Introduction>
                            <Description>
                                <ParagraphDemo />
                            </Description>
                            <Extra>
                                Additional Details
                            </Extra>
                        </Content>
                    </Item>
                    <Item>
                        <Image Src="img/image.png"   UI="false"/>
                        <Content>
                            <Anchor Header>
                                Header
                            </Anchor>
                            <Introduction>Description</Introduction>
                            <Description>
                                <ParagraphDemo />
                            </Description>
                            <Extra>
                                Additional Details
                            </Extra>
                        </Content>
                    </Item>
                    <Item>
                        <Image Src="img/image.png"  UI="false"/>
                        <Content>
                            <Anchor Header>
                                Header
                            </Anchor>
                            <Introduction>Description</Introduction>
                            <Description>
                                <ParagraphDemo />
                            </Description>
                            <Extra>
                                Additional Details
                            </Extra>
                        </Content>
                    </Item>
                </ItemList>
            </RunTemplate>
            <CodeTemplate>
@Code.GetCode(@"
```html
<ItemList>
    <Item>
        <Image Src=""img/image.png""  UI=""false""/>
        <Content>
            <Anchor Header>
                Header
            </Anchor>
            <Introduction>Description</Introduction>
            <Description>
                <ParagraphDemo />
            </Description>
            <Extra>
                Additional Details
            </Extra>
        </Content>
    </Item>
    <Item>
        <Image Src=""img/image.png""  UI=""false""/>
        <Content>
            <Anchor Header>
                Header
            </Anchor>
            <Introduction>Description</Introduction>
            <Description>
                <ParagraphDemo />
            </Description>
            <Extra>
                Additional Details
            </Extra>
        </Content>
    </Item>
    <Item>
        <Image Src=""img/image.png""  UI=""false""/>
        <Content>
            <Anchor Header>
                Header
            </Anchor>
            <Introduction>Description</Introduction>
            <Description>
                <ParagraphDemo />
            </Description>
            <Extra>
                Additional Details
            </Extra>
        </Content>
    </Item>
</ItemList>
```
")
            </CodeTemplate>
        </PresentationPart>
        <PresentationPart Title="Image">
            <Description>An item can contain an image</Description>
            <RunTemplate>
                <Message State="State.Warning">
                    You have to set <code>UI="false"</code> for <code>Image</code> component without <code>Size</code> parameter.
                </Message>
                <ItemList>
                    <Item>
                        <Image Src="/img/image.png" UI="false" />
                    </Item>
                    <Item>
                        <Image Src="/img/image.png" UI="false" />
                    </Item>
                    <Item>
                        <Image Src="/img/image.png" UI="false" />
                    </Item>
                </ItemList>

                <ItemList>
                    <Item>
                        <Image Src="/img/image.png" Size="Size.Tiny" />
                    </Item>
                    <Item>
                        <Image Src="/img/image.png" Size="Size.Tiny" />
                    </Item>
                    <Item>
                        <Image Src="/img/image.png" Size="Size.Tiny" />
                    </Item>
                </ItemList>
            </RunTemplate>
            <CodeTemplate>
                @Code.GetCode(@"
```html
<ItemList>
    <Item>
        <Image Src=""/img/image.png"" UI=""false"" />
    </Item>
    <Item>
        <Image Src=""/img/image.png"" UI=""false"" />
    </Item>
    <Item>
        <Image Src=""/img/image.png"" UI=""false"" />
    </Item>
</ItemList>

<ItemList>
    <Item>
        <Image Src=""/img/image.png"" Size=""Size.Tiny"" />
    </Item>
    <Item>
        <Image Src=""/img/image.png"" Size=""Size.Tiny"" />
    </Item>
    <Item>
        <Image Src=""/img/image.png"" Size=""Size.Tiny"" />
    </Item>
</ItemList>
```
")
            </CodeTemplate>
        </PresentationPart>
        <PresentationPart Title="Divider">
            <Description>
                Items can be divided to better distinguish between grouped content
            </Description>
            <RunTemplate>
                <ItemList Divider>
                    <Item>
                        <Image Src="img/image.png" UI="false"/>
                    </Item>
                    <Item>
                        <Image Src="img/image.png"  UI="false"/>
                    </Item>
                    <Item>
                        <Image Src="img/image.png"  UI="false"/>
                    </Item>
                </ItemList>
            </RunTemplate>
            <CodeTemplate>
        @Code.GetCode(@"
```html
<ItemList Divider>
    <Item>
        <Image Src=""img/image.png"" UI=""false"" />
    </Item>
    <Item>
        <Image Src=""img/image.png"" UI=""false"" />
    </Item>
    <Item>
        <Image Src=""img/image.png"" UI=""false"" />
    </Item>
</ItemList>
```
")
            </CodeTemplate>
        </PresentationPart>
        <PresentationPart Title="Vertical Alignment">
            <Description>
                Content can specify its vertical alignment
            </Description>
    <RunTemplate>
        <ItemList>
            <Item>
                <Image Size="Size.Tiny" Src="img/image.png" />
                <Content VerticalAlignment="VerticalAlignment.Top">Top Aligned</Content>
            </Item>
            <Item>
                <Image Size="Size.Tiny" Src="img/image.png" />
                <Content VerticalAlignment="VerticalAlignment.Middle">Middle Aligned</Content>
            </Item>
            <Item>
                <Image Size="Size.Tiny" Src="img/image.png" />
                <Content VerticalAlignment="VerticalAlignment.Bottom">Bottom Aligned</Content>
            </Item>
        </ItemList>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<ItemList>
    <Item>
        <Image Size=""Size.Tiny"" Src=""img/image.png"" />
        <Content VerticalAlignment=""VerticalAlignment.Top"">Top Aligned</Content>
    </Item>
    <Item>
        <Image Size=""Size.Tiny"" Src=""img/image.png"" />
        <Content VerticalAlignment=""VerticalAlignment.Middle"">Middle Aligned</Content>
    </Item>
    <Item>
        <Image Size=""Size.Tiny"" Src=""img/image.png"" />
        <Content VerticalAlignment=""VerticalAlignment.Bottom"">Bottom Aligned</Content>
    </Item>
</ItemList>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Unstackable">
            <Description>
                A table can specify how it stacks items responsively
            </Description>
    <RunTemplate>
        <ItemList Unstackable>
            <Item>
                <Image UI Size="Size.Tiny" Src="img/image.png" />
                <Content VerticalAlignment="VerticalAlignment.Top">Top Aligned</Content>
            </Item>
            <Item>
                <Image UI Size="Size.Tiny" Src="img/image.png" />
                <Content VerticalAlignment="VerticalAlignment.Middle">Middle Aligned</Content>
            </Item>
            <Item>
                <Image UI Size="Size.Tiny" Src="img/image.png" />
                <Content VerticalAlignment="VerticalAlignment.Bottom">Bottom Aligned</Content>
            </Item>
        </ItemList>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<ItemList Unstackable>
    <Item>
        <Image UI Size=""Size.Tiny"" Src=""img/image.png"" />
        <Content VerticalAlignment=""VerticalAlignment.Top"">Top Aligned</Content>
    </Item>
    <Item>
        <Image UI Size=""Size.Tiny"" Src=""img/image.png"" />
        <Content VerticalAlignment=""VerticalAlignment.Middle"">Middle Aligned</Content>
    </Item>
    <Item>
        <Image UI Size=""Size.Tiny"" Src=""img/image.png"" />
        <Content VerticalAlignment=""VerticalAlignment.Bottom"">Bottom Aligned</Content>
    </Item>
</ItemList>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Introduction">
            <Description>
                An item can contain content metadata
            </Description>
    <RunTemplate>
        <ItemList>
            <Item>
                <Image Src="img/image.png"  UI="false"/>
                <Content>
                    <Header2>Cute Dog</Header2>
                    <Introduction>
                        <List Horizontal>
                            <Item>
                                ￥399.00
                            </Item>
                            <Item>
                                <Icon IconClass="heart" />305
                            </Item>
                        </List>
                    </Introduction>
                    <ParagraphDemo />
                </Content>
            </Item>
            <Item>
                <Image Src="img/image.png"  UI="false"/>
                <Content>
                    <Header2>Soft Cat</Header2>
                    <Introduction>
                        <List Horizontal>
                            <Item>
                                ￥59.00
                            </Item>
                            <Item>
                                <Icon IconClass="heart" />172
                            </Item>
                        </List>
                    </Introduction>
                    <ParagraphDemo />
                </Content>
            </Item>
        </ItemList>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<ItemList>
    <Item>
        <Image Src=""img/image.png"" UI=""false"" />
        <Content>
            <Header2>Cute Dog</Header2>
            <Introduction>
                <List Horizontal>
                    <Item>
                        ￥399.00
                    </Item>
                    <Item>
                        <Icon IconClass=""heart"" />305
                    </Item>
                </List>
            </Introduction>
            <ParagraphDemo />
        </Content>
    </Item>
    <Item>
        <Image Src=""img/image.png"" UI=""false"" />
        <Content>
            <Header2>Soft Cat</Header2>
            <Introduction>
                <List Horizontal>
                    <Item>
                        ￥59.00
                    </Item>
                    <Item>
                        <Icon IconClass=""heart"" />172
                    </Item>
                </List>
            </Introduction>
            <ParagraphDemo />
        </Content>
    </Item>
</ItemList>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Description">
            <Description>
                An item can contain a description with a single or multiple paragraphs
            </Description>
    <RunTemplate>
        <ItemList>
            <Item>
                <Image Src="img/image.png" UI="false"/>
                <Content>
                    <Header2>Cute Dog</Header2>
                    <Description>
                        Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.

                        <p>Many people also have their own barometers for what makes a cute dog.</p>
                    </Description>
                </Content>
            </Item>
        </ItemList>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<ItemList>
    <Item>
        <Image Src=""img/image.png"" UI=""false"" />
        <Content>
            <Header2>Cute Dog</Header2>
            <Description>
                Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.
                <p>Many people also have their own barometers for what makes a cute dog.</p>
            </Description>
        </Content>
    </Item>
</ItemList>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Extra Content">
            <Description>
                An item can contain extra content meant to be formatted separately from the main content
            </Description>
    <RunTemplate>
        <ItemList>
            <Item>
                <Content>
                    <Header2>Cute Dog</Header2>
                    <Description>
                        <ParagraphDemo/>
                    </Description>
                    <Extra>
                        <Icon Color="Color.Green" IconClass="check"/> 1351 Votes
                    </Extra>
                </Content>
            </Item>
        </ItemList>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<ItemList>
    <Item>
        <Content>
            <Header2>Cute Dog</Header2>
            <Description>
                <ParagraphDemo/>
            </Description>
            <Extra>
                <Icon Color=""Color.Green"" IconClass=""check""/> 1351 Votes
            </Extra>
        </Content>
    </Item>
</ItemList>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Link">
            <Description>
                An item can contain links as images, headers, or inside content
            </Description>
    <RunTemplate>
        <ItemList Linked>
            <Item>
                <Image Src="img/image.png" UI="false" />
                <Content>
                    <Header2>Cute Dog</Header2>
                    <ParagraphDemo />
                </Content>
            </Item>
            <Item>
                <Image Src="img/image.png" UI="false" />
                <Content>
                    <Header2>Happy Cat</Header2>
                    <ParagraphDemo />
                </Content>
            </Item>
            <Item>
                <Image Src="img/image.png" UI="false" />
                <Content>
                    <Header2>Brave Bear</Header2>
                    <ParagraphDemo />
                </Content>
            </Item>
        </ItemList>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<ItemList Linked>
    <Item>
        <Image Src=""img/image.png"" UI=""false"" />
        <Content>
            <Header2>>Cute Dog</Header2>
            <ParagraphDemo />
        </Content>
    </Item>
    <Item>
        <Image Src=""img/image.png"" UI=""false"" />
        <Content>
            <Header2>Happy Cat</Header2>
            <ParagraphDemo />
        </Content>
    </Item>
    <Item>
        <Image Src=""img/image.png"" UI=""false"" />
        <Content>
            <Header2>Brave Bear</Header2>
            <ParagraphDemo />
        </Content>
    </Item>
</ItemList>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Floated Content">
    <RunTemplate>
          <ItemList>
            <Item>
                <Content>
                    <Header2>Cute Dog</Header2>
                    <ParagraphDemo />
                    <Extra>                        
                        <Button Linked Floated="HorizontalPosition.Right">
                            Read More >>
                        </Button>
                    </Extra>
                </Content>
            </Item>
            <Item>
                <Content>
                    <Header2>Super Cat</Header2>
                    <ParagraphDemo />
                    <Extra>
                        <Button Linked Floated="HorizontalPosition.Right">
                            Read More >>
                        </Button>
                    </Extra>
                </Content>
            </Item>
            <Item>
                <Content>
                    <Header2>Legend of Bear</Header2>
                    <ParagraphDemo />
                    <Extra>
                        <Button Linked Floated="HorizontalPosition.Right">
                            Read More >>
                        </Button>
                    </Extra>
                </Content>
            </Item>
        </ItemList>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
    <ItemList>
    <Item>
        <Content>
            <Header2>Cute Dog</Header2>
            <ParagraphDemo />
            <Extra>                        
                <Button Linked Floated=""HorizontalPosition.Right"">
                    Read More >>
                </Button>
            </Extra>
        </Content>
    </Item>
    <Item>
        <Content>
            <Header2>Super Cat</Header2>
            <ParagraphDemo />
            <Extra>
                <Button Linked Floated=""HorizontalPosition.Right"">
                    Read More >>
                </Button>
            </Extra>
        </Content>
    </Item>
    <Item>
        <Image Src=""img/image.png"" />
        <Content>
            <Header2>Legend of Bear</Header2>
            <ParagraphDemo />
            <Extra>
                <Button Linked Floated=""HorizontalPosition.Right"">
                    Read More >>
                </Button>
            </Extra>
        </Content>
    </Item>
</ItemList>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Inverted">
            <Description>
                An item can be inverted to appear on a dark background
            </Description>
    <RunTemplate>
        <Segment Inverted>
            <ItemList Inverted>
                <Item>
                    <Image Src="img/image.png" UI="false" />
                    <Content>
                        <Header2>Title 1</Header2>
                        <Introduction>
                            ￥2999
                        </Introduction>
                        <ParagraphDemo />
                    </Content>
                </Item>
                <Item>
                    <Image Src="img/image.png" UI="false" />
                    <Content>
                        <Header2>Title 2</Header2>
                        <Introduction>
                            ￥599
                        </Introduction>
                        <ParagraphDemo />
                    </Content>
                </Item>
            </ItemList>
        </Segment>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment Inverted>
    <ItemList Inverted>
        <Item>
            <Image Src=""img/image.png"" UI=""false"" />
            <Content>
                <Header2>Title 1</Header2>
                <Introduction>
                    ￥2999
                </Introduction>
                <ParagraphDemo />
            </Content>
        </Item>
        <Item>
            <Image Src=""img/image.png"" UI=""false"" />
            <Content>
                <Header2>Title 2</Header2>
                <Introduction>
                    ￥599
                </Introduction>
                <ParagraphDemo />
            </Content>
        </Item>
    </ItemList>
</Segment>
```
")
    </CodeTemplate>
</PresentationPart>
    </Body>
</Pager>