@page "/component/layout/list"

<Pager DataSource="Menu">
    <Body>
        <Header1 Divider>
            List
            <SubHeader>
                A list is used to group related content
            </SubHeader>
        </Header1>

<PresentationPart Title="Demo">
    <RunTemplate>
        <List>
            <Item>Apple</Item>
            <Item>Banana</Item>
            <Item>Orange</Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List>
    <Item>Apple</Item>
    <Item>Banana</Item>
    <Item>Orange</Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart>
    <RunTemplate>
        <List>
            <Item>
                <Icon IconClass="users" />
                <Content>
                    James
                </Content>
            </Item>
            <Item>
                <Icon IconClass="marker" />
                <Content>
                    New York NY
                </Content>
            </Item>
            <Item>
                <Icon IconClass="mail" />
                <Content>
                    <Anchor Link="mailto:www.bing.com">www.bing.com</Anchor>
                </Content>
            </Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List>
    <Item>
        <Icon IconClass=""users""/>
        <Content>
            James
        </Content>
    </Item>
    <Item>
        <Icon IconClass=""marker""/>
        <Content>
            New York NY
        </Content>
    </Item>
    <Item>
        <Icon IconClass=""mail""/>
        <Content>
            <Anchor Link=""mailto:www.bing.com"">www.bing.com</Anchor>
        </Content>
    </Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Divider">
    <RunTemplate>
        <List Relaxed Divider>
            <Item>
                <Icon Size="Size.Large" VerticalAlignment="VerticalAlignment.Middle" IconClass="github" />
                <Content>
                    <Anchor Header Link="#">BlanmaticUI/src</Anchor>
                    <Description>
                        Updated 10 mins ago
                    </Description>
                </Content>
            </Item>
            <Item>
                <Icon Size="Size.Large" VerticalAlignment="VerticalAlignment.Middle" IconClass="github" />
                <Content>
                    <Anchor Header Link="#">BlanmaticUI/doc</Anchor>
                    <Description>
                        Updated 22 mins ago
                    </Description>
                </Content>
            </Item>
            <Item>
                <Icon Size="Size.Large" VerticalAlignment="VerticalAlignment.Middle" IconClass="github" />
                <Content>
                    <Anchor Header Link="#">BlanmaticUI/demo</Anchor>
                    <Description>
                        Updated 48 mins ago
                    </Description>
                </Content>
            </Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Relaxed Divider>
    <Item>
        <Icon Size=""Size.Large"" VerticalAlignment=""VerticalAlignment.Middle"" IconClass=""github"" />
        <Content>
            <Anchor Header Link=""#"">BlanmaticUI/src</Anchor>
            <Description>
                Updated 10 mins ago
            </Description>
        </Content>
    </Item>
    <Item>
        <Icon Size=""Size.Large"" VerticalAlignment=""VerticalAlignment.Middle"" IconClass=""github"" />
        <Content>
            <Anchor Header Link=""#"">BlanmaticUI/doc</Anchor>
            <Description>
                Updated 22 mins ago
            </Description>
        </Content>
    </Item>
    <Item>
        <Icon Size=""Size.Large"" VerticalAlignment=""VerticalAlignment.Middle"" IconClass=""github"" />
        <Content>
            <Anchor Header Link=""#"">BlanmaticUI/demo</Anchor>
            <Description>
                Updated 48 mins ago
            </Description>
        </Content>
    </Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart>
    <RunTemplate>
        <List>
            <Item>
                <Icon IconClass="folder" />
                <Content>
                    <Header>src</Header>
                    <Description>Srouce</Description>
                    <List>
                        <Item>
                            <Icon IconClass="folder" />
                            <Content>
                                <Header>Site</Header>
                                <Description>Site Theme</Description>
                            </Content>
                        </Item>
                    </List>
                </Content>
            </Item>
            <Item>
                <Icon IconClass="folder" />
                <Content>
                    <Header>themes</Header>
                    <Description>The main theme</Description>
                    <List>
                        <Item>
                            <Icon IconClass="folder" />
                            <Content>
                                <Header>default</Header>
                                <Description>Default Theme</Description>
                                <List>
                                    <Item>
                                        <Icon IconClass="file" />
                                        <Content>
                                            <Header>default.css</Header>
                                        </Content>
                                    </Item>
                                    <Item>
                                        <Icon IconClass="file" />
                                        <Content>
                                            <Header>asset.css</Header>
                                        </Content>
                                    </Item>
                                </List>
                            </Content>
                        </Item>
                        <Item>
                            <Icon IconClass="folder" />
                            <Content>
                                <Header>bootstrap</Header>
                                <Description>Bootstrap</Description>
                                <List>
                                    <Item>
                                        <Icon IconClass="file" />
                                        <Content>
                                            <Header>default.css</Header>
                                        </Content>
                                    </Item>
                                    <Item>
                                        <Icon IconClass="file" />
                                        <Content>
                                            <Header>asset.css</Header>
                                        </Content>
                                    </Item>
                                </List>
                            </Content>
                        </Item>
                    </List>
                </Content>
            </Item>
            <Item>
                <Icon IconClass="folder" />
                <Content>
                    <Header>test</Header>
                    <Description>The test project</Description>
                    <List>
                        <Item>
                            <Icon IconClass="file" />
                            <Content>
                                <Header>Test.csproj</Header>
                            </Content>
                        </Item>
                        <Item>
                            <Icon IconClass="file" />
                            <Content>
                                <Header>TestClass.cs</Header>
                            </Content>
                        </Item>
                    </List>
                </Content>
            </Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List>
    <Item>
        <Icon IconClass=""folder"" />
        <Content>
            <Header>src</Header>
            <Description>Srouce</Description>
            <List>
                <Item>
                    <Icon IconClass=""folder"" />
                    <Content>
                        <Header>Site</Header>
                        <Description>Site Theme</Description>
                    </Content>
                </Item>
            </List>
        </Content>
    </Item>
    <Item>
        <Icon IconClass=""folder"" />
        <Content>
            <Header>themes</Header>
            <Description>The main theme</Description>
            <List>
                <Item>
                    <Icon IconClass=""folder"" />
                    <Content>
                        <Header>default</Header>
                        <Description>Default Theme</Description>
                        <List>
                            <Item>
                                <Icon IconClass=""file"" />
                                <Content>
                                    <Header>default.css</Header>
                                </Content>
                            </Item>
                            <Item>
                                <Icon IconClass=""file"" />
                                <Content>
                                    <Header>asset.css</Header>
                                </Content>
                            </Item>
                        </List>
                    </Content>
                </Item>
                <Item>
                    <Icon IconClass=""folder"" />
                    <Content>
                        <Header>bootstrap</Header>
                        <Description>Bootstrap</Description>
                        <List>
                            <Item>
                                <Icon IconClass=""file"" />
                                <Content>
                                    <Header>default.css</Header>
                                </Content>
                            </Item>
                            <Item>
                                <Icon IconClass=""file"" />
                                <Content>
                                    <Header>asset.css</Header>
                                </Content>
                            </Item>
                        </List>
                    </Content>
                </Item>
            </List>
        </Content>
    </Item>
    <Item>
        <Icon IconClass=""folder"" />
        <Content>
            <Header>test</Header>
            <Description>The test project</Description>
            <List>
                <Item>
                    <Icon IconClass=""file"" />
                    <Content>
                        <Header>Test.csproj</Header>
                    </Content>
                </Item>
                <Item>
                    <Icon IconClass=""file"" />
                    <Content>
                        <Header>TestClass.cs</Header>
                    </Content>
                </Item>
            </List>
        </Content>
    </Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Bulleted">
    <Description>
        A list can mark items with a bullet
    </Description>
    <RunTemplate>
        <List Bulleted>
            <Item>Gaining Access</Item>
            <Item>Inviting Friends</Item>
            <Item>
                <Content>
                    Benefits
                    <List>
                        <Item><Anchor Link="#">Link to somewhere</Anchor></Item>
                        <Item>Rebates</Item>
                        <Item>Discounts</Item>
                    </List>
                </Content>
            </Item>
            <Item>Warranty</Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Bulleted>
    <Item>Gaining Access</Item>
    <Item>Inviting Friends</Item>
    <Item>
        <Content>
            Benefits
            <List>
                <Item><Anchor Link=""#"">Link to somewhere</Anchor></Item>
                <Item>Rebates</Item>
                <Item>Discounts</Item>
            </List>
        </Content>
    </Item>
    <Item>Warranty</Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart>
            <RunTemplate>
                <List Horizontal Bulleted>
                    <Item>About Us</Item>
                    <Item>Sitemap</Item>
                    <Item>Contact</Item>
                </List>
            </RunTemplate>
            <CodeTemplate>
                @Code.GetCode(@"
```html
<List Horizontal Bulleted>
    <Item>About Us</Item>
    <Item>Sitemap</Item>
    <Item>Contact</Item>
</List>
```
")
            </CodeTemplate>
        </PresentationPart>

<PresentationPart Title="Ordered">
    <Description>
        A list can be ordered numerically
    </Description>
    <RunTemplate>
        <List Ordered>
            <Item>Gaining Access</Item>
            <Item>Inviting Friends</Item>
            <Item>
                <Content>
                    Benefits
                    <List>
                        <Item><Anchor Link="#">Link to somewhere</Anchor></Item>
                        <Item>Rebates</Item>
                        <Item>Discounts</Item>
                    </List>
                </Content>
            </Item>
            <Item>Warranty</Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Ordered>
    <Item>Gaining Access</Item>
    <Item>Inviting Friends</Item>
    <Item>
        <Content>
            Benefits
            <List>
                <Item><Anchor Link=""#"">Link to somewhere</Anchor></Item>
                <Item>Rebates</Item>
                <Item>Discounts</Item>
            </List>
        </Content>
    </Item>
    <Item>Warranty</Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>


<PresentationPart Title="Suffixed">
    <Description>
        An ordered list has a suffixed variation in which a dot . follows number.
    </Description>
    <RunTemplate>
        <List Ordered Suffixed>
            <Item>Gaining Access</Item>
            <Item>Inviting Friends</Item>
            <Item>
                <Content>
                    Benefits
                    <List>
                        <Item><Anchor Link="#">Link to somewhere</Anchor></Item>
                        <Item>Rebates</Item>
                        <Item>Discounts</Item>
                    </List>
                </Content>
            </Item>
            <Item>Warranty</Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Ordered>
    <Item>Gaining Access</Item>
    <Item>Inviting Friends</Item>
    <Item>
        <Content>
            Benefits
            <List>
                <Item><Anchor Link=""#"">Link to somewhere</Anchor></Item>
                <Item>Rebates</Item>
                <Item>Discounts</Item>
            </List>
        </Content>
    </Item>
    <Item>Warranty</Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Linked">
    <Description>A list can be specially formatted for navigation links</Description>
    <RunTemplate>
        <List Linked>
            <LinkItem Actived Link="#">Home</LinkItem>
            <LinkItem Link="#">About</LinkItem>
            <LinkItem Link="#">Contact</LinkItem>
            <LinkItem Link="#">Team</LinkItem>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Linked>
    <LinkItem Actived Link=""#"">Home</LinkItem>
    <LinkItem Link=""#"">About</LinkItem>
    <LinkItem Link=""#"">Contact</LinkItem>
    <LinkItem Link=""#"">Team</LinkItem>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

        <PresentationPart Title="Icon">
            <Description>A list item can contain an icon</Description>
            <RunTemplate>
                <List VerticalAlignment="VerticalAlignment.Middle">
                    <Item>
                        <Icon IconClass="help"></Icon>
                        <Content>
                            This text will always have a left margin to make sure it sits alongside your icon
                        </Content>
                    </Item>
                    <Item>
                        <Icon IconClass="help"></Icon>
                        <Content>
                            Floated icons are by default top aligned. To have an icon top aligned try this example.
                        </Content>
                    </Item>
                </List>
            </RunTemplate>
            <CodeTemplate>
                @Code.GetCode(@"
```html
<List VerticalAlignment=""VerticalAlignment.Middle"">
    <Item>
        <Icon IconClass=""help""></Icon>
        <Content>
            This text will always have a left margin to make sure it sits alongside your icon
        </Content>
    </Item>
    <Item>
        <Icon IconClass=""help""></Icon>
        <Content>
            Floated icons are by default top aligned. To have an icon top aligned try this example.
        </Content>
    </Item>
</List>
```
")
            </CodeTemplate>
        </PresentationPart>

<PresentationPart Title="Image">
    <RunTemplate>
        <List>
            <Item>
                <Avatar Src="img/avatar/zoe.jpg" />
                <Content>
                    <Header>Zoe</Header>
                    <Description>
                        This text will always have a left margin to make sure it sits alongside your icon
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/christian.jpg" />
                <Content>
                    <Header>Christian</Header>
                    <Description>
                        Floated icons are by default top aligned. To have an icon top aligned try this example.
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/veronika.jpg" />
                <Content>
                    <Description>
                        Inline text
                    </Description>
                </Content>
            </Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List>
    <Item>
        <Avatar Src=""img/avatar/zoe.jpg"" />
        <Content>
            <Header>Zoe</Header>
            <Description>
                This text will always have a left margin to make sure it sits alongside your icon
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/christian.jpg"" />
        <Content>
            <Header>Christian</Header>
            <Description>
                Floated icons are by default top aligned. To have an icon top aligned try this example.
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/veronika.jpg"" />
        <Content>
            <Description>
                Inline text
            </Description>
        </Content>
    </Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="LinkItem">
    <RunTemplate>
        <List>
            <LinkItem Link="#">Google</LinkItem>
            <LinkItem Link="#">LinkedIn</LinkItem>
            <LinkItem Link="#">Bing</LinkItem>
            <LinkItem Link="#">Facebook</LinkItem>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
        <List>
            <LinkItem Link=""#"">Google</LinkItem>
            <LinkItem Link=""#"">LinkedIn</LinkItem>
            <LinkItem Link=""#"">Bing</LinkItem>
            <LinkItem Link=""#"">Facebook</LinkItem>
        </List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Horizontal">
    <Description>
        A list can be formatted to have items appear horizontally
    </Description>
    <RunTemplate>
        <List Horizontal>
            <Item>
                <Avatar Src="img/avatar/zoe.jpg" />
                <Content>
                    <Header>Zoe</Header>
                    <Description>
                        User
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/christian.jpg" />
                <Content>
                    <Header>Christian</Header>
                    <Description>
                        Developer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/jenny.jpg" />
                <Content>
                    <Header>Jenny</Header>
                    <Description>
                        UI Designer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/veronika.jpg" />
                <Content>
                    <Header>Veronika</Header>
                    <Description>
                        Project Manager
                    </Description>
                </Content>
            </Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Horizontal>
    <Item>
        <Avatar Src=""img/avatar/zoe.jpg"" />
        <Content>
            <Header>Zoe</Header>
            <Description>
                User
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/christian.jpg"" />
        <Content>
            <Header>Christian</Header>
            <Description>
                Developer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/jenny.jpg"" />
        <Content>
            <Header>Jenny</Header>
            <Description>
                UI Designer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/veronika.jpg"" />
        <Content>
            <Header>Veronika</Header>
            <Description>
                Project Manager
            </Description>
        </Content>
    </Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Selectable">
    <Description>
        A selection list formats list items as possible choices
    </Description>
    <RunTemplate>
        <List Selectable VerticalAlignment="VerticalAlignment.Middle">
            <Item>
                <Avatar Src="img/avatar/zoe.jpg" />
                <Content>
                    <Header>Zoe</Header>
                    <Description>
                        User
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/christian.jpg" />
                <Content>
                    <Header>Christian</Header>
                    <Description>
                        Developer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/jenny.jpg" />
                <Content>
                    <Header>Jenny</Header>
                    <Description>
                        UI Designer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/veronika.jpg" />
                <Content>
                    <Header>Veronika</Header>
                    <Description>
                        Project Manager
                    </Description>
                </Content>
            </Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Selectable VerticalAlignment=""VerticalAlignment.Middle"" >
    <Item>
        <Avatar Src=""img/avatar/zoe.jpg"" />
        <Content>
            <Header>Zoe</Header>
            <Description>
                User
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/christian.jpg"" />
        <Content>
            <Header>Christian</Header>
            <Description>
                Developer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/jenny.jpg"" />
        <Content>
            <Header>Jenny</Header>
            <Description>
                UI Designer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/veronika.jpg"" />
        <Content>
            <Header>Veronika</Header>
            <Description>
                Project Manager
            </Description>
        </Content>
    </Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Animated">
    <Description>
        A list can animate to set the current item apart from the list

        <Message State="State.Warning">
            Be sure content can fit on one line when using the animated variation, otherwise text content will reflow when hovered.
        </Message>
    </Description>
    <RunTemplate>
        <List Animated VerticalAlignment="VerticalAlignment.Middle">
            <Item>
                <Avatar Src="img/avatar/zoe.jpg" />
                <Content>
                    <Header>Zoe</Header>
                    <Description>
                        User
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/christian.jpg" />
                <Content>
                    <Header>Christian</Header>
                    <Description>
                        Developer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/jenny.jpg" />
                <Content>
                    <Header>Jenny</Header>
                    <Description>
                        UI Designer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/veronika.jpg" />
                <Content>
                    <Header>Veronika</Header>
                    <Description>
                        Project Manager
                    </Description>
                </Content>
            </Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Animated VerticalAlignment=""VerticalAlignment.Middle"">
    <Item>
        <Avatar Src=""img/avatar/zoe.jpg"" />
        <Content>
            <Header>Zoe</Header>
            <Description>
                User
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/christian.jpg"" />
        <Content>
            <Header>Christian</Header>
            <Description>
                Developer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/jenny.jpg"" />
        <Content>
            <Header>Jenny</Header>
            <Description>
                UI Designer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/veronika.jpg"" />
        <Content>
            <Header>Veronika</Header>
            <Description>
                Project Manager
            </Description>
        </Content>
    </Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Celled">
    <Description>
        A list can divide its items into cells
    </Description>
    <RunTemplate>
        <List Celled VerticalAlignment="VerticalAlignment.Middle">
            <Item>
                <Avatar Src="img/avatar/zoe.jpg" />
                <Content>
                    <Header>Zoe</Header>
                    <Description>
                        User
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/christian.jpg" />
                <Content>
                    <Header>Christian</Header>
                    <Description>
                        Developer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/jenny.jpg" />
                <Content>
                    <Header>Jenny</Header>
                    <Description>
                        UI Designer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/veronika.jpg" />
                <Content>
                    <Header>Veronika</Header>
                    <Description>
                        Project Manager
                    </Description>
                </Content>
            </Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Celled VerticalAlignment=""VerticalAlignment.Middle"">
    <Item>
        <Avatar Src=""img/avatar/zoe.jpg"" />
        <Content>
            <Header>Zoe</Header>
            <Description>
                User
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/christian.jpg"" />
        <Content>
            <Header>Christian</Header>
            <Description>
                Developer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/jenny.jpg"" />
        <Content>
            <Header>Jenny</Header>
            <Description>
                UI Designer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/veronika.jpg"" />
        <Content>
            <Header>Veronika</Header>
            <Description>
                Project Manager
            </Description>
        </Content>
    </Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart>
    <RunTemplate>
        <List Celled Horizontal>
            <Item>
                Version
            </Item>
            <Item>
                About
            </Item>
            <Item>
                Source
            </Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Celled Horizontal>
    <Item>
        版本
    </Item>
    <Item>
        关于
    </Item>
    <Item>
        源码
    </Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="尺寸">
    <Description>
        <Description>设置 <code>Size</code> 可让列表拥有不同的尺寸。</Description>
    </Description>
    <RunTemplate>
        <List Size="Size.Mini" Horizontal VerticalAlignment="VerticalAlignment.Middle">
            <Item>
                <Avatar Src="img/avatar/zoe.jpg" />
                <Content>
                    <Header>Zoe</Header>
                    <Description>
                        User
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/christian.jpg" />
                <Content>
                    <Header>Christian</Header>
                    <Description>
                        Developer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/jenny.jpg" />
                <Content>
                    <Header>Jenny</Header>
                    <Description>
                        UI Designer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/veronika.jpg" />
                <Content>
                    <Header>Veronika</Header>
                    <Description>
                        Project Manager
                    </Description>
                </Content>
            </Item>
        </List>
        <br />
        <List Size="Size.Large" Horizontal VerticalAlignment="VerticalAlignment.Middle">
            <Item>
                <Avatar Src="img/avatar/zoe.jpg" />
                <Content>
                    <Header>Zoe</Header>
                    <Description>
                        User
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/christian.jpg" />
                <Content>
                    <Header>Christian</Header>
                    <Description>
                        Developer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/jenny.jpg" />
                <Content>
                    <Header>Jenny</Header>
                    <Description>
                        UI Designer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/veronika.jpg" />
                <Content>
                    <Header>Veronika</Header>
                    <Description>
                        Project Manager
                    </Description>
                </Content>
            </Item>
        </List>
        <br />
        <List Size="Size.Massive" Horizontal VerticalAlignment="VerticalAlignment.Middle">
            <Item>
                <Avatar Src="img/avatar/zoe.jpg" />
                <Content>
                    <Header>Zoe</Header>
                    <Description>
                        User
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/christian.jpg" />
                <Content>
                    <Header>Christian</Header>
                    <Description>
                        Developer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/jenny.jpg" />
                <Content>
                    <Header>Jenny</Header>
                    <Description>
                        UI Designer
                    </Description>
                </Content>
            </Item>
            <Item>
                <Avatar Src="img/avatar/veronika.jpg" />
                <Content>
                    <Header>Veronika</Header>
                    <Description>
                        Project Manager
                    </Description>
                </Content>
            </Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Size=""Size.Mini"" Horizontal VerticalAlignment=""VerticalAlignment.Middle"">
    <Item>
        <Avatar Src=""img/avatar/zoe.jpg"" />
        <Content>
            <Header>Zoe</Header>
            <Description>
                User
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/christian.jpg"" />
        <Content>
            <Header>Christian</Header>
            <Description>
                Developer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/jenny.jpg"" />
        <Content>
            <Header>Jenny</Header>
            <Description>
                UI Designer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/veronika.jpg"" />
        <Content>
            <Header>Veronika</Header>
            <Description>
                Project Manager
            </Description>
        </Content>
    </Item>
</List>

<List Size=""Size.Large"" Horizontal VerticalAlignment=""VerticalAlignment.Middle"">
     <Item>
        <Avatar Src=""img/avatar/zoe.jpg"" />
        <Content>
            <Header>Zoe</Header>
            <Description>
                User
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/christian.jpg"" />
        <Content>
            <Header>Christian</Header>
            <Description>
                Developer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/jenny.jpg"" />
        <Content>
            <Header>Jenny</Header>
            <Description>
                UI Designer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/veronika.jpg"" />
        <Content>
            <Header>Veronika</Header>
            <Description>
                Project Manager
            </Description>
        </Content>
    </Item>
</List>

<List Size=""Size.Massive""  Horizontal VerticalAlignment=""VerticalAlignment.Middle"">
     <Item>
        <Avatar Src=""img/avatar/zoe.jpg"" />
        <Content>
            <Header>Zoe</Header>
            <Description>
                User
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/christian.jpg"" />
        <Content>
            <Header>Christian</Header>
            <Description>
                Developer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/jenny.jpg"" />
        <Content>
            <Header>Jenny</Header>
            <Description>
                UI Designer
            </Description>
        </Content>
    </Item>
    <Item>
        <Avatar Src=""img/avatar/veronika.jpg"" />
        <Content>
            <Header>Veronika</Header>
            <Description>
                Project Manager
            </Description>
        </Content>
    </Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Floated">
    <Description>
        An list, or an element inside a list can be floated left or right
    </Description>
    <RunTemplate>
        <List Divider VerticalAlignment="VerticalAlignment.Middle">
            <Item>
                <Content Floated="HorizontalPosition.Right"><Button Color="Color.Blue">Add</Button></Content>
                <Avatar Src="img/avatar/zoe.jpg" />
                <Content>
                    <Header>Zoe</Header>
                </Content>
            </Item>
            <Item>
                <Content Floated="HorizontalPosition.Right"><Button Color="Color.Blue">Add</Button></Content>
                <Avatar Src="img/avatar/christian.jpg" />
                <Content>
                    <Header>Christian</Header>
                </Content>
            </Item>
            <Item>
                <Content Floated="HorizontalPosition.Right"><Button Color="Color.Blue">Add</Button></Content>
                <Avatar Src="img/avatar/jenny.jpg" />
                <Content>
                    <Header>Jenny</Header>
                </Content>
            </Item>
            <Item>
                <Content Floated="HorizontalPosition.Right"><Button Color="Color.Blue">Add</Button></Content>
                <Avatar Src="img/avatar/veronika.jpg" />
                <Content>
                    <Header>Veronika</Header>
                </Content>
            </Item>
        </List>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<List Divider VerticalAlignment=""VerticalAlignment.Middle"">
    <Item>
        <Content Floated=""HorizontalPosition.Right""><Button Color=""Color.Blue"">Add</Button></Content>
        <Avatar Src=""img/avatar/zoe.jpg"" />
        <Content>
            <Header>Zoe</Header>
        </Content>
    </Item>
    <Item>
        <Content Floated=""HorizontalPosition.Right""><Button Color=""Color.Blue"">Add</Button></Content>
        <Avatar Src=""img/avatar/christian.jpg"" />
        <Content>
            <Header>Christian</Header>
        </Content>
    </Item>
    <Item>
        <Content Floated=""HorizontalPosition.Right""><Button Color=""Color.Blue"">Add</Button></Content>
        <Avatar Src=""img/avatar/jenny.jpg"" />
        <Content>
            <Header>Jenny</Header>
        </Content>
    </Item>
    <Item>
        <Content Floated=""HorizontalPosition.Right""><Button Color=""Color.Blue"">Add</Button></Content>
        <Avatar Src=""img/avatar/veronika.jpg"" />
        <Content>
            <Header>Veronika</Header>
        </Content>
    </Item>
</List>
```
")
    </CodeTemplate>
</PresentationPart>

        <PresentationPart>
            <RunTemplate>
                <List>
                    <LinkItem>About Us</LinkItem>
                    <LinkItem>Contact</LinkItem>
                </List>
                <List Floated="HorizontalPosition.Right" Horizontal>
                    <Item Disabled>Github, Inc.</Item>
                    <LinkItem>Terms</LinkItem>
                    <LinkItem>Privacy</LinkItem>
                </List>
            </RunTemplate>
            <CodeTemplate>
                @Code.GetCode(@"
```html
<List>
    <LinkItem>About Us</LinkItem>
    <LinkItem>Contact</LinkItem>
</List>
<List Floated=""HorizontalPosition.Right"" Horizontal>
    <Item Disabled>Github, Inc.</Item>
    <LinkItem>Terms</LinkItem>
    <LinkItem>Privacy</LinkItem>
</List>
```
")
            </CodeTemplate>
        </PresentationPart>
    </Body>
</Pager>
@code{
    List<string> Menu = new List<string>(new[]{
        "Demo","Divider","Bulleted","Ordered","Suffixed","Linked","Icon","Image",
        "LinkItem","Horizontal","Selectable","Animated","Celled","Size","Floated"
    });
}