@page "/component/layout/menu"

<Pager DataSource="@(new List<string>(new[]{
                         "示例","垂直显示","超链接菜单",
                         "选中项的颜色","背景颜色","分页","带标题的项","项中使用标题","不同大小的标题项",
                         "子菜单","下拉子菜单","带标题的超链接项","带图标","仅图标","图标文字混搭","带超链接样式的菜单","取消边框","尺寸","导航栏示例", "参数"
                     }))">
    <Body>
<Header1 Divider="true">
    菜单
    <SubHeader>
        菜单显示分组导航操作
    </SubHeader>
</Header1>
        <Segment>
            <code>Menu</code> 作为菜单容器，可使用以下子组建作为菜单的项：
            <List Ordered="true" Suffixed="true">
                <Item>
                    <code>&lt;Item></code> 作为普通文本的项
                </Item>
                <Item>
                    <code>&lt;LinkItem></code> 具有超链接功能的项
                </Item>
                <Item>
                    <code>&lt;DropdDownItem></code> 可以呈现下拉子菜单的项，并使用 <code>SubMenu</code> 作为子菜单容器
                </Item>
            </List>
        </Segment>

<PresentationPart Title="示例">
    <Description>
        设置 <code>Style</code> 展现不同风格，默认是 <code>Default</code>。
    </Description>
    <RunTemplate>
        <Menu>
            <Item>菜单1</Item>
            <Item>菜单2</Item>
            <Item>菜单3</Item>
        </Menu>
        <Menu Style="MenuStyle.Pill">
            <LinkItem Link="./" Actived="true">菜单1</LinkItem>
            <LinkItem Link="./">菜单2</LinkItem>
            <LinkItem Link="./">菜单3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Underline">
            <LinkItem Link="" Actived="true">菜单1</LinkItem>
            <LinkItem Link="">菜单2</LinkItem>
            <LinkItem Link="">菜单3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Pointer">
            <LinkItem Link="" Actived="true">菜单1</LinkItem>
            <LinkItem Link="">菜单2</LinkItem>
            <LinkItem Link="">菜单3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Texted">
            <LinkItem Link="" Actived="true">菜单1</LinkItem>
            <LinkItem Link="">菜单2</LinkItem>
            <LinkItem Link="">菜单3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Tab">
            <LinkItem Link="" Actived="true">菜单1</LinkItem>
            <LinkItem Link="">菜单2</LinkItem>
            <LinkItem Link="">菜单3</LinkItem>
        </Menu>
        <Message State="State.Info">
            建议使用 <Anchor Link="component/tag" Target="LinkTarget.Blank">选项卡(Tab)</Anchor> 组件。
        </Message>
    </RunTemplate>
    <CodeTemplate>
@Code.GetCode(@"
```html
<Menu>
    <Item>菜单1</Item>
    <Item>菜单2</Item>
    <Item>菜单3</Item>
</Menu>
<Menu Style=""MenuStyle.Pill"">
    <LinkItem Link=""./"" Actived=""true"">菜单1</LinkItem>
    <LinkItem Link=""./"">菜单2</LinkItem>
    <LinkItem Link=""./"">菜单3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Underline"">
    <LinkItem Link="""" Actived=""true"">菜单1</LinkItem>
    <LinkItem Link="""">菜单2</LinkItem>
    <LinkItem Link="""">菜单3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Pointer"">
    <LinkItem Link="""" Actived=""true"">菜单1</LinkItem>
    <LinkItem Link="""">菜单2</LinkItem>
    <LinkItem Link="""">菜单3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Texted"">
    <LinkItem Link="""" Actived=""true"">菜单1</LinkItem>
    <LinkItem Link="""">菜单2</LinkItem>
    <LinkItem Link="""">菜单3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Tab"">
    <LinkItem Link="""" Actived=""true"">菜单1</LinkItem>
    <LinkItem Link="""">菜单2</LinkItem>
    <LinkItem Link="""">菜单3</LinkItem>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="垂直显示">
    <Description>
        设置 <code>Vertical="true"</code> 可以垂直显示菜单。
    </Description>
    <RunTemplate>
        <Menu Vertical="true">
            <Item>菜单1</Item>
            <Item>菜单2</Item>
            <Item>菜单3</Item>
        </Menu>
        <Menu Style="MenuStyle.Pill" Vertical="true">
            <LinkItem Link="./" Actived="true">菜单1</LinkItem>
            <LinkItem Link="./">菜单2</LinkItem>
            <LinkItem Link="./">菜单3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Underline" Vertical="true">
            <LinkItem Link="" Actived="true">菜单1</LinkItem>
            <LinkItem Link="">菜单2</LinkItem>
            <LinkItem Link="">菜单3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Pointer" Vertical="true">
            <LinkItem Link="" Actived="true">菜单1</LinkItem>
            <LinkItem Link="">菜单2</LinkItem>
            <LinkItem Link="">菜单3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Texted" Vertical="true">
            <LinkItem Link="" Actived="true">菜单1</LinkItem>
            <LinkItem Link="">菜单2</LinkItem>
            <LinkItem Link="">菜单3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Tab" Vertical="true">
            <LinkItem Link="" Actived="true">菜单1</LinkItem>
            <LinkItem Link="">菜单2</LinkItem>
            <LinkItem Link="">菜单3</LinkItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Vertical=""true"">
    <Item>菜单1</Item>
    <Item>菜单2</Item>
    <Item>菜单3</Item>
</Menu>
<Menu Style=""MenuStyle.Pill"" Vertical=""true"">
    <LinkItem Link=""./"" Actived=""true"">菜单1</LinkItem>
    <LinkItem Link=""./"">菜单2</LinkItem>
    <LinkItem Link=""./"">菜单3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Underline"" Vertical=""true"">
    <LinkItem Link="""" Actived=""true"">菜单1</LinkItem>
    <LinkItem Link="""">菜单2</LinkItem>
    <LinkItem Link="""">菜单3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Pointer"" Vertical=""true"">
    <LinkItem Link="""" Actived=""true"">菜单1</LinkItem>
    <LinkItem Link="""">菜单2</LinkItem>
    <LinkItem Link="""">菜单3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Texted"" Vertical=""true"">
    <LinkItem Link="""" Actived=""true"">菜单1</LinkItem>
    <LinkItem Link="""">菜单2</LinkItem>
    <LinkItem Link="""">菜单3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Tab"" Vertical=""true"">
    <LinkItem Link="""" Actived=""true"">菜单1</LinkItem>
    <LinkItem Link="""">菜单2</LinkItem>
    <LinkItem Link="""">菜单3</LinkItem>
</Menu>
```
")

    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="超链接菜单">
    <Description>
        使用 <code>LinkItem</code> 组件作为具有超链接功能的菜单项，并设置 <code>Link</code> 参数表示页面的连接地址。
        <Message State="State.Info">
            超链接菜单会自动识别浏览器地址是否与 <code>Link</code> 匹配，从而自动设置 <code>Actived</code>，你可以设置 <code>Match</code> 参数规定匹配规则。
        </Message>
    </Description>
    <RunTemplate>
        <Menu>
            <LinkItem Link="">菜单1</LinkItem>
            <LinkItem Link="" Actived="true">菜单2</LinkItem>
            <LinkItem Link="">菜单3</LinkItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
@Code.GetCode(@"
```html
<Menu>
    <LinkItem Link=""#"">菜单1</LinkItem>
    <LinkItem Link=""#"" Actived=""true"">菜单2</LinkItem>
    <LinkItem Link=""#"">菜单3</LinkItem>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>

        <PresentationPart Title="选中项的颜色">
    <Description>
        设置 <code>ActivedColor</code> 表示当菜单的项的 <code>Actived="true"</code> 时的文本颜色。
    </Description>
    <RunTemplate>
        <Menu ActivedColor="Color.Red">
            <Item Actived="true">首页</Item>
            <Item>新闻</Item>
            <Item>关于我们</Item>
        </Menu>
        <Menu ActivedColor="Color.Purple" Style="MenuStyle.Pointer">
            <Item>首页</Item>
            <Item Actived="true">新闻</Item>
            <Item>关于我们</Item>
        </Menu>
        <Menu ActivedColor="Color.Yellow" Style="MenuStyle.Underline">
            <Item>首页</Item>
            <Item>新闻</Item>
            <Item Actived="true">关于我们</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu ActivedColor=""Color.Red"">
    <Item Actived=""true"">首页</Item>
    <Item>新闻</Item>
    <Item>关于我们</Item>
</Menu>
<Menu ActivedColor=""Color.Purple"" Style=""MenuStyle.Pointer"">
    <Item>首页</Item>
    <Item Actived=""true"">新闻</Item>
    <Item>关于我们</Item>
</Menu>
<Menu ActivedColor=""Color.Yellow"" Style=""MenuStyle.Underline"">
    <Item>首页</Item>
    <Item>新闻</Item>
    <Item Actived=""true"">关于我们</Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="背景颜色">
    <Description>
        设置 <code>BackgroundColor</code> 改变菜单的背景颜色。<code>ActivedColor</code> 将无效。
    </Description>
    <RunTemplate>
        <Menu BackgroundColor="Color.Red">
            <Item Actived="true">首页</Item>
            <Item>新闻</Item>
            <Item>关于我们</Item>
        </Menu>
        <Menu BackgroundColor="Color.Purple" Style="MenuStyle.Pointer">
            <Item>首页</Item>
            <Item Actived="true">新闻</Item>
            <Item>关于我们</Item>
        </Menu>
        <Menu BackgroundColor="Color.Yellow" ActivedColor="Color.Green" Style="MenuStyle.Underline">
            <Item>首页</Item>
            <Item>新闻</Item>
            <Item Actived="true">关于我们</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu BackgroundColor=""Color.Red"">
    <Item Actived=""true"">首页</Item>
    <Item>新闻</Item>
    <Item>关于我们</Item>
</Menu>
<Menu BackgroundColor=""Color.Purple"">
    <Item>首页</Item>
    <Item Actived=""true"">新闻</Item>
    <Item>关于我们</Item>
</Menu>
<Menu BackgroundColor=""Color.Yellow"" ActivedColor=""Color.Green"">
    <Item>首页</Item>
    <Item>新闻</Item>
    <Item Actived=""true"">关于我们</Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="分页">
            <Description>
                设置 <code>Pagination="true"</code> 可以呈现出分页的样式。推荐使用 <Anchor Link="/component/pagination"><code>Pagination</code> 组件</Anchor> 实现交互。
            </Description>
    <RunTemplate>
        <Menu Pagination="true">
            <LinkItem Actived="true">1</LinkItem>
            <LinkItem>2</LinkItem>
            <Item>...</Item>
            <LinkItem>9</LinkItem>            
            <LinkItem>10</LinkItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Pagination=""true"">
    <LinkItem Actived=""true"">1</LinkItem>
    <LinkItem>2</LinkItem>
    <Item>...</Item>
    <LinkItem>9</LinkItem>            
    <LinkItem>10</LinkItem>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="带标题的项">
    <Description>
        使用 <code>ItemHeader</code> 组件作为菜单标题项。
    </Description>
    <RunTemplate>
        <Menu>
            <ItemHeader>
                Blazor
            </ItemHeader>
            <LinkItem>首页</LinkItem>
            <LinkItem>组件</LinkItem>
            <LinkItem>源代码</LinkItem>
        </Menu>
        <Menu Vertical="true">
            <ItemHeader>
                Blazor
            </ItemHeader>
            <LinkItem>首页</LinkItem>
            <LinkItem>组件</LinkItem>
            <LinkItem>源代码</LinkItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu>
    <ItemHeader>
        Blazor
    </ItemHeader>
    <LinkItem>首页</LinkItem>
    <LinkItem>组件</LinkItem>
    <LinkItem>源代码</LinkItem>
</Menu>
<Menu Vertical=""true"">
    <ItemHeader>
        Blazor
    </ItemHeader>
    <LinkItem>首页</LinkItem>
    <LinkItem>组件</LinkItem>
    <LinkItem>源代码</LinkItem>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="项中使用标题">
    <Description>
        在 <code>Item</code> 中可以使用 <code>Header</code> 组件作为标题显示。
    </Description>
    <RunTemplate>
        <Menu Vertical="true">
            <Item>
                <Header>客户管理</Header>
                <Item>列表</Item>
                <Item>新增</Item>
                <Header>订单管理</Header>
                <Item>统计</Item>
                <Item>发货</Item>
            </Item>
            <LinkItem>设置</LinkItem>
            <LinkItem>退出</LinkItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Vertical=""true"">
    <Item>
        <Header>客户管理</Header>
        <Item>列表</Item>
        <Item>新增</Item>
        <Header>订单管理</Header>
        <Item>统计</Item>
        <Item>发货</Item>
    </Item>
    <LinkItem>设置</LinkItem>
    <LinkItem>退出</LinkItem>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="不同大小的标题项">
    <RunTemplate>
        <Menu Vertical="true">
            <Item>
                <Header2>客户管理</Header2>
                <Item>列表</Item>
                <Item>新增</Item>
                <Header3>订单管理</Header3>
                <Item>统计</Item>
                <Item>发货</Item>
            </Item>
            <LinkItem>设置</LinkItem>
            <LinkItem>退出</LinkItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Vertical=""true"">
    <Item>
        <Header2>客户管理</Header>
        <Item>列表</Item>
        <Item>新增</Item>
        <Header3>订单管理</Header>
        <Item>统计</Item>
        <Item>发货</Item>
    </Item>
    <LinkItem>设置</LinkItem>
    <LinkItem>退出</LinkItem>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="子菜单">
    <Description>
        使用 <code>SubMenu</code> 组件作为子菜单，可以放到任何 <code>Item</code> 项中。
    </Description>
    <RunTemplate>
        <Menu Vertical="true">
            <Item>
                <Header>产品</Header>
                <SubMenu>
                    <Item>企业</Item>
                    <Item>客户</Item>
                </SubMenu>
            </Item>
            <Item>
                <Header>订单</Header>
                <SubMenu>
                    <Item>统计</Item>
                    <Item>发货</Item>
                    <Item>状态</Item>
                </SubMenu>
            </Item>
            <Item>
                <Header>服务</Header>
                <SubMenu>
                    <Item>联系电话</Item>
                    <Item>电子邮箱</Item>
                    <Item>关于我们</Item>
                </SubMenu>
            </Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Vertical=""true"">
    <Item>
        <Header>产品</Header>
        <SubMenu>
            <Item>企业</Item>
            <Item>客户</Item>
        </SubMenu>
    </Item>
    <Item>
        <Header>订单</Header>
        <SubMenu>
            <Item>统计</Item>
            <Item>发货</Item>
            <Item>状态</Item>
        </SubMenu>
    </Item>
    <Item>
        <Header>服务</Header>
        <SubMenu>
            <Item>联系电话</Item>
            <Item>电子邮箱</Item>
            <Item>关于我们</Item>
        </SubMenu>
    </Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
        

<PresentationPart Title="下拉子菜单">
    <Description>
        使用 <code>DropDownItem</code> 和 <code>SubMenu</code> 可以使子菜单通过悬浮后显示。
    </Description>
    <RunTemplate>
        <Menu>
            <LinkItem Actived="true">
                首页
            </LinkItem>
            <DropDownItem>
                新闻
                <Icon IconClass="dropdown" />
                <SubMenu>
                    <Item>国内</Item>
                    <Item>国际</Item>
                    <Item>娱乐</Item>
                </SubMenu>
            </DropDownItem>
            <LinkItem>
                关于
            </LinkItem>
        </Menu>
        <Menu Vertical="true">
            <LinkItem Actived="true">
                个人信息
            </LinkItem>
            <LinkItem>
                配置项
            </LinkItem>
            <DropDownItem>
                个性化
                <Icon IconClass="dropdown" />
                <SubMenu>
                    <Header>字体</Header>
                    <Item>大</Item>
                    <Item Actived="true">中</Item>
                    <Item>小</Item>
                </SubMenu>
            </DropDownItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu>
    <LinkItem Actived=""true"">
        首页
    </LinkItem>
    <DropDownItem>
        新闻
        <Icon IconClass=""dropdown"" />
        <SubMenu>
            <Item>国内</Item>
            <Item>国际</Item>
            <Item>娱乐</Item>
        </SubMenu>
    </DropDownItem>
    <LinkItem>
        关于
    </LinkItem>
</Menu>
<Menu Vertical=""true"">
    <LinkItem Actived=""true"">
        个人信息
    </LinkItem>
    <LinkItem>
        配置项
    </LinkItem>
    <DropDownItem>
        个性化
        <Icon IconClass=""dropdown""/>
        <SubMenu>
            <Header>字体</Header>
            <Item>大</Item>
            <Item Actived=""true"">中</Item>
            <Item>小</Item>
        </SubMenu>
    </DropDownItem>
</Menu>
```
        ")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="带标题的超链接项">
    <RunTemplate>
        <Menu Vertical="true">
            <LinkItem>
                <Header3>联系方式</Header3>
                <p>关注微信公众号获取最新动态</p>
            </LinkItem>
            <LinkItem>
                <Header3>公司地址</Header3>
                <p>xx省xx市xx区xxxxx街道201号2282室</p>
            </LinkItem>
            <LinkItem>
                <Header3>意见反馈</Header3>
                <p>你可以将意见和意见投递到邮箱 xxxxx@@abcd.com</p>
            </LinkItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Vertical=""true"">
    <LinkItem>
        <Header3>联系方式</Header3>
        <p>关注微信公众号获取最新动态</p>
    </LinkItem>
    <LinkItem>
        <Header3>公司地址</Header3>
        <p>xx省xx市xx区xxxxx街道201号2282室</p>
    </LinkItem>
    <LinkItem>
        <Header3>意见反馈</Header3>
        <p>你可以将意见和意见投递到邮箱 xxxxx@@abcd.com</p>
    </LinkItem>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
        
<PresentationPart Title="带图标">
    <Description>
        项可以直接包含 <code>Icon</code> 组件来呈现图标
    </Description>
    <RunTemplate>
        <Menu>
            <Item><Icon IconClass="gamepad" /> 游戏</Item>
            <Item><Icon IconClass="camera" /> 频道</Item>
            <Item><Icon IconClass="vidoe play" /> 媒体</Item>
        </Menu>
        <Menu Vertical="true">
            <Item><Icon IconClass="gamepad" /> 游戏</Item>
            <Item><Icon IconClass="camera" /> 频道</Item>
            <Item><Icon IconClass="video" /> 媒体</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu>
    <Item><Icon IconClass=""gamepad"" /> 游戏</Item>
    <Item><Icon IconClass=""camera"" /> 频道</Item>
    <Item><Icon IconClass=""vidoe play"" /> 媒体</Item>
</Menu>
<Menu Vertical=""true"">
    <Item><Icon IconClass=""gamepad"" /> 游戏</Item>
    <Item><Icon IconClass=""camera"" /> 频道</Item>
    <Item><Icon IconClass=""video"" /> 媒体</Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
<PresentationPart Title="仅图标">
    <Description>
        设置 <code>IconOnly="true"</code> 只显示 <code>Icon</code> 图标。
    </Description>
    <RunTemplate>
        <Menu IconOnly="true">
            <Item><Icon IconClass="gamepad" /></Item>
            <Item><Icon IconClass="camera" /></Item>
            <Item><Icon IconClass="vidoe play" /></Item>
        </Menu>
        <Menu IconOnly="true" Vertical="true">
            <Item><Icon IconClass="gamepad" /></Item>
            <Item><Icon IconClass="camera" /></Item>
            <Item><Icon IconClass="video" /></Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu IconOnly=""true"">
    <Item><Icon IconClass=""gamepad"" /></Item>
    <Item><Icon IconClass=""camera"" /></Item>
    <Item><Icon IconClass=""vidoe play"" /></Item>
</Menu>
<Menu IconOnly=""true"" Vertical=""true"">
    <Item><Icon IconClass=""gamepad"" /></Item>
    <Item><Icon IconClass=""camera"" /></Item>
    <Item><Icon IconClass=""video"" /></Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
<PresentationPart Title="图标文字混搭">
    <Description>
        设置 <code>LabeledIcon="true"</code> 可以更好地呈现 <code>Icon</code> 与文字的排版。
    </Description>
    <RunTemplate>
        <Menu LabeledIcon="true">
            <Item><Icon IconClass="gamepad" /> 游戏</Item>
            <Item><Icon IconClass="camera" /> 频道</Item>
            <Item><Icon IconClass="vidoe play" /> 媒体</Item>
        </Menu>
        <Menu LabeledIcon="true" Vertical="true">
            <Item><Icon IconClass="gamepad" /> 游戏</Item>
            <Item><Icon IconClass="camera" /> 频道</Item>
            <Item><Icon IconClass="video" /> 媒体</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu LabeledIcon=""true"">
    <Item><Icon IconClass=""gamepad"" /> 游戏</Item>
    <Item><Icon IconClass=""camera"" /> 频道</Item>
    <Item><Icon IconClass=""vidoe play"" /> 媒体</Item>
</Menu>
<Menu LabeledIcon=""true"" Vertical=""true"">
    <Item><Icon IconClass=""gamepad"" /> 游戏</Item>
    <Item><Icon IconClass=""camera"" /> 频道</Item>
    <Item><Icon IconClass=""video"" /> 媒体</Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="带超链接样式的菜单">
    <Description>
        设置 <code>Linked="true"</code> 可以让菜单有悬浮变色和手指的效果，与 <code>LinkItem</code> 项的效果一致。
    </Description>
    <RunTemplate>
        <Menu Linked="true">
            <ItemHeader>一线城市</ItemHeader>
            <Item>北京</Item>
            <Item>上海</Item>
            <Item>广州</Item>
            <Item>深圳</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
    @Code.GetCode(@"
```html
<Menu Linked=""true"">
    <ItemHeader>一线城市</ItemHeader>
    <Item>北京</Item>
    <Item>上海</Item>
    <Item>广州</Item>
    <Item>深圳</Item>
</Menu>
```
")</CodeTemplate>
</PresentationPart>
        <PresentationPart Title="取消边框">
    <Description>
        设置 <code>Borderless="true"</code> 使菜单项没有边框。
    </Description>
    <RunTemplate>
        <Menu Borderless="true">
            <Item>国内</Item>
            <Item>国际</Item>
            <Item>娱乐</Item>
            <Item>教育</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Borderless=""true"">
    <Item>国内</Item>
    <Item>国际</Item>
    <Item>娱乐</Item>
    <Item>教育</Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="尺寸">
    <Description>
        设置 <code>Size</code> 支持不同尺寸
    </Description>
    <RunTemplate>
        <Menu Size="Size.Mini">
            <Item Actived="true">Mini</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Tiny">
            <Item Actived="true">Tiny</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Small">
            <Item Actived="true">Small</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Medium">
            <Item Actived="true">Medium</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Large">
            <Item Actived="true">Large</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Big">
            <Item Actived="true">Big</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Huge">
            <Item Actived="true">Huge</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Massive">
            <Item Actived="true">Massive</Item>
            <Item>Home</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Size=""Size.Mini"">
    <Item Actived=""true"">Mini</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Tiny"">
    <Item Actived=""true"">Tiny</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Small"">
    <Item Actived=""true"">Small</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Medium"">
    <Item Actived=""true"">Medium</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Large"">
    <Item Actived=""true"">Large</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Big"">
    <Item Actived=""true"">Big</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Huge"">
    <Item Actived=""true"">Huge</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Massive"">
    <Item Actived=""true"">Massive</Item>
    <Item>Home</Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="导航栏示例">
    <RunTemplate>
        <Menu Borderless="true" BackgroundColor="Color.Blue">
            <Item Actived="true">首页</Item>
            <DropDownItem>
                新闻 <Icon IconClass="dropdown"/>
                <SubMenu>
                    <Item>国内</Item>
                    <Item>国际</Item>
                    <Item>娱乐</Item>
                    <Item>教育</Item>
                </SubMenu>
            </DropDownItem>
            <Item>
                <InputBox Transparent="true" Icon="HorizontalPosition.Left" Darkness="true">
                    <Icon IconClass="search"/>
                    <input placeholder="关键字"/>
                </InputBox>
            </Item>
            <Menu UI="false" HorizontalPosition="HorizontalPosition.Right">
                <Item>登录</Item>
                <Item>注册</Item>
            </Menu>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Borderless=""true"" Color=""Color.Blue"" Darkness=""true"">
    <Item Actived=""true"">首页</Item>
    <DropDownItem>
        新闻 <Icon IconClass=""dropdown""/>
        <SubMenu>
            <Item>国内</Item>
            <Item>国际</Item>
            <Item>娱乐</Item>
            <Item>教育</Item>
        </SubMenu>
    </DropDownItem>
    <Item>
        <InputBox Transparent=""true"" Icon=""HorizontalPosition.Left"" Darkness=""true"">
            <Icon IconClass=""search""/>
            <input placeholder=""关键字""/>
        </InputBox>
    </Item>
    <Menu UI=""false"" HorizontalPosition=""HorizontalPosition.Right"">
        <Item>登录</Item>
        <Item>注册</Item>
    </Menu>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
                <ParameterTable>
                    <Content>
                        <tr>
                            <td>Style</td>
                            <td>菜单的风格</td>
                            <td>enum</td>
                            <td>MenuStyle.Default</td>
                        </tr>
                        <tr>
                            <td>Fixed</td>
                            <td>固定在浏览器的上/下/左/右的位置。</td>
                            <td>enum</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td>尺寸大小</td>
                            <td>enum</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>BackgroundColor</td>
                            <td>设置背景颜色</td>
                            <td>enum</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ActivedColor</td>
                            <td>选中项标题的颜色，设置了 <code>BackgroundColor</code> 后无效</td>
                            <td>enum</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>HorizontalPosition</td>
                            <td>菜单在水平方向的位置</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Fluid</td>
                            <td>成流式布局并把宽度设置为 100% 以此撑满整个父元素</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Vertical</td>
                            <td>使用纵向的方式排列</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Attached</td>
                            <td>是否需要吸附于相对位置的其他组件</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>AttachedVertical</td>
                            <td>垂直方向上的吸附位置</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ActivedColor</td>
                            <td>选中项的颜色</td>
                            <td>enum</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>BackgroundColor</td>
                            <td>菜单的背景颜色</td>
                            <td>enum</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>IconOnly</td>
                            <td>菜单项内是否只显示图标</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>LabeledIcon</td>
                            <td>设置菜单项的图标和文本各占一行</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Linked</td>
                            <td>菜单项使用超链接的样式</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Borderless</td>
                            <td>菜单项无任何边框</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Compact</td>
                            <td>菜单项对内边距的空间进行一定的压缩</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Pagination</td>
                            <td>菜单呈现分页样式</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                    </Content>
        </ParameterTable>
        </Body>
</Pager>