@page "/component/layout/menu"

<Pager DataSource="@(new List<string>(new[]{
                         "Demo","Vertical Menu","Link Item",
                         "Actived Color","Background Color","Item Header",
                         "Sub Menu","Drop Down Menu","Labeled Icon","IconOnly","Linked","Borderless","Size","Navigation Demo"
                     }))">
    <Body>
        <Header1 Divider>
            Menu
            <SubHeader>
                A menu displays grouped navigation actions
            </SubHeader>
        </Header1>

<PresentationPart Title="Demo">
    <RunTemplate>
        <Menu>
            <Item>Menu 1</Item>
            <Item>Menu 2</Item>
            <Item>Menu 3</Item>
        </Menu>
        <Menu Style="MenuStyle.Pill">
            <LinkItem Link="./" Actived>Menu1</LinkItem>
            <LinkItem Link="./">Menu2</LinkItem>
            <LinkItem Link="./">Menu3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Underline">
            <LinkItem Link="" Actived>Menu1</LinkItem>
            <LinkItem Link="">Menu2</LinkItem>
            <LinkItem Link="">Menu3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Pointer">
            <LinkItem Link="" Actived>Menu1</LinkItem>
            <LinkItem Link="">Menu2</LinkItem>
            <LinkItem Link="">Menu3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Texted">
            <LinkItem Link="" Actived>Menu1</LinkItem>
            <LinkItem Link="">Menu2</LinkItem>
            <LinkItem Link="">Menu3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Tab">
            <LinkItem Link="" Actived>Menu1</LinkItem>
            <LinkItem Link="">Menu2</LinkItem>
            <LinkItem Link="">Menu3</LinkItem>
        </Menu>
        <Message State="State.Info">
            Recommand use <Anchor Link="component/tag" Target="LinkTarget.Blank">Tab</Anchor> component.
        </Message>
    </RunTemplate>
    <CodeTemplate>
@Code.GetCode(@"
```html
<Menu>
    <Item>Menu1</Item>
    <Item>Menu2</Item>
    <Item>Menu3</Item>
</Menu>
<Menu Style=""MenuStyle.Pill"">
    <LinkItem Link=""./"" Actived>Menu1</LinkItem>
    <LinkItem Link=""./"">Menu2</LinkItem>
    <LinkItem Link=""./"">Menu3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Underline"">
    <LinkItem Link="""" Actived>Menu1</LinkItem>
    <LinkItem Link="""">Menu2</LinkItem>
    <LinkItem Link="""">Menu3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Pointer"">
    <LinkItem Link="""" Actived>Menu1</LinkItem>
    <LinkItem Link="""">Menu2</LinkItem>
    <LinkItem Link="""">Menu3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Texted"">
    <LinkItem Link="""" Actived>Menu1</LinkItem>
    <LinkItem Link="""">Menu2</LinkItem>
    <LinkItem Link="""">Menu3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Tab"">
    <LinkItem Link="""" Actived>Menu1</LinkItem>
    <LinkItem Link="""">Menu2</LinkItem>
    <LinkItem Link="""">Menu3</LinkItem>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Vertical Menu">
    <Description>
        A vertical menu displays elements vertically.
    </Description>
    <RunTemplate>
        <Menu Vertical>
            <Item>Menu1</Item>
            <Item>Menu2</Item>
            <Item>Menu3</Item>
        </Menu>
        <Menu Style="MenuStyle.Pill" Vertical>
            <LinkItem Link="./" Actived>Menu1</LinkItem>
            <LinkItem Link="./">Menu2</LinkItem>
            <LinkItem Link="./">Menu3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Underline" Vertical>
            <LinkItem Link="" Actived>Menu1</LinkItem>
            <LinkItem Link="">Menu2</LinkItem>
            <LinkItem Link="">Menu3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Pointer" Vertical>
            <LinkItem Link="" Actived>Menu1</LinkItem>
            <LinkItem Link="">Menu2</LinkItem>
            <LinkItem Link="">Menu3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Texted" Vertical>
            <LinkItem Link="" Actived>Menu1</LinkItem>
            <LinkItem Link="">Menu2</LinkItem>
            <LinkItem Link="">Menu3</LinkItem>
        </Menu>
        <Menu Style="MenuStyle.Tab" Vertical>
            <LinkItem Link="" Actived>Menu1</LinkItem>
            <LinkItem Link="">Menu2</LinkItem>
            <LinkItem Link="">Menu3</LinkItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Vertical>
    <Item>Menu1</Item>
    <Item>Menu2</Item>
    <Item>Menu3</Item>
</Menu>
<Menu Style=""MenuStyle.Pill"" Vertical>
    <LinkItem Link=""./"" Actived>Menu1</LinkItem>
    <LinkItem Link=""./"">Menu2</LinkItem>
    <LinkItem Link=""./"">Menu3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Underline"" Vertical>
    <LinkItem Link="""" Actived>Menu1</LinkItem>
    <LinkItem Link="""">Menu2</LinkItem>
    <LinkItem Link="""">Menu3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Pointer"" Vertical>
    <LinkItem Link="""" Actived>Menu1</LinkItem>
    <LinkItem Link="""">Menu2</LinkItem>
    <LinkItem Link="""">Menu3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Texted"" Vertical>
    <LinkItem Link="""" Actived>Menu1</LinkItem>
    <LinkItem Link="""">Menu2</LinkItem>
    <LinkItem Link="""">Menu3</LinkItem>
</Menu>
<Menu Style=""MenuStyle.Tab"" Vertical>
    <LinkItem Link="""" Actived>Menu1</LinkItem>
    <LinkItem Link="""">Menu2</LinkItem>
    <LinkItem Link="""">Menu3</LinkItem>
</Menu>
```
")

    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Link Item">
    <Description>
        A menu may contain a link item, or an item formatted as if it is a link.
    </Description>
    <RunTemplate>
        <Menu>
            <LinkItem Link="">Menu1</LinkItem>
            <LinkItem Link="" Actived>Menu2</LinkItem>
            <LinkItem Link="">Menu3</LinkItem>
        </Menu>

        <Menu Vertical>
            <LinkItem>
                <Header3>Contact</Header3>
                <p>Please contact us</p>
            </LinkItem>
            <LinkItem>
                <Header3>Address</Header3>
                <p>Street xxx Ave. 23 No.29381</p>
            </LinkItem>
            <LinkItem>
                <Header3>Feedback</Header3>
                <p>Please send the feedback to xxxxx@@abcd.com</p>
            </LinkItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
@Code.GetCode(@"
```html
<Menu>
    <LinkItem Link=""#"">Menu1</LinkItem>
    <LinkItem Link=""#"" Actived>Menu2</LinkItem>
    <LinkItem Link=""#"">Menu3</LinkItem>
</Menu>


<Menu Vertical>
    <LinkItem>
        <Header3>Contact</Header3>
        <p>Please contact us</p>
    </LinkItem>
    <LinkItem>
        <Header3>Address</Header3>
        <p>Street xxx Ave. 23 No.29381</p>
    </LinkItem>
    <LinkItem>
        <Header3>Feedback</Header3>
        <p>Please send the feedback to xxxxx@@abcd.com</p>
    </LinkItem>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>

        <PresentationPart Title="Actived Color">
    <RunTemplate>
        <Menu ActivedColor="Color.Red">
            <Item Actived>Home</Item>
            <Item>News</Item>
            <Item>About us</Item>
        </Menu>
        <Menu ActivedColor="Color.Purple" Style="MenuStyle.Pointer">
            <Item Actived>Home</Item>
            <Item>News</Item>
            <Item>About us</Item>
        </Menu>
        <Menu ActivedColor="Color.Yellow" Style="MenuStyle.Underline">
            <Item Actived>Home</Item>
            <Item>News</Item>
            <Item>About us</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu ActivedColor=""Color.Red"">
    <Item Actived>Home</Item>
    <Item>News</Item>
    <Item>About us</Item>
</Menu>
<Menu ActivedColor=""Color.Purple"" Style=""MenuStyle.Pointer"">
    <Item Actived>Home</Item>
    <Item>News</Item>
    <Item>About us</Item>
</Menu>
<Menu ActivedColor=""Color.Yellow"" Style=""MenuStyle.Underline"">
    <Item Actived>Home</Item>
    <Item>News</Item>
    <Item>About us</Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Background Color">
    <RunTemplate>
        <Menu BackgroundColor="Color.Red">
            <Item Actived>Home</Item>
            <Item>News</Item>
            <Item>About us</Item>
        </Menu>
        <Menu BackgroundColor="Color.Purple" Style="MenuStyle.Pointer">
            <Item Actived>Home</Item>
            <Item>News</Item>
            <Item>About us</Item>
        </Menu>
        <Menu BackgroundColor="Color.Yellow" ActivedColor="Color.Green" Style="MenuStyle.Underline">
            <Item Actived>Home</Item>
            <Item>News</Item>
            <Item>About us</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu BackgroundColor=""Color.Red"">
    <Item Actived>Home</Item>
    <Item>News</Item>
    <Item>About us</Item>
</Menu>
<Menu BackgroundColor=""Color.Purple"">
    <Item Actived>Home</Item>
    <Item>News</Item>
    <Item>About us</Item>
</Menu>
<Menu BackgroundColor=""Color.Yellow"" ActivedColor=""Color.Green"">
    <Item Actived>Home</Item>
    <Item>News</Item>
    <Item>About us</Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Item Header">
    <RunTemplate>
        <Menu>
            <ItemHeader>
                Blazor
            </ItemHeader>
            <LinkItem>Home</LinkItem>
            <LinkItem>Component</LinkItem>
            <LinkItem>Github</LinkItem>
        </Menu>
        <Menu Vertical>
            <ItemHeader>
                Blazor
            </ItemHeader>
            <LinkItem>Home</LinkItem>
            <LinkItem>Component</LinkItem>
            <LinkItem>Github</LinkItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu>
    <ItemHeader>
        Blazor
    </ItemHeader>
    <LinkItem>Home</LinkItem>
    <LinkItem>Component</LinkItem>
    <LinkItem>Github</LinkItem>
</Menu>
<Menu Vertical>
    <ItemHeader>
        Blazor
    </ItemHeader>
    <LinkItem>Home</LinkItem>
    <LinkItem>Component</LinkItem>
    <LinkItem>Github</LinkItem>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart>
    <RunTemplate>
        <Menu Vertical>
            <Item>
                <Header>Customer Manage</Header>
                <Item>List</Item>
                <Item>New</Item>
                <Header>Order Manage</Header>
                <Item>Statistic</Item>
                <Item>Order</Item>
            </Item>
            <LinkItem>Setting</LinkItem>
            <LinkItem>Exit</LinkItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Vertical>
    <Item>
        <Header>Customer Manage</Header>
        <Item>List</Item>
        <Item>New</Item>
        <Header>Order Manage</Header>
        <Item>Statistic</Item>
        <Item>Order</Item>
    </Item>
    <LinkItem>Setting</LinkItem>
    <LinkItem>Exit</LinkItem>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>


<PresentationPart Title="Sub Menu">
    <Description>
        A menu item may contain another menu nested inside that acts as a grouped sub-menu.
    </Description>
    <RunTemplate>
        <Menu Vertical>
            <Item>
                <Header>Product</Header>
                <SubMenu>
                    <Item>Enterprise</Item>
                    <Item>Customer</Item>
                </SubMenu>
            </Item>
            <Item>
                <Header>Order</Header>
                <SubMenu>
                    <Item>Statistic</Item>
                    <Item>Order</Item>
                    <Item>Status</Item>
                </SubMenu>
            </Item>
            <Item>
                <Header>Service</Header>
                <SubMenu>
                    <Item>Contact</Item>
                    <Item>Email</Item>
                    <Item>About Us</Item>
                </SubMenu>
            </Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Vertical>
    <Item>
        <Header>Product</Header>
        <SubMenu>
            <Item>Enterprise</Item>
            <Item>Customer</Item>
        </SubMenu>
    </Item>
    <Item>
        <Header>Order</Header>
        <SubMenu>
            <Item>Statistic</Item>
            <Item>Order</Item>
            <Item>Status</Item>
        </SubMenu>
    </Item>
    <Item>
        <Header>Service</Header>
        <SubMenu>
            <Item>Contact</Item>
            <Item>Email</Item>
            <Item>About Us</Item>
        </SubMenu>
    </Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
        

<PresentationPart Title="Drop Down Menu">
    <Description>
        An item may contain a nested menu in a dropdown.
    </Description>
    <RunTemplate>
        <Menu>
            <LinkItem Actived>
                Home
            </LinkItem>
            <DropDownItem>
                News
                <Icon IconClass="dropdown" />
                <SubMenu>
                    <Item>Internal</Item>
                    <Item>International</Item>
                    <Item>Entertainment</Item>
                </SubMenu>
            </DropDownItem>
            <LinkItem>
                About
            </LinkItem>
        </Menu>
        <Menu Vertical>
            <LinkItem Actived>
                Personal
            </LinkItem>
            <LinkItem>
                Configuration
            </LinkItem>
            <DropDownItem>
                Profile
                <Icon IconClass="dropdown" />
                <SubMenu>
                    <Header>Font</Header>
                    <Item>Large</Item>
                    <Item Actived>Default</Item>
                    <Item>Small</Item>
                </SubMenu>
            </DropDownItem>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu>
    <LinkItem Actived>
        Home
    </LinkItem>
    <DropDownItem>
        News
        <Icon IconClass=""dropdown"" />
        <SubMenu>
            <Item>Internal</Item>
            <Item>International</Item>
            <Item>Entertainment</Item>
        </SubMenu>
    </DropDownItem>
    <LinkItem>
        About
    </LinkItem>
</Menu>
<Menu Vertical>
    <LinkItem Actived>
        Personal
    </LinkItem>
    <LinkItem>
        Configuration
    </LinkItem>
    <DropDownItem>
        Profile
        <Icon IconClass=""dropdown"" />
        <SubMenu>
            <Header>Font</Header>
            <Item>Large</Item>
            <Item Actived>Default</Item>
            <Item>Small</Item>
        </SubMenu>
    </DropDownItem>
</Menu>
```
        ")
    </CodeTemplate>
</PresentationPart>

        
<PresentationPart Title="Labeled Icon">
    <Description>
        A menu may have labeled icons
    </Description>
    <RunTemplate>
        <Menu>
            <Item><Icon IconClass="gamepad" /> Games</Item>
            <Item><Icon IconClass="camera" /> Channels</Item>
            <Item><Icon IconClass="vidoe play" /> Videos</Item>
        </Menu>
        <Menu Vertical>
            <Item><Icon IconClass="gamepad" /> Games</Item>
            <Item><Icon IconClass="camera" /> Channels</Item>
            <Item><Icon IconClass="vidoe play" /> Videos</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu>
    <Item><Icon IconClass=""gamepad"" /> Games</Item>
    <Item><Icon IconClass=""camera"" /> Channels</Item>
    <Item><Icon IconClass=""vidoe play"" /> Videos</Item>
</Menu>
<Menu Vertical>
    <Item><Icon IconClass=""gamepad"" /> Games</Item>
    <Item><Icon IconClass=""camera"" /> Channels</Item>
    <Item><Icon IconClass=""vidoe play"" /> Videos</Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
<PresentationPart Title="IconOnly">
    <Description>
        A menu may have just icons
    </Description>
    <RunTemplate>
        <Menu IconOnly>
            <Item><Icon IconClass="gamepad" /></Item>
            <Item><Icon IconClass="camera" /></Item>
            <Item><Icon IconClass="vidoe play" /></Item>
        </Menu>
        <Menu IconOnly Vertical>
            <Item><Icon IconClass="gamepad" /></Item>
            <Item><Icon IconClass="camera" /></Item>
            <Item><Icon IconClass="video" /></Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu IconOnly>
    <Item><Icon IconClass=""gamepad"" /></Item>
    <Item><Icon IconClass=""camera"" /></Item>
    <Item><Icon IconClass=""vidoe play"" /></Item>
</Menu>
<Menu IconOnly Vertical>
    <Item><Icon IconClass=""gamepad"" /></Item>
    <Item><Icon IconClass=""camera"" /></Item>
    <Item><Icon IconClass=""video"" /></Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Linked">
    <RunTemplate>
        <Menu Linked>
            <ItemHeader>City</ItemHeader>
            <Item>New York</Item>
            <Item>Washington</Item>
            <Item>San Francisco</Item>
            <Item>Los Angeles</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
    @Code.GetCode(@"
```html
<Menu Linked>
    <ItemHeader>City</ItemHeader>
    <Item>New York</Item>
    <Item>Washington</Item>
    <Item>San Francisco</Item>
    <Item>Los Angeles</Item>
</Menu>
```
")</CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Borderless">
            <Description>
                A menu item or menu can have no borders
            </Description>
    <RunTemplate>
        <Menu Borderless>
            <Item>Internal</Item>
            <Item>International</Item>
            <Item>Entertainment</Item>
            <Item>Education</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Borderless>
    <Item>Internal</Item>
    <Item>International</Item>
    <Item>Entertainment</Item>
    <Item>Education</Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Size">
            <Description>
                A menu can vary in size
            </Description>
    <RunTemplate>
        <Menu Size="Size.Mini">
            <Item Actived>Mini</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Tiny">
            <Item Actived>Tiny</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Small">
            <Item Actived>Small</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Medium">
            <Item Actived>Medium</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Large">
            <Item Actived>Large</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Big">
            <Item Actived>Big</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Huge">
            <Item Actived>Huge</Item>
            <Item>Home</Item>
        </Menu>
        <Menu Size="Size.Massive">
            <Item Actived>Massive</Item>
            <Item>Home</Item>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Size=""Size.Mini"">
    <Item Actived>Mini</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Tiny"">
    <Item Actived>Tiny</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Small"">
    <Item Actived>Small</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Medium"">
    <Item Actived>Medium</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Large"">
    <Item Actived>Large</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Big"">
    <Item Actived>Big</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Huge"">
    <Item Actived>Huge</Item>
    <Item>Home</Item>
</Menu>
<Menu Size=""Size.Massive"">
    <Item Actived>Massive</Item>
    <Item>Home</Item>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Navigation Demo">
    <RunTemplate>
        <Menu Borderless BackgroundColor="Color.Blue">
            <Item Actived>Home</Item>
            <DropDownItem>
                News <Icon IconClass="dropdown"/>
                   <SubMenu>
                       <Item>Internal</Item>
                       <Item>International</Item>
                       <Item>Entertainment</Item>
                       <Item>Education</Item>
                   </SubMenu>
            </DropDownItem>
            <Item>
                <InputBox Transparent Icon="HorizontalPosition.Left" Inverted>
                    <Icon IconClass="search"/>
                    <input placeholder="Keywords"/>
                </InputBox>
            </Item>
            <Menu UI="false" HorizontalPosition="HorizontalPosition.Right">
                <Item>Login</Item>
                <Item>Register</Item>
            </Menu>
        </Menu>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Menu Borderless Color=""Color.Blue"" Inverted>
    <Item Actived>Home</Item>
    <DropDownItem>
        News <Icon IconClass=""dropdown""/>
        <SubMenu>
            <Item>Internal</Item>
            <Item>International</Item>
            <Item>Entertainment</Item>
            <Item>Education</Item>
        </SubMenu>
    </DropDownItem>
    <Item>
        <InputBox Transparent Icon=""HorizontalPosition.Left"" Inverted>
            <Icon IconClass=""search""/>
            <input placeholder=""Keywords""/>
        </InputBox>
    </Item>
    <Menu UI=""false"" HorizontalPosition=""HorizontalPosition.Right"">
        <Item>Login</Item>
        <Item>Register</Item>
    </Menu>
</Menu>
```
")
    </CodeTemplate>
</PresentationPart>
        </Body>
</Pager>