@page "/element/card"

<Pager DataSource="@(new List<string>(new[]{
                         "示例","内容块","居中","超链接","卡片组","结合按钮","占满父容器","水平排列","反转颜色","固定每行数量","Card 参数","CardGroup 参数"
                     }))">
    <Body>
        <Header1>
            卡片
            <SubHeader>
                卡片以类似扑克牌的方式显示站点内容
            </SubHeader>
        </Header1>
        <Segment>
            使用 <code>Card</code> 作为卡片组件，并通过其他组件配合使用组成不同风格的卡片。
        </Segment>
        <PresentationPart Title="示例">
    <Description>
        
    </Description>
    <RunTemplate>
        <Card>
            <ImageContent>
                <Image Source="img/avatar/elyse.png" />
            </ImageContent>
            <Content>
                <Anchor Header="true">Elyse</Anchor>
                <Introduction>
                    2018 年加入
                </Introduction>
                <Description>
                    Elyse 是一名 UI 设计师，住在北京朝阳区。
                </Description>
            </Content>
            <ExtraContent>
                <Icon IconClass="users" /> 22 个朋友
            </ExtraContent>
        </Card>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Card>
    <ImageContent>
        <Image Source=""img/avatar/elyse.png"" />
    </ImageContent>
    <Content>
        <Anchor Header=""true"">Elyse</Anchor>
        <Introduction>
            2018 年加入
        </Introduction>
        <Description>
            Elyse 是一名 UI 设计师，住在北京朝阳区。
        </Description>
    </Content>
    <ExtraContent>
        <Icon IconClass=""users"" /> 22 个朋友
    </ExtraContent>
</Card>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="内容块">
    <Description>
        在卡片中，可以多次使用 <code>Content</code> 组件来区分每一块的内容。
    </Description>
    <RunTemplate>
        <Card>
            <Content>
                <Header4 Floated="HorizontalPosition.Right">15小时前</Header4>
                <Avatar Source="img/avatar/stevie.jpg"/>
            </Content>
            <Content>
                Stevie 的日程表
            </Content>
            <ImageContent>
                <Image Source="img/image.png"/>
            </ImageContent>
            <Content>
                <Element Floated="HorizontalPosition.Right">
                    <Icon IconClass="hear outline like" /> 24 个赞
                </Element>
                <Icon IconClass="comment"/> 4 条评论
            </Content>
            <ExtraContent>
                <InputBox Transparent="true" Size="Size.Large" Icon="HorizontalPosition.Left">
                    <Icon IconClass="heart outline"/>
                    <input placeholder="添加评论"/>
                </InputBox>
            </ExtraContent>
        </Card>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Card>
    <Content>
        <Header4 Floated=""HorizontalPosition.Right"">15小时前</Header4>
        <Avatar Source=""img/avatar/stevie.jpg""/>
    </Content>
    <Content>
        Stevie 的日程表
    </Content>
    <ImageContent>
        <Image Source=""img/image.png""/>
    </ImageContent>
    <Content>
        <Element Floated=""HorizontalPosition.Right"">
            <Icon IconClass=""hear outline like"" /> 24 个赞
        </Element>
        <Icon IconClass=""comment""/> 4 条评论
    </Content>
    <ExtraContent>
        <InputBox Transparent=""true"" Size=""Size.Large"" Icon=""HorizontalPosition.Left"">
            <Icon IconClass=""heart outline""/>
            <input placeholder=""添加评论""/>
        </InputBox>
    </ExtraContent>
</Card>
```
")
    </CodeTemplate>
</PresentationPart>
        
        <PresentationPart Title="居中">
    <Description>
        设置 <code>Centered="true"</code> 居中显示
    </Description>
    <RunTemplate>
        <Card Centered="true">
            <ImageContent>
                <Image Source="img/avatar/molly.png" />
            </ImageContent>
            <Content>
                <Header>Molly</Header>
            </Content>
        </Card>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Card Centered=""true"">
    <ImageContent>
        <Image Source=""img/avatar/molly.png"" />
    </ImageContent>
    <Content>
        <Header>Molly</Header>
    </Content>
</Card>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="超链接">
    <Description>
        设置 <code>Linked="true"</code> 使卡片具有超链接样式，或设置 <code>Link</code> 超链接地址参数。
    </Description>
    <RunTemplate>
        <Card Linked="true">
            <Content>
                <Header>标题</Header>
                <ParagraphDemo FullWidth="true" />
            </Content>
        </Card>
        <Card Link="http://www.baidu.com" Target="LinkTarget.Blank">
            <Content>
                <Header>百度一下</Header>
                <ParagraphDemo FullWidth="true" />
            </Content>
        </Card>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Card Linked=""true"">
    <Content>
        <Header>标题</Header>
        <ParagraphDemo/>
    </Content>
</Card>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="阴影效果">
    <Description>
        设置 <code>Raised="true"</code> 使卡片背后显示阴影。
    </Description>
    <RunTemplate>
        <Card Raised="true">
            <Content>
                <Header>标题</Header>
                <ParagraphDemo FullWidth="true" />
            </Content>
        </Card>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Card Raised=""true"">
    <Content>
        <Header>标题</Header>
        <ParagraphDemo FullWidth=""true"" />
    </Content>
</Card>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="卡片组">
    <Description>
        使用 <code>CardGroup</code> 组件来包含 <code>Card</code> 组件形成卡片组。
    </Description>
    <RunTemplate>
        <CardGroup>
            <Card>
                <Content>
                    <Header>标题1</Header>
                </Content>
                <Content>
                    <ParagraphDemo FullWidth="true" />
                </Content>
            </Card>
            <Card>
                <Content>
                    <Header>标题2</Header>
                </Content>
                <Content>
                    <ParagraphDemo FullWidth="true" />
                    <ParagraphDemo FullWidth="true" />
                </Content>
            </Card>
            <Card>
                <Content>
                    <Header>标题3</Header>
                </Content>
                <Content>
                    <ParagraphDemo FullWidth="true" />
                </Content>
            </Card>
            <Card>
                <Content>
                    <Header>标题4</Header>
                </Content>
                <Content>
                    <ParagraphDemo FullWidth="true" />
                </Content>
            </Card>
        </CardGroup>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<CardGroup>
    <Card>...</Card>
    <Card>...</Card>
    <Card>...</Card>
    <Card>...</Card>
</CardGroup>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="结合按钮">
    <RunTemplate>
        <CardGroup>
            <Card>
                <Content>
                    <Header>Elyse</Header>
                </Content>
                <ImageContent>
                    <Image Source="img/avatar/elyse.png" />
                </ImageContent>
                <Content>
                    来自于北京，目前单身。
                </Content>
                <Button Attached="true" AttachedVertical="VerticalPosition.Top">
                    <Icon IconClass="add" />
                    加为好友
                </Button>
            </Card>
            <Card>
                <Content>
                    <Header>Kristy</Header>
                </Content>
                <ImageContent>
                    <Image Source="img/avatar/kristy.png" />
                </ImageContent>
                <Content>
                    喜欢弹吉他，唱歌，是一名学校的音乐老师。
                </Content>
                <Button Attached="true" AttachedVertical="VerticalPosition.Top">
                    <Icon IconClass="add" />
                    加为好友
                </Button>
            </Card>
            <Card>
                <Content>
                    <Header>Matthew</Header>
                </Content>
                <ImageContent>
                    <Image Source="img/avatar/matthew.png" />
                </ImageContent>
                <Content>
                    喜欢交流文学作品，已经自己写了好几部小说，而且十分畅销。
                </Content>
                <Button Attached="true" AttachedVertical="VerticalPosition.Top">
                    <Icon IconClass="add" />
                    加为好友
                </Button>
            </Card>
        </CardGroup>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<CardGroup>
    <Card>
        <Content>
            <Header>Elyse</Header>
        </Content>
        <ImageContent>
            <Image Source=""img/avatar/elyse.png"" />
        </ImageContent>
        <Content>
            来自于北京，目前单身。
        </Content>
        <Button Attached=""true"" AttachedVertical=""VerticalPosition.Top"">
            <Icon IconClass=""add"" />
            加为好友
        </Button>
    </Card>
    <Card>
        <Content>
            <Header>Kristy</Header>
        </Content>
        <ImageContent>
            <Image Source=""img/avatar/kristy.png"" />
        </ImageContent>
        <Content>
            喜欢弹吉他，唱歌，是一名学校的音乐老师。
        </Content>
        <Button Attached=""true"" AttachedVertical=""VerticalPosition.Top"">
            <Icon IconClass=""add"" />
            加为好友
        </Button>
    </Card>
    <Card>
        <Content>
            <Header>Matthew</Header>
        </Content>
        <ImageContent>
            <Image Source=""img/avatar/matthew.png"" />
        </ImageContent>
        <Content>
            喜欢交流文学作品，已经自己写了好几部小说，而且十分畅销。
        </Content>
        <Button Attached=""true"" AttachedVertical=""VerticalPosition.Top"">
            <Icon IconClass=""add"" />
            加为好友
        </Button>
    </Card>
</CardGroup>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="占满父容器">
    <Description>
        设置 <code>Fluid="true"</code> 将宽度占满父容器。
    </Description>
    <RunTemplate>
        <Grid ColSpan="ColSpan.Three3">
            <Column>
                <Card Fluid="true">
                    <ImageContent>
                        <Image Source="img/avatar/elyse.png" />
                    </ImageContent>
                    <Content>
                        <Header>Elyse</Header>
                    </Content>
                </Card>
            </Column>
            <Column>
                <Card Fluid="true">
                    <ImageContent>
                        <Image Source="img/avatar/kristy.png" />
                    </ImageContent>
                    <Content>
                        <Header>Kristy</Header>
                    </Content>
                </Card>
            </Column>
            <Column>
                <Card Fluid="true">
                    <ImageContent>
                        <Image Source="img/avatar/matthew.png" />
                    </ImageContent>
                    <Content>
                        <Header>Matthew</Header>
                    </Content>
                </Card>
            </Column>
        </Grid>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Grid ColSpan=""ColSpan.Three3"">
    <Column>
        <Card Fluid=""true"">
            <ImageContent>
                <Image Source=""img/avatar/elyse.png"" />
            </ImageContent>
            <Content>
                <Header>Elyse</Header>
            </Content>
        </Card>
    </Column>
    <Column>
        <Card Fluid=""true"">
            <ImageContent>
                <Image Source=""img/avatar/kristy.png"" />
            </ImageContent>
            <Content>
                <Header>Kristy</Header>
            </Content>
        </Card>
    </Column>
    <Column>
        <Card Fluid=""true"">
            <ImageContent>
                <Image Source=""img/avatar/matthew.png"" />
            </ImageContent>
            <Content>
                <Header>Matthew</Header>
            </Content>
        </Card>
    </Column>
</Grid>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="水平排列">
    <Description>
        设置 <code>Horizontal="true"</code> 可让纵向排列的部分进行水平排列。
    </Description>
    <RunTemplate>
        <Card Horizontal="true">
            <ImageContent>
                <Image Source="img/avatar/molly.png" />
            </ImageContent>
            <Content>
                <Header>Molly</Header>
                <ParagraphDemo FullWidth="true"/>
            </Content>
        </Card>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Card Horizontal=""true"">
    <ImageContent>
        <Image Source=""img/avatar/molly.png"" />
    </ImageContent>
    <Content>
        <Header>Molly</Header>
        <ParagraphDemo/>
    </Content>
</Card>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="">
    <Description>
        设置 <code>CardGroup</code> 的 <code>Horizontal</code> 使所有的卡片内部水平排列。
    </Description>
    <RunTemplate>
        <CardGroup Horizontal="true">
            <Card>
                <ImageContent>
                    <Image Source="img/avatar/molly.png" />
                </ImageContent>
                <Content>
                    <Header>Molly</Header>
                    <ParagraphDemo FullWidth="true" />
                </Content>
            </Card>
            <Card>
                <ImageContent>
                    <Image Source="img/avatar/kristy.png" />
                </ImageContent>
                <Content>
                    <Header>Kristy</Header>
                    <ParagraphDemo FullWidth="true" />
                </Content>
            </Card>
        </CardGroup>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<CardGroup>
    <Card>
        <ImageContent>
            <Image Source=""img/avatar/molly.png"" />
        </ImageContent>
        <Content>
            <Header>Molly</Header>
            <ParagraphDemo FullWidth=""true"" />
        </Content>
    </Card>
    <Card>
        <ImageContent>
            <Image Source=""img/avatar/kristy.png"" />
        </ImageContent>
        <Content>
            <Header>Kristy</Header>
            <ParagraphDemo FullWidth=""true"" />
        </Content>
    </Card>
</CardGroup>
```
")
    </CodeTemplate>
</PresentationPart>
                <PresentationPart Title="反转颜色">
    <Description>
        设置 <code>Inverted="true"</code> 可以在父组件的 <code>Inverted="true"</code> 时进行反色背景显示。
    </Description>
    <RunTemplate>
        <Segment Inverted="true">
            <CardGroup Inverted="true">
                <Card>
                    <ImageContent>
                        <Image Source="img/avatar/molly.png" />
                    </ImageContent>
                    <Content>
                        <Header>Molly</Header>
                        <ParagraphDemo FullWidth="true" />
                    </Content>
                </Card>
                <Card>
                    <ImageContent>
                        <Image Source="img/avatar/kristy.png" />
                    </ImageContent>
                    <Content>
                        <Header>Kristy</Header>
                        <ParagraphDemo FullWidth="true" />
                    </Content>
                </Card>
            </CardGroup>
        </Segment>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment Inverted=""true"">
    <CardGroup Inverted=""true"">
        <Card>
            <ImageContent>
                <Image Source=""img/avatar/molly.png"" />
            </ImageContent>
            <Content>
                <Header>Molly</Header>
                <ParagraphDemo FullWidth=""true"" />
            </Content>
        </Card>
        <Card>
            <ImageContent>
                <Image Source=""img/avatar/kristy.png"" />
            </ImageContent>
            <Content>
                <Header>Kristy</Header>
                <ParagraphDemo FullWidth=""true"" />
            </Content>
        </Card>
    </CardGroup>
</Segment>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="固定每行数量">
    <Description>
        设置 <code>ColSpan</code> 固定每行的数量。
    </Description>
    <RunTemplate>
        <CardGroup ColSpan="ColSpan.Five5">
            <Card Color="Color.Red">
                <ImageContent>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Orange">
                <ImageContent>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Yellow">
                <ImageContent>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Green">
                <ImageContent>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Blue">
                <ImageContent>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Pink">
                <ImageContent>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Olive">
                <ImageContent>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Brown">
                <ImageContent>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Purple">
                <ImageContent>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Teal">
                <ImageContent>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Black">
                <ImageContent>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Card>
            <Card Color="Color.Grey">
                <ImageContent>
                    <Image Source="img/image.png" />
                </ImageContent>
            </Card>
        </CardGroup>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<CardGroup ColSpan=""ColSpan.Five5"">
    <Card Color=""Color.Red"">
        <ImageContent>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Orange"">
        <ImageContent>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Yellow"">
        <ImageContent>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Green"">
        <ImageContent>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Blue"">
        <ImageContent>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Pink"">
        <ImageContent>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Olive"">
        <ImageContent>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Brown"">
        <ImageContent>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Purple"">
        <ImageContent>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Teal"">
        <ImageContent>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Black"">
        <ImageContent>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Card>
    <Card Color=""Color.Grey"">
        <ImageContent>
            <Image Source=""img/image.png"" />
        </ImageContent>
    </Card>
</CardGroup>
```
")
    </CodeTemplate>
</PresentationPart>
                        <ParameterTable Title="Card 参数">
                    <Content>
                        <tr>
                            <td>Fluid</td>
                            <td>占满父容器</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Centered</td>
                            <td>居中显示</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Horizontal</td>
                            <td>内容横向排列</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Raised</td>
                            <td>阴影效果</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Linked</td>
                            <td>超链接样式</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Link</td>
                            <td>超链接地址</td>
                            <td>string</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Target</td>
                            <td>超链接目标</td>
                            <td>enum</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td>底部边框颜色</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        
                    </Content>
        </ParameterTable>
                        <ParameterTable Title="CardGroup 参数">
                    <Content>
                        <tr>
                            <td>Horizontal</td>
                            <td>统一 <code>Card</code> 采用横向排列</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Inverted</td>
                            <td>反转背景</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ColSpan</td>
                            <td>每行固定数量</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Doubling</td>
                            <td>固定手机屏幕显示每行2个</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Stackable</td>
                            <td>固定手机屏幕每行显示单个</td>
                            <td>bool</td>
                            <td></td>
                        </tr>
                        
                    </Content>
        </ParameterTable>
    </Body>
</Pager>