@page "/"
@layout Shared.EmptyLayout
<div style="padding-left:5px">

    <Segment Raised="true" Stacked="true" Tall="true">
        <Header1 Divider="true">
            <Image Source="img/logo.png" />
            <Content>
                @Code.TITLE
                <SubHeader>可以自由组合的 UI 框架。</SubHeader>
            </Content>
        </Header1>

        <Header2 Divider="true">
            快速开始
        </Header2>
        
 
        <Table Celled="true" Definition="true" Compact="true">
            <Tr>
                <Th HorizontalAlignment="HorizontalAlignment.Center">
                    <h2>步骤</h2>
                </Th>
                <Th HorizontalAlignment="HorizontalAlignment.Center">
                    <h2> Blazor WebAssembly</h2>
                </Th>
                <Th HorizontalAlignment="HorizontalAlignment.Center">
                    <h2> Blazor Server</h2>
                </Th>
            </Tr>
            <Tr>
                <Td>
                    <Icon IconClass="dice one" Size="Size.Huge" />
                </Td>
                <Td ColSpan="2">
                    通过以下方式安装组件包：
                    <br />
                    <Tab>
                        <TabItem Title="程序包管理控制台(Package Manager)">
                            <Segment Color="Color.Grey" Inverted="true">
                                @($"PM> Install-Package {@Code.TITLE} -Version {verion}")
                            </Segment>
                        </TabItem>
                        <TabItem Title=".NET CLI(命令行)">
                            <Segment Inverted="true">
                                @($"dotnet add package {@Code.TITLE} --version {verion}")
                            </Segment>
                        </TabItem>
                        <TabItem Title="PackageReference(.csproj)">
                @Code.GetCode($@"
```html
<PackageReference Include=""{@Code.TITLE}"" Version=""{verion}"" />
```
        ")
                        </TabItem>
                    </Tab>
                </Td>
            </Tr>
            <Tr>
                <Td>
                    <Icon IconClass="dice two" Size="Size.Huge" />
                </Td>
                <Td>
                    @Code.GetCode(@"
在 `index.html` 引入
```html
<link href=""_content/BlamanticUI/blamantic.min.css"" rel=""stylesheet"" />
````
")
                </Td>
                <Td>
                    @Code.GetCode(@"
在 `_Host.cshtml` 引入
```html
<link href=""_content/BlamanticUI/blamantic.min.css"" rel=""stylesheet"" />
````
")
                </Td>
            </Tr>
            <Tr>
                <td>
                    <Icon IconClass="dice three" Size="Size.Huge" />
                </td>
                <td>
                    @Code.GetCode(@"
```cs
//在 Program.cs 中

//...
builder.Services.AddBlamanticUI();//添加服务
//...
```
")
                </td>
                <td>
                    @Code.GetCode(@"
```cs
// 在 Startup.cs 中

public void ConfigureServices(IServiceCollection services)
{
//...
services.AddBlamanticUI(); //添加服务
//...
}
```
")
                </td>
            </Tr>
            <Tr>
                <Td>
                    <Icon IconClass="dice four" Size="Size.Huge" />
                </Td>
                <Td ColSpan="2">
                    在 <code>_Import.razor</code> 引入命名空间 <code>BlamanticUI</code>
                </Td>
            </Tr>
            <Tr>
                <td>
                    <Icon IconClass="dice five" Size="Size.Huge" />
                </td>
                <td colspan="2">
                    @Code.GetCode(@"
修改 `App.razor` 添加 `BlamanticUIContainer` 用于加载动态组件
```html
<Router AppAssembly=""@typeof(Program).Assembly"">
    <Found Context=""routeData"">
        <RouteView RouteData=""@routeData"" DefaultLayout=""@typeof(MainLayout)"" />
    </Found>
    <NotFound>
    <LayoutView Layout=""@typeof(MainLayout)"">
        <p>Sorry, there's nothing at this address.</p>
    </LayoutView>
    </NotFound>
</Router>

<BlamanticUIContainer /> <!--动态组件加载容器-->
```
")
                </td>
            </Tr>
        </Table>


    </Segment>

    <Container Fluid="true">
        <Grid EqualWidth="true">
            <Row>
                <Column>
                    <Header2 Divider="true">按钮</Header2>
                    <Tab>
                        <TabItem Title="运行效果" AdditionalStyles="@tabItemStyle">
                            <ButtonGroup>
                                <Button>按钮1</Button>
                                <Button Emphasis="Emphasis.Primary">按钮2</Button>
                                <Button Color="Color.Pink">按钮3</Button>
                            </ButtonGroup>
                        </TabItem>
                        <TabItem Title="示例代码" AdditionalStyles="@tabItemStyle">
                        @Code.GetCode(@"
```html
<ButtonGroup>
    <Button>按钮1</Button>
    <Button Emphasis=""Emphasis.Primary"">按钮2</Button>
    <Button Color=""Color.Pink"">按钮3</Button>
</ButtonGroup>
```
")
                        </TabItem>
                    </Tab>
                </Column>
                <Column>
                    <Header2 Divider="true">表单</Header2>
                    <Tab>
                        <TabItem Title="运行效果" AdditionalStyles="@tabItemStyle">

                            <Form Model="this">
                                <DataAnnotationsValidator />
                                <Fields Inline="true">
                                    <Field For="()=>UserName">
                                        <InputBox Icon="HorizontalPosition.Left">
                                            <Icon IconClass="user" />
                                            <InputText @bind-Value="UserName" placeholder="用户名" />
                                        </InputBox>
                                    </Field>
                                    <Field For="()=>Password">
                                        <InputBox Icon="HorizontalPosition.Left">
                                            <Icon IconClass="lock" />
                                            <InputText @bind-Value="Password" placeholder="密码" type="password" />
                                        </InputBox>
                                    </Field>
                                    <Button Emphasis="Emphasis.Positive">
                                        <Icon IconClass="check" />
                                        提 交
                                    </Button>
                                </Fields>
                            </Form>
                        </TabItem>
                        <TabItem Title="示例代码" AdditionalStyles="@tabItemStyle">
                            @Code.GetCode(@"
```html
<Form Model=""this"">
<DataAnnotationsValidator/>
<Fields Inline=""true"">
    <Field For=""()=>UserName"">
        <InputBox Icon=""HorizontalPosition.Left"">
            <Icon IconClass=""user"" />
            <InputText @bind-Value=""UserName"" placeholder=""用户名"" />
        </InputBox>
    </Field>
    <Field For=""()=>Password"">
        <InputBox Icon=""HorizontalPosition.Left"">
            <Icon IconClass=""lock"" />
            <InputText @bind-Value=""Password"" placeholder=""密码"" type=""password""/>
        </InputBox>
    </Field>
    <Button Emphasis=""Emphasis.Positive"">
        <Icon IconClass=""check"" />
        提 交
    </Button>
</Fields>
</Form>
```
")
                        </TabItem>
                    </Tab>
                </Column>
            </Row>
            <Row>
                <Column>
                    <Header2 Divider="true">标签</Header2>
                    <Tab>
                        <TabItem Title="运行效果" AdditionalStyles="@tabItemStyle">
                            <Label Image="true" Color="Color.Red">
                                <Image Source="img/avatar/ade.jpg" /> Ade
                            </Label>
                            <Label Image="true" Color="Color.Green">
                                <Image Source="img/avatar/christian.jpg" /> Christian
                            </Label>
                            <Label Image="true" Color="Color.Brown">
                                <Image Source="img/avatar/elliot.jpg" /> Elliot
                            </Label>
                        </TabItem>
                        <TabItem Title="示例代码" AdditionalStyles="@tabItemStyle">
                            @Code.GetCode(@"
```html
<Label Image=""true"" Color=""Color.Red"">
    <Image Source=""img/avatar/ade.jpg"" /> Ade
</Label>
<Label Image=""true"" Color=""Color.Green"">
    <Image Source=""img/avatar/christian.jpg"" /> Christian
</Label>
<Label Image=""true"" Color=""Color.Brown"">
    <Image Source=""img/avatar/elliot.jpg"" /> Elliot
</Label>
```
")
                        </TabItem>
                    </Tab>
                </Column>
                <Column>
                    <Header2 Divider="true">消息</Header2>
                    <Tab>
                        <TabItem Title="运行效果" AdditionalStyles="@tabItemStyle">
                            <Message State="State.Warning" Icon="true">
                                <Icon IconClass="attention" />
                                <Content>
                                    <Header>注意！</Header>
                                    前方有路障，请注意绕行！
                                </Content>
                            </Message>
                        </TabItem>
                        <TabItem Title="示例代码" AdditionalStyles="@tabItemStyle">
                        @Code.GetCode(@"
```html
<Message State=""State.Warning"" Icon=""true"">
    <Icon IconClass=""attention""/>
    <Content>
        <Header>注意！</Header>
        前方有路障，请注意绕行！
    </Content>
</Message>
```
")
                        </TabItem>
                    </Tab>
                </Column>
            </Row>
            <Row>
                <Column>
                    <Header2 Divider="true">模态框</Header2>
                    <Tab>
                        <TabItem Title="运行效果">
                            <Button Color="Color.Blue" @onclick="@(e=>DialogService.ShowAlert("今天天气真好"))">提示框</Button>
                            <Button Color="Color.Yellow" @onclick="@(e=>DialogService.ShowConfirm("确定要删除吗"))">确认框</Button>
                            <Button Color="Color.Purple" @onclick="@(e=>DialogService.ShowPropmt("你输入了什么"))">弹出框</Button>
                        </TabItem>
                        <TabItem Title="示例代码">
                            @Code.GetCode(@"
```html
<Button Color=""Color.Blue"" @onclick=""@(e=>DialogService.ShowAlert(""今天天气真好""))"">提示框</Button>
<Button Color=""Color.Yellow"" @onclick=""@(e=>DialogService.ShowAlert(""确定要删除吗""))"">确认框</Button>
<Button Color=""Color.Purple"" @onclick=""@(e=>DialogService.ShowAlert(""你输入了什么""))"">弹出框</Button>
```
")
                        </TabItem>
                    </Tab>
                </Column>
                <Column>
                    <Header2 Divider="true">提示消息</Header2>
                    <Tab>
                        <TabItem Title="运行效果">
                            <Button Color="Color.Green" @onclick="@(e=>ToastService.ShowSuccess("提交成功"))">成功</Button>
                            <Button Color="Color.Red" @onclick="@(e=>ToastService.ShowError("表单出现了错误"))">错误</Button>
                            <Button Color="Color.Yellow" @onclick="@(e=>ToastService.ShowWarning("你的数据已经上传到云端"))">注意</Button>
                            <Button Color="Color.Blue" @onclick="@(e=>ToastService.ShowInfo("提示一下"))">提示</Button>
                            <ToastContainer />
                        </TabItem>
                        <TabItem Title="示例代码">
                            @Code.GetCode(@"
```html
<Button Color=""Color.Green"" @onclick=""@(e=>ToastService.ShowSuccess(""提交成功""))"">成功</Button>
<Button Color=""Color.Red"" @onclick=""@(e=>ToastService.ShowError(""表单出现了错误""))"">错误</Button>
<Button Color=""Color.Yellow"" @onclick=""@(e=>ToastService.ShowWarning(""你的数据已经上传到云端""))"">注意</Button>
<Button Color=""Color.Blue"" @onclick=""@(e=>ToastService.ShowInfo(""提示一下""))"">提示</Button>
```
")
                        </TabItem>
                    </Tab>
                </Column>
            </Row>
        </Grid>
    </Container>
</div>
@using System.ComponentModel.DataAnnotations
@code{
    [Required(ErrorMessage = "字段是必填项")]
    public string UserName { get; set; }
    [Required(ErrorMessage = "字段是必填项")]
    public string Password { get; set; }

    string tabItemStyle = "height:100px;overflow-y:auto";

    string verion = Code.GetVersion();
}
<DialogContainer />
@inject IDialogService DialogService
@inject IToastService ToastService