@page "/"
@layout Shared.EmptyLayout
<div style="padding-left:5px">

    <Segment Raised Stacked Tall>
        <Header1 Divider>
            <Image Source="img/logo.png" />
            <Content>
                @Code.TITLE
                <SubHeader>The Semantic-UI for Blazor.</SubHeader>
            </Content>
        </Header1>

        <Header2 Divider>
            Quick Start
        </Header2>
        
 
        <Table Celled Definition Compact>
            <Tr>
                <Th HorizontalAlignment="HorizontalAlignment.Center">
                    <h2>Steps</h2>
                </Th>
                <Th HorizontalAlignment="HorizontalAlignment.Center">
                    <h2> Blazor WebAssembly</h2>
                </Th>
                <Th HorizontalAlignment="HorizontalAlignment.Center">
                    <h2> Blazor Server</h2>
                </Th>
            </Tr>
            <Tr>
                <Td>
                    <Icon IconClass="dice one" Size="Size.Huge" />
                </Td>
                <Td colspan="2">
                    Install as below:
                    <br />
                    <Tab>
                        <TabItem Title="Package Manage Console">
                            <Segment Color="Color.Grey" Inverted>
                                @($"PM> Install-Package {@Code.TITLE} -Version {verion}")
                            </Segment>
                        </TabItem>
                        <TabItem Title=".NET CLI">
                            <Segment Inverted>
                                @($"dotnet add package {@Code.TITLE} --version {verion}")
                            </Segment>
                        </TabItem>
                        <TabItem Title="PackageReference">
                @Code.GetCode($@"
```html
<PackageReference Include=""{@Code.TITLE}"" Version=""{verion}"" />
```
        ")
                        </TabItem>
                    </Tab>
                </Td>
            </Tr>
            <Tr>
                <Td>
                    <Icon IconClass="dice two" Size="Size.Huge" />
                </Td>
                <Td>
                    @Code.GetCode(@"
Import css in `index.html`
```html
<link href=""_content/BlamanticUI/blamantic.min.css"" rel=""stylesheet"" />
````
")
                </Td>
                <Td>
                    @Code.GetCode(@"
Import css in `_Host.cshtml`
```html
<link href=""_content/BlamanticUI/blamantic.min.css"" rel=""stylesheet"" />
````
")
                </Td>
            </Tr>
            <Tr>
                <td>
                    <Icon IconClass="dice three" Size="Size.Huge" />
                </td>
                <td>
                    @Code.GetCode(@"
```cs
//In Program.cs

//...
Builder.Services.AddBlamanticUI();
//...
```
")
                </td>
                <td>
                    @Code.GetCode(@"
```cs
// In Startup.cs

public void ConfigureServices(IServiceCollection services)
{
//...
services.AddBlamanticUI();
//...
}
```
")
                </td>
            </Tr>
            <Tr>
                <Td>
                    <Icon IconClass="dice four" Size="Size.Huge" />
                </Td>
                <Td colspan="2">
                    In <code>_Import.razor</code> using <code>BlamanticUI</code>
                </Td>
            </Tr>
            <Tr>
                <td>
                    <Icon IconClass="dice five" Size="Size.Huge" />
                </td>
                <td colspan="2">
                    @Code.GetCode(@"
Modify `App.razor` to add `BlamanticUIContainer` for loading dynamic component like 'Modal','Toaster' etc.
```html
<Router AppAssembly=""@typeof(Program).Assembly"">
    <Found Context=""routeData"">
        <RouteView RouteData=""@routeData"" DefaultLayout=""@typeof(MainLayout)"" />
    </Found>
    <NotFound>
    <LayoutView Layout=""@typeof(MainLayout)"">
        <p>Sorry, there's nothing at this address.</p>
    </LayoutView>
    </NotFound>
</Router>

<BlamanticUIContainer /> <!--Dynamic container here-->
```
")
                </td>
            </Tr>
        </Table>


    </Segment>

    <Container Fluid>
        <Grid EqualWidth>
            <Row>
                <Column>
                    <Header2 Divider>Button</Header2>
                    <Tab>
                        <TabItem Title="Run" AdditionalStyles="@tabItemStyle">
                            <ButtonGroup>
                                <Button>Default</Button>
                                <Button Emphasis="Emphasis.Primary">Primary</Button>
                                <Button Color="Color.Pink">Pink</Button>
                            </ButtonGroup>
                        </TabItem>
                        <TabItem Title="Code" AdditionalStyles="@tabItemStyle">
                        @Code.GetCode(@"
```html
<ButtonGroup>
    <Button>Default</Button>
    <Button Emphasis=""Emphasis.Primary"">Primary</Button>
    <Button Color=""Color.Pink"">Pink</Button>
</ButtonGroup>
```
")
                        </TabItem>
                    </Tab>
                </Column>
                <Column>
                    <Header2 Divider>Form</Header2>
                    <Tab>
                        <TabItem Title="Run" AdditionalStyles="@tabItemStyle">

                            <Form Model="this">
                                <DataAnnotationsValidator />
                                <Fields Inline>
                                    <Field For="()=>UserName">
                                        <InputBox Icon="HorizontalPosition.Left">
                                            <Icon IconClass="user" />
                                            <InputText @bind-Value="UserName" placeholder="User name" />
                                        </InputBox>
                                    </Field>
                                    <Field For="()=>Password">
                                        <InputBox Icon="HorizontalPosition.Left">
                                            <Icon IconClass="lock" />
                                            <InputText @bind-Value="Password" placeholder="Password" type="password" />
                                        </InputBox>
                                    </Field>
                                    <Button Emphasis="Emphasis.Positive">                                        
                                        Submit
                                    </Button>
                                </Fields>
                            </Form>
                        </TabItem>
                        <TabItem Title="Code" AdditionalStyles="@tabItemStyle">
                            @Code.GetCode(@"
```html
<Form Model=""this"">
<DataAnnotationsValidator/>
<Fields Inline>
    <Field For=""()=>UserName"">
        <InputBox Icon=""HorizontalPosition.Left"">
            <Icon IconClass=""user"" />
            <InputText @bind-Value=""UserName"" placeholder=""User name"" />
        </InputBox>
    </Field>
    <Field For=""()=>Password"">
        <InputBox Icon=""HorizontalPosition.Left"">
            <Icon IconClass=""lock"" />
            <InputText @bind-Value=""Password"" placeholder=""Password"" type=""password""/>
        </InputBox>
    </Field>
    <Button Emphasis=""Emphasis.Positive"">
        Submit
    </Button>
</Fields>
</Form>
```
")
                        </TabItem>
                    </Tab>
                </Column>
            </Row>
            <Row>
                <Column>
                    <Header2 Divider>Label</Header2>
                    <Tab>
                        <TabItem Title="Run" AdditionalStyles="@tabItemStyle">
                            <Label Image Color="Color.Red">
                                <Image Source="img/avatar/ade.jpg" /> Ade
                            </Label>
                            <Label Image Color="Color.Green">
                                <Image Source="img/avatar/christian.jpg" /> Christian
                            </Label>
                            <Label Image Color="Color.Brown">
                                <Image Source="img/avatar/elliot.jpg" /> Elliot
                            </Label>
                        </TabItem>
                        <TabItem Title="Code" AdditionalStyles="@tabItemStyle">
                            @Code.GetCode(@"
```html
<Label Image Color=""Color.Red"">
    <Image Source=""img/avatar/ade.jpg"" /> Ade
</Label>
<Label Image Color=""Color.Green"">
    <Image Source=""img/avatar/christian.jpg"" /> Christian
</Label>
<Label Image Color=""Color.Brown"">
    <Image Source=""img/avatar/elliot.jpg"" /> Elliot
</Label>
```
")
                        </TabItem>
                    </Tab>
                </Column>
                <Column>
                    <Header2 Divider>Message</Header2>
                    <Tab>
                        <TabItem Title="Run" AdditionalStyles="@tabItemStyle">
                            <Message State="State.Warning" Icon>
                                <Icon IconClass="attention" />
                                <Content>
                                    <Header>Attention!</Header>
                                    Please run another way!
                                </Content>
                            </Message>
                        </TabItem>
                        <TabItem Title="Code" AdditionalStyles="@tabItemStyle">
                        @Code.GetCode(@"
```html
<Message State=""State.Warning"" Icon>
    <Icon IconClass=""attention""/>
    <Content>
        <Header>Attention!</Header>
        Please run another way!
    </Content>
</Message>
```
")
                        </TabItem>
                    </Tab>
                </Column>
            </Row>
            <Row>
                <Column>
                    <Header2 Divider>Modal</Header2>
                    <Tab>
                        <TabItem Title="Run">
                            <Button Color="Color.Blue" @onclick="@(e=>DialogService.ShowAlert("A sunny day"))">Alert</Button>
                            <Button Color="Color.Yellow" @onclick="@(e=>DialogService.ShowConfirm("Are you sure?"))">Confirm</Button>
                            <Button Color="Color.Purple" @onclick="@(e=>DialogService.ShowPropmt("What is your input"))">Prompt</Button>
                        </TabItem>
                        <TabItem Title="Code">
                            @Code.GetCode(@"
```html
<Button Color=""Color.Blue"" @onclick=""@(e=>DialogService.ShowAlert(""A sunny day""))"">Alert</Button>
<Button Color=""Color.Yellow"" @onclick=""@(e=>DialogService.ShowAlert(""Are you sure?""))"">Confirm</Button>
<Button Color=""Color.Purple"" @onclick=""@(e=>DialogService.ShowAlert(""What is your input""))"">Prompt</Button>
```
")
                        </TabItem>
                    </Tab>
                </Column>
                <Column>
                    <Header2 Divider>Toaster</Header2>
                    <Tab>
                        <TabItem Title="Run">
                            <Button Color="Color.Green" @onclick="@(e=>ToastService.ShowSuccess("Submit successfully"))">Success</Button>
                            <Button Color="Color.Red" @onclick="@(e=>ToastService.ShowError("Form has errors"))">Error</Button>
                            <Button Color="Color.Yellow" @onclick="@(e=>ToastService.ShowWarning("Do not input your password"))">Warning</Button>
                            <Button Color="Color.Blue" @onclick="@(e=>ToastService.ShowInfo("Here is an information"))">Information</Button>
                            <ToastContainer />
                        </TabItem>
                        <TabItem Title="Code">
                            @Code.GetCode(@"
```html
<Button Color=""Color.Green"" @onclick=""@(e=>ToastService.ShowSuccess(""Submit successfully""))"">Success</Button>
<Button Color=""Color.Red"" @onclick=""@(e=>ToastService.ShowError(""Form has errors""))"">Error</Button>
<Button Color=""Color.Yellow"" @onclick=""@(e=>ToastService.ShowWarning(""Do not input your password""))"">Warning</Button>
<Button Color=""Color.Blue"" @onclick=""@(e=>ToastService.ShowInfo(""Here is an information""))"">Information</Button>
```
")
                        </TabItem>
                    </Tab>
                </Column>
            </Row>
        </Grid>
    </Container>
</div>
@using System.ComponentModel.DataAnnotations
@code{
    [Required]
    public string UserName { get; set; }
    [Required]
    public string Password { get; set; }

    string tabItemStyle = "height:100px;overflow-y:auto";

    string verion = Code.GetVersion();
}
<DialogContainer />
@inject IDialogService DialogService
@inject IToastService ToastService