@page "/component/data/table"
<Pager DataSource="@(new List<string>(new[]{
                         "Demo","Definition","RowSpanned","Structured","State","Actived","Disabled","Marked","SingleLine","Fixed",
                         "Fixed Single Line","Selectable","Selectable Cell","Striped","Alignment","Basic","Collapsing Cell","Collapsing",
                         "Color","Inverted","Compact","Padded","Size"
                     }))">
    <Body>
        <Header1>
            Table
            <SubHeader>
                A table displays a collections of data grouped into rows
            </SubHeader>
        </Header1>
<PresentationPart Title="Demo">
    <Description>
        <Message State="State.Positive">
            Tables will automatically stack their layouts for mobile devices. To disable this behavior, use the unstackable variation or tablet stackable to allow responsive adjustments for tablet.
        </Message>
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <TableRow>
                    <TableCell Header>
                        Name
                    </TableCell>
                    <TableCell Header>
                        Age
                    </TableCell>
                    <TableCell Header>
                        Job
                    </TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>
                        John
                    </TableCell>
                    <TableCell>
                        25
                    </TableCell>
                    <TableCell>
                        Engineer
                    </TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>
                        Bill
                    </TableCell>
                    <TableCell>
                        40
                    </TableCell>
                    <TableCell>
                        Engineer
                    </TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>
                        Elvis
                    </TableCell>
                    <TableCell>
                        32
                    </TableCell>
                    <TableCell>
                        Designer
                    </TableCell>
                </TableRow>
            </Body>
            <Footer>
                <TableRow>
                    <TableCell colspan="3" HorizontalAlignment="HorizontalAlignment.Right">Total 3 </TableCell>
                </TableRow>
            </Footer>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <TableRow>
            <TableCell Header>
                名称
            </TableCell>
            <TableCell Header>
                年龄
            </TableCell>
            <TableCell Header>
                职业
            </TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>
                张三
            </TableCell>
            <TableCell>
                25
            </TableCell>
            <TableCell>
                工程师
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell>
                李四
            </TableCell>
            <TableCell>
                40
            </TableCell>
            <TableCell>
                总监
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell>
                王五
            </TableCell>
            <TableCell>
                32
            </TableCell>
            <TableCell>
                设计师
            </TableCell>
        </TableRow>
    </Body>
    <Footer>
        <TableRow>
            <TableCell colspan=""3"" HorizontalAlignment=""HorizontalAlignment.Right"">共计 3 条数据</TableCell>
        </TableRow>
    </Footer>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>
    
<PresentationPart Title="Definition">
    <Description>
        A table may be formatted to emphasize a first column that defines a rows content
    </Description>
    <RunTemplate>
        <Table Celled Definition>
            <Header>
                <TableRow>
                    <TableCell Header></TableCell>
                    <TableCell Header>Arguments</TableCell>
                    <TableCell Header>Description</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Rest</TableCell>
                    <TableCell>None</TableCell>
                    <TableCell>Resets rating to default value</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>
                        Setting
                    </TableCell>
                    <TableCell>
                        Int32
                    </TableCell>
                    <TableCell>
                        Sets the current star rating to specified value
                    </TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled Definition>
    <Header>
        <TableRow>
            <TableCell Header></TableCell>
            <TableCell Header>Arguments</TableCell>
            <TableCell Header>Description</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Reset</TableCell>
            <TableCell>None</TableCell>
            <TableCell>Resets rating to default value</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>
                Setting
            </TableCell>
            <TableCell>
                Int32
            </TableCell>
            <TableCell>
                Sets the current star rating to specified value
            </TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="RowSpanned">
    <Description>
        If you work with the rowspan table technique, fomantic provides a helper class rowspanned to be used for an invisible td column to make sure the styling stays consistent
    </Description>
    <RunTemplate>
        <Table Definition>
            <TableRow>
                <TableCell rowspan="4">
                    Category rowspanned
                </TableCell>
                <TableCell>
                    GridRow one
                </TableCell>
            </TableRow>
            <TableRow>
                <TableCell RowSpanned>
                </TableCell>
                <TableCell>
                    GridRow two
                </TableCell>
            </TableRow>
            <TableRow>
                <TableCell RowSpanned>
                </TableCell>
                <TableCell>
                    GridRow three
                </TableCell>
            </TableRow>
            <TableRow>
                <TableCell RowSpanned>
                </TableCell>
                <TableCell>
                    GridRow four
                </TableCell>
            </TableRow>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Definition>
    <TableRow>
        <TableCell rowspan=""4"">
            Category rowspanned
        </TableCell>
        <TableCell>
            GridRow one
        </TableCell>
    </TableRow>
    <TableRow>
        <TableCell RowSpanned>
        </TableCell>
        <TableCell>
            GridRow two
        </TableCell>
    </TableRow>
    <TableRow>
        <TableCell RowSpanned>
        </TableCell>
        <TableCell>
            GridRow three
        </TableCell>
    </TableRow>
    <TableRow>
        <TableCell RowSpanned>
        </TableCell>
        <TableCell>
            GridRow four
        </TableCell>
    </TableRow>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Structured">
    <SubTitle>
        A table can be formatted to display complex structured data
    </SubTitle>
    <RunTemplate>
        <Table Celled Structured>
            <Header>
                <TableRow>
                    <TableCell Header rowspan="2">
                        Name
                    </TableCell>
                    <TableCell Header rowspan="2">
                        Project
                    </TableCell>
                    <TableCell Header rowspan="2">
                        Files
                    </TableCell>
                    <TableCell Header colspan="3">Language</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell Header>
                        C#
                    </TableCell>
                    <TableCell Header>
                        Javascript
                    </TableCell>
                    <TableCell Header>
                        Python
                    </TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>
                        John
                    </TableCell>
                    <TableCell>
                        Project 1
                    </TableCell>
                    <TableCell>
                        13
                    </TableCell>
                    <TableCell HorizontalAlignment="HorizontalAlignment.Center">
                        <Icon IconClass="checkmark" Color="Color.Green" Size="Size.Large" />
                    </TableCell>
                    <TableCell></TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow>
                    <TableCell rowspan="3">
                        Elvis
                    </TableCell>
                    <TableCell>
                        Project 1
                    </TableCell>
                    <TableCell>
                        48
                    </TableCell>
                    <TableCell  HorizontalAlignment="HorizontalAlignment.Center">
                        <Icon IconClass="checkmark" Color="Color.Green" Size="Size.Large" />
                    </TableCell>
                    <TableCell></TableCell>
                    <TableCell  HorizontalAlignment="HorizontalAlignment.Center">
                        <Icon IconClass="checkmark" Color="Color.Green" Size="Size.Large" />
                    </TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>
                        Project 2
                    </TableCell>
                    <TableCell>
                        14
                    </TableCell>
                    <TableCell></TableCell>
                    <TableCell HorizontalAlignment="HorizontalAlignment.Center">
                        <Icon IconClass="checkmark" Color="Color.Green" Size="Size.Large" />
                    </TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>
                        Project 3
                    </TableCell>
                    <TableCell>
                        6
                    </TableCell>
                    <TableCell></TableCell>
                    <TableCell HorizontalAlignment="HorizontalAlignment.Center">
                        <Icon IconClass="checkmark" Color="Color.Green" Size="Size.Large" />
                    </TableCell>
                    <TableCell HorizontalAlignment="HorizontalAlignment.Center">
                        <Icon IconClass="checkmark" Color="Color.Green" Size="Size.Large" />
                    </TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled Structured>
    <Header>
        <TableRow>
            <TableCell Header RowSpan=""2"">
                Name
            </TableCell>
            <TableCell Header RowSpan=""2"">
                Project
            </TableCell>
            <TableCell Header RowSpan=""2"">
                Files
            </TableCell>
            <TableCell Header ColSpan=""3"">Language</TableCell>
        </TableRow>
        <TableRow>
            <TableCell Header>
                C#
            </TableCell>
            <TableCell Header>
                Javascript
            </TableCell>
            <TableCell Header>
                Python
            </TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>
                John
            </TableCell>
            <TableCell>
                Project 1
            </TableCell>
            <TableCell>
                13
            </TableCell>
            <TableCell HorizontalAlignment=""HorizontalAlignment.Center"">
                <Icon IconClass=""checkmark"" Color=""Color.Green"" Size=""Size.Large"" />
            </TableCell>
            <TableCell></TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow>
            <TableCell RowSpan=""3"">
                Elvis
            </TableCell>
            <TableCell>
                Project 1
            </TableCell>
            <TableCell>
                48
            </TableCell>
            <TableCell HorizontalAlignment=""HorizontalAlignment.Center"">
                <Icon IconClass=""checkmark"" Color=""Color.Green"" Size=""Size.Large"" />
            </TableCell>
            <TableCell></TableCell>
            <TableCell HorizontalAlignment=""HorizontalAlignment.Center"">
                <Icon IconClass=""checkmark"" Color=""Color.Green"" Size=""Size.Large"" />
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell>
                Project 2
            </TableCell>
            <TableCell>
                14
            </TableCell>
            <TableCell></TableCell>
            <TableCell HorizontalAlignment=""HorizontalAlignment.Center"">
                <Icon IconClass=""checkmark"" Color=""Color.Green"" Size=""Size.Large"" />
            </TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow>
            <TableCell>
                Project 3
            </TableCell>
            <TableCell>
                6
            </TableCell>
            <TableCell></TableCell>
            <TableCell HorizontalAlignment=""HorizontalAlignment.Center"">
                <Icon IconClass=""checkmark"" Color=""Color.Green"" Size=""Size.Large"" />
            </TableCell>
            <TableCell HorizontalAlignment=""HorizontalAlignment.Center"">
                <Icon IconClass=""checkmark"" Color=""Color.Green"" Size=""Size.Large"" />
            </TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="State">
    <Description>
        A cell or row may let a user know whether a value is good or bad
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>State</TableCell>
                    <TableCell Header>Result</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Jimmy</TableCell>
                    <TableCell>Unknown</TableCell>
                    <TableCell State="State.Negative">Error</TableCell>
                </TableRow>
                <TableRow State="State.Positive">
                    <TableCell>Bill</TableCell>
                    <TableCell>Passed</TableCell>
                    <TableCell><Icon IconClass="checkmark" /></TableCell>
                </TableRow>
                <TableRow State="State.Warning">
                    <TableCell>Black</TableCell>
                    <TableCell><Icon IconClass="attention" /> Need complete</TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow State="State.Negative">
                    <TableCell>Phill</TableCell>
                    <TableCell>Rejected</TableCell>
                    <TableCell><Icon IconClass="close" /> Detail</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Sara</TableCell>
                    <TableCell>Unknown</TableCell>
                    <TableCell State="State.Warning"><Icon IconClass="attention" /> Missing Signature</TableCell>
                </TableRow>
                <TableRow State="State.Error">
                    <TableCell>Geoge</TableCell>
                    <TableCell>Error</TableCell>
                    <TableCell><Icon IconClass="close" /> Data Error</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>State</TableCell>
            <TableCell Header>Result</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Jimmy</TableCell>
            <TableCell>Unknown</TableCell>
            <TableCell State=""State.Negative"">Error</TableCell>
        </TableRow>
        <TableRow State=""State.Positive"">
            <TableCell>Bill</TableCell>
            <TableCell>Passed</TableCell>
            <TableCell><Icon IconClass=""checkmark"" /></TableCell>
        </TableRow>
        <TableRow State=""State.Warning"">
            <TableCell>Black</TableCell>
            <TableCell><Icon IconClass=""attention"" /> Need complete</TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow State=""State.Negative"">
            <TableCell>Phill</TableCell>
            <TableCell>Rejected</TableCell>
            <TableCell><Icon IconClass=""close"" /> Detail</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Sara</TableCell>
            <TableCell>Unknown</TableCell>
            <TableCell State=""State.Warning""><Icon IconClass=""attention"" /> Missing Signature</TableCell>
        </TableRow>
        <TableRow State=""State.Error"">
            <TableCell>Geoge</TableCell>
            <TableCell>Error</TableCell>
            <TableCell><Icon IconClass=""close"" /> Data Error</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Actived">
    <Description>
        A cell or row can be active or selected by a user
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Status</TableCell>
                    <TableCell Header>Result</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Jimmy</TableCell>
                    <TableCell>Approved</TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow Actived>
                    <TableCell>John</TableCell>
                    <TableCell>Selected</TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Jill</TableCell>
                    <TableCell>Approved</TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow>
                    <TableCell Actived>Black</TableCell>
                    <TableCell>Approved</TableCell>
                    <TableCell></TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Status</TableCell>
            <TableCell Header>Result</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Jimmy</TableCell>
            <TableCell>Approved</TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow Actived>
            <TableCell>John</TableCell>
            <TableCell>Selected</TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Jill</TableCell>
            <TableCell>Approved</TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow>
            <TableCell Actived>Black</TableCell>
            <TableCell>Approved</TableCell>
            <TableCell></TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Disabled">
    <Description>
        A cell can be disabled
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Status</TableCell>
                    <TableCell Header>Result</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Jimmy</TableCell>
                    <TableCell>Approved</TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow Disabled>
                    <TableCell>John</TableCell>
                    <TableCell>Selected</TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Jill</TableCell>
                    <TableCell>Approved</TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow>
                    <TableCell Disabled>Black</TableCell>
                    <TableCell>Approved</TableCell>
                    <TableCell></TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Status</TableCell>
            <TableCell Header>Result</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Jimmy</TableCell>
            <TableCell>Approved</TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow Disabled>
            <TableCell>John</TableCell>
            <TableCell>Selected</TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Jill</TableCell>
            <TableCell>Approved</TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow>
            <TableCell Disabled>Black</TableCell>
            <TableCell>Approved</TableCell>
            <TableCell></TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Marked">
    <Description>
        A cell or row can be marked by a colored left or right border
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Status</TableCell>
                    <TableCell Header>Result</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell Marked="HorizontalPosition.Left" Color="Color.Teal">Jimmy</TableCell>
                    <TableCell>Approved</TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow Marked="HorizontalPosition.Right" Color="Color.Blue">
                    <TableCell>Jill</TableCell>
                    <TableCell Marked="HorizontalPosition.Left" Color="Color.Orange">In Progress</TableCell>
                    <TableCell>Tasj 2313</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell Marked="HorizontalPosition.Right" Color="Color.Red">Sally</TableCell>
                    <TableCell>Approved</TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow Marked="HorizontalPosition.Right" Color="Color.Green">
                    <TableCell>Phill</TableCell>
                    <TableCell>Approved</TableCell>
                    <TableCell Marked="HorizontalPosition.Left" Color="Color.Purple">Attention</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Status</TableCell>
            <TableCell Header>Result</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell Marked=""HorizontalPosition.Left"" Color=""Color.Teal"">Jimmy</TableCell>
            <TableCell>Approved</TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow Marked=""HorizontalPosition.Right"" Color=""Color.Blue"">
            <TableCell>Jill</TableCell>
            <TableCell Marked=""HorizontalPosition.Left"" Color=""Color.Orange"">In Progress</TableCell>
            <TableCell>Tasj 2313</TableCell>
        </TableRow>
        <TableRow>
            <TableCell Marked=""HorizontalPosition.Right"" Color=""Color.Red"">Sally</TableCell>
            <TableCell>Approved</TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow Marked=""HorizontalPosition.Right"" Color=""Color.Green"">
            <TableCell>Phill</TableCell>
            <TableCell>Approved</TableCell>
            <TableCell Marked=""HorizontalPosition.Left"" Color=""Color.Purple"">Attention</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="SingleLine">
    <Description>
        A table can specify that its cell contents should remain on a single line, and not wrap.
    </Description>
    <RunTemplate>
        <Table AdditionalStyles="@("width:300px")" SingleLine>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Michael Jordan</TableCell>
                    <TableCell>1968/2/28</TableCell>
                    <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table AdditionalStyle=""width:300px"" SingleLine>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Michael Jordan</TableCell>
            <TableCell>1968/2/28</TableCell>
            <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Fixed">
    <Description>A table can fix a special faster form of table rendering that does not resize table cells based on content.</Description>
    <RunTemplate>
        <Table Fixed Celled>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Age</TableCell>
                    <TableCell Header>Job</TableCell>
                    <TableCell Header>Description</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Sarong</TableCell>
                    <TableCell>35</TableCell>
                    <TableCell>Senio Engineer</TableCell>
                    <TableCell>Sarong is an interesting boy but sometimes you don't really have enough room to describe everything you'd like</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Jamie</TableCell>
                    <TableCell>48</TableCell>
                    <TableCell>Project Manager</TableCell>
                    <TableCell>Jamie is a kind girl but sometimes you don't really have enough room to describe everything you'd like</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Jill</TableCell>
                    <TableCell>27</TableCell>
                    <TableCell>UI Designer</TableCell>
                    <TableCell>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Fixed Celled>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Age</TableCell>
            <TableCell Header>Job</TableCell>
            <TableCell Header>Description</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Sarong</TableCell>
            <TableCell>35</TableCell>
            <TableCell>Senio Engineer</TableCell>
            <TableCell>Sarong is an interesting boy but sometimes you don't really have enough room to describe everything you'd like</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Jamie</TableCell>
            <TableCell>48</TableCell>
            <TableCell>Project Manager</TableCell>
            <TableCell>Jamie is a kind girl but sometimes you don't really have enough room to describe everything you'd like</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Jill</TableCell>
            <TableCell>27</TableCell>
            <TableCell>UI Designer</TableCell>
            <TableCell>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Fixed Single Line">
    <Description>
        Fixed single line tables will automatically ensure content that does not fit in a single line will receive "..." ellipsis
    </Description>
    <RunTemplate>
        <Table Fixed Celled SingleLine>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Age</TableCell>
                    <TableCell Header>Job</TableCell>
                    <TableCell Header>Description</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Sarong</TableCell>
                    <TableCell>35</TableCell>
                    <TableCell>Senio Engineer</TableCell>
                    <TableCell>Sarong is an interesting boy but sometimes you don't really have enough room to describe everything you'd like</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Jamie</TableCell>
                    <TableCell>48</TableCell>
                    <TableCell>Project Manager</TableCell>
                    <TableCell>Jamie is a kind girl but sometimes you don't really have enough room to describe everything you'd like</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Jill</TableCell>
                    <TableCell>27</TableCell>
                    <TableCell>UI Designer</TableCell>
                    <TableCell>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Fixed Celled SingleLine>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Age</TableCell>
            <TableCell Header>Job</TableCell>
            <TableCell Header>Description</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Sarong</TableCell>
            <TableCell>35</TableCell>
            <TableCell>Senio Engineer</TableCell>
            <TableCell>Sarong is an interesting boy but sometimes you don't really have enough room to describe everything you'd like</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Jamie</TableCell>
            <TableCell>48</TableCell>
            <TableCell>Project Manager</TableCell>
            <TableCell>Jamie is a kind girl but sometimes you don't really have enough room to describe everything you'd like</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Jill</TableCell>
            <TableCell>27</TableCell>
            <TableCell>UI Designer</TableCell>
            <TableCell>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Selectable">
    <Description>
        A table can have its rows appear selectable
    </Description>
    <RunTemplate>
        <Table Celled Selectable>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Status</TableCell>
                    <TableCell Header>Result</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Adrian</TableCell>
                    <TableCell>Complete</TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow Color="Color.Blue">
                    <TableCell>Francky</TableCell>
                    <TableCell>In Progress</TableCell>
                    <TableCell>Task 2313</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Lisa</TableCell>
                    <TableCell>To Do</TableCell>
                    <TableCell></TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Phill</TableCell>
                    <TableCell>Completed</TableCell>
                    <TableCell Color="Color.Pink"><Icon IconClass="tree" /> Free</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled Selectable>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Status</TableCell>
            <TableCell Header>Result</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Adrian</TableCell>
            <TableCell>Complete</TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow Color=""Color.Blue"">
            <TableCell>Francky</TableCell>
            <TableCell>In Progress</TableCell>
            <TableCell>Task 2313</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Lisa</TableCell>
            <TableCell>To Do</TableCell>
            <TableCell></TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Phill</TableCell>
            <TableCell>Completed</TableCell>
            <TableCell Color=""Color.Pink""><Icon IconClass=""tree"" /> Free</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Selectable Cell">
    <Description>
        A table cell can be selectable
        <Message State="State.Warning">
            Using an a link inside a selectable cell will automatically make the hit box the entire cell area. By default links will inherit their cell color.
        </Message>
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Status</TableCell>
                    <TableCell Header>Edit</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Admin</TableCell>
                    <TableCell Selectable>Done</TableCell>
                    <TableCell><Anchor Link="#">Edit</Anchor></TableCell>
                </TableRow>
                <TableRow Color="Color.Blue">
                    <TableCell>Phill</TableCell>
                    <TableCell>In Progress</TableCell>
                    <TableCell Selectable><Anchor Link="#">Edit</Anchor></TableCell>
                </TableRow>
                <TableRow>
                    <TableCell Selectable>Jack</TableCell>
                    <TableCell>To do</TableCell>
                    <TableCell><Anchor Link="#">Edit</Anchor></TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Status</TableCell>
            <TableCell Header>Edit</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Admin</TableCell>
            <TableCell Selectable>Done</TableCell>
            <TableCell><Anchor Link=""#"">Edit</Anchor></TableCell>
        </TableRow>
        <TableRow Color=""Color.Blue"">
            <TableCell>Phill</TableCell>
            <TableCell>In Progress</TableCell>
            <TableCell Selectable><Anchor Link=""#"">Edit</Anchor></TableCell>
        </TableRow>
        <TableRow>
            <TableCell Selectable>王五</TableCell>
            <TableCell>To do</TableCell>
            <TableCell><Anchor Link=""#"">Edit</Anchor></TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Striped">
    <Description>
        A table can stripe alternate rows of content with a darker color to increase contrast
    </Description>
    <RunTemplate>
        <Table Celled Striped>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Michael Jordan</TableCell>
                    <TableCell>1968/2/28</TableCell>
                    <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled Striped>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Michael Jordan</TableCell>
            <TableCell>1968/2/28</TableCell>
            <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Alignment">
    <RunTemplate>
        <Table Celled>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Out</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow VerticalAlignment="VerticalAlignment.Top">
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23</TableCell>
                    <TableCell VerticalAlignment="VerticalAlignment.Bottom">Lebron_James007@@gmail.com</TableCell>
                    <TableCell>
                        No<br />
                        <br />
                        <br />
                        <br />
                    </TableCell>
                </TableRow>
                <TableRow>
                    <TableCell HorizontalAlignment="HorizontalAlignment.Right">Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell  VerticalAlignment="VerticalAlignment.Bottom">thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell  VerticalAlignment="VerticalAlignment.Bottom">Yes</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Michael Jordan</TableCell>
                    <TableCell VerticalAlignment="VerticalAlignment.Top">1968/2/28</TableCell>
                    <TableCell VerticalAlignment="VerticalAlignment.Bottom">jordan_mic_happy_ending@@facebook.com</TableCell>
                    <TableCell HorizontalAlignment="HorizontalAlignment.Center">
                        No<br />
                        <br />
                        <br />
                        <br />
                    </TableCell>
                </TableRow>
                <TableRow>
                    <TableCell HorizontalAlignment="HorizontalAlignment.Right">Steve Nash</TableCell>
                    <TableCell VerticalAlignment="VerticalAlignment.Bottom" Right>1972/3/12</TableCell>
                    <TableCell>nash-canada-steve1972@@outlook.com</TableCell>
                    <TableCell VerticalAlignment="VerticalAlignment.Bottom">Yes</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Out</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow VerticalAlignment=""VerticalAlignment.Top"">
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23</TableCell>
            <TableCell VerticalAlignment=""VerticalAlignment.Bottom"">Lebron_James007@@gmail.com</TableCell>
            <TableCell>
                No<br />
                <br />
                <br />
                <br />
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell HorizontalAlignment=""HorizontalAlignment.Right"">Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell  VerticalAlignment=""VerticalAlignment.Bottom"">thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell  VerticalAlignment=""VerticalAlignment.Bottom"">Yes</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Michael Jordan</TableCell>
            <TableCell VerticalAlignment=""VerticalAlignment.Top"">1968/2/28</TableCell>
            <TableCell VerticalAlignment=""VerticalAlignment.Bottom"">jordan_mic_happy_ending@@facebook.com</TableCell>
            <TableCell HorizontalAlignment=""HorizontalAlignment.Center"">
                No<br />
                <br />
                <br />
                <br />
            </TableCell>
        </TableRow>
        <TableRow>
            <TableCell HorizontalAlignment=""HorizontalAlignment.Right"">Steve Nash</TableCell>
            <TableCell VerticalAlignment=""VerticalAlignment.Bottom"" Right>1972/3/12</TableCell>
            <TableCell>nash-canada-steve1972@@outlook.com</TableCell>
            <TableCell VerticalAlignment=""VerticalAlignment.Bottom"">Yes</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Basic">
    <Description>
        A table can reduce its complexity to increase readability.
    </Description>
    <RunTemplate>
        <Table Basic>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Michael Jordan</TableCell>
                    <TableCell>1968/2/28</TableCell>
                    <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Basic>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Michael Jordan</TableCell>
            <TableCell>1968/2/28</TableCell>
            <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart>
    <RunTemplate>
        <Table Very Basic>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Michael Jordan</TableCell>
                    <TableCell>1968/2/28</TableCell>
                    <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Very Basic>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Michael Jordan</TableCell>
            <TableCell>1968/2/28</TableCell>
            <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Collapsing Cell">
    <Description>
        A cell can be collapsing so that it only uses as much space as required
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <TableRow>
                    <TableCell Collapsing>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Michael Jordan</TableCell>
                    <TableCell>1968/2/28</TableCell>
                    <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <TableRow>
            <TableCell Collapsing>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Michael Jordan</TableCell>
            <TableCell>1968/2/28</TableCell>
            <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Collapsing">
    <Description>
        A table can be collapsing, taking up only as much space as its rows.
    </Description>
    <RunTemplate>
        <Table Collapsing Celled>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Michael Jordan</TableCell>
                    <TableCell>1968/2/28</TableCell>
                    <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Collapsing Celled>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Michael Jordan</TableCell>
            <TableCell>1968/2/28</TableCell>
            <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Color">
    <Description>
        A table can be given a color to distinguish it from other tables.
    </Description>
    <RunTemplate>
        <Table Color="Color.Red">
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
            </Body>
        </Table>
        <Table Color="Color.Blue">
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
            </Body>
        </Table>
        <Table Color="Color.Green">
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
            </Body>
        </Table>
        <Table Color="Color.Pink">
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Color=""Color.Red"">
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
    </Body>
</Table>
<Table Color=""Color.Blue"">
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
    </Body>
</Table>
<Table Color=""Color.Green"">
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
    </Body>
</Table>
<Table Color=""Color.Pink"">
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Inverted">
    <Description>
        A table's colors can be inverted
    </Description>
    <RunTemplate>
        <Table Color="Color.Red" Inverted>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
            </Body>
        </Table>
        <Table Color="Color.Blue" Inverted>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
            </Body>
        </Table>
        <Table Color="Color.Green" Inverted>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
            </Body>
        </Table>
        <Table Color="Color.Pink" Inverted>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Color=""Color.Red"" Inverted>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
    </Body>
</Table>
<Table Color=""Color.Blue"" Inverted>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
    </Body>
</Table>
<Table Color=""Color.Green"" Inverted>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
    </Body>
</Table>
<Table Color=""Color.Pink"" Inverted>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Compact">
    <Description>
        A table may sometimes need to be more compact to make more rows visible at a time
    </Description>
    <RunTemplate>
        <Table Compact>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Michael Jordan</TableCell>
                    <TableCell>1968/2/28</TableCell>
                    <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Compact>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Michael Jordan</TableCell>
            <TableCell>1968/2/28</TableCell>
            <TableCell>jordan_mic_happy_ending@@facebook.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Padded">
    <Description>
        A table may sometimes need to be more padded for legibility
    </Description>
    <RunTemplate>
        <Table Padded>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Description</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Admin</TableCell>
                    <TableCell>With 10 years of working experience, I have overcome technical problems for many times, and developed a set of small software that can solve the performance of stuck programs. I am also a music lover.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Sara</TableCell>
                    <TableCell>I used to work in Alibaba Group, and served as the general manager of high-end projects for many times. With rich experience and experience, I can control projects accurately to every day.Also very modest, amiable character, loved by colleagues.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Lily</TableCell>
                    <TableCell>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</TableCell>
                </TableRow>
            </Body>
        </Table>


        <Table Very Padded>
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Description</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Admin</TableCell>
                    <TableCell>With 10 years of working experience, I have overcome technical problems for many times, and developed a set of small software that can solve the performance of stuck programs. I am also a music lover.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Sara</TableCell>
                    <TableCell>I used to work in Alibaba Group, and served as the general manager of high-end projects for many times. With rich experience and experience, I can control projects accurately to every day.Also very modest, amiable character, loved by colleagues.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Lily</TableCell>
                    <TableCell>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Padded>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Description</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Admin</TableCell>
            <TableCell>With 10 years of working experience, I have overcome technical problems for many times, and developed a set of small software that can solve the performance of stuck programs. I am also a music lover.</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Sara</TableCell>
            <TableCell>I used to work in Alibaba Group, and served as the general manager of high-end projects for many times. With rich experience and experience, I can control projects accurately to every day.Also very modest, amiable character, loved by colleagues.</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Lily</TableCell>
            <TableCell>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</TableCell>
        </TableRow>
    </Body>
</Table>

<Table Very Padded>
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Description</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Admin</TableCell>
            <TableCell>With 10 years of working experience, I have overcome technical problems for many times, and developed a set of small software that can solve the performance of stuck programs. I am also a music lover.</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Sara</TableCell>
            <TableCell>I used to work in Alibaba Group, and served as the general manager of high-end projects for many times. With rich experience and experience, I can control projects accurately to every day.Also very modest, amiable character, loved by colleagues.</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Lily</TableCell>
            <TableCell>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Size">
    <Description>
        A table can also be small or large
    </Description>
    <RunTemplate>
        <Table Size="Size.Tiny">
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
            </Body>
        </Table>

        <Table Size="Size.Large">
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
            </Body>
        </Table>

        <Table Size="Size.Massive">
            <Header>
                <TableRow>
                    <TableCell Header>Name</TableCell>
                    <TableCell Header>Register Time</TableCell>
                    <TableCell Header>Email</TableCell>
                    <TableCell Header>Premium Plan</TableCell>
                </TableRow>
            </Header>
            <Body>
                <TableRow>
                    <TableCell>Lebron James</TableCell>
                    <TableCell>1981/1/23/</TableCell>
                    <TableCell>Lebron_James007@@gmail.com</TableCell>
                    <TableCell>No</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell>Kobe Bryant</TableCell>
                    <TableCell>1976/5/1</TableCell>
                    <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
                    <TableCell>Yes</TableCell>
                </TableRow>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Size=""Size.Tiny"">
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
    </Body>
</Table>
<Table Size=""Size.Large"">
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
    </Body>
</Table>
<Table Size=""Size.Massive"">
    <Header>
        <TableRow>
            <TableCell Header>Name</TableCell>
            <TableCell Header>Register Time</TableCell>
            <TableCell Header>Email</TableCell>
            <TableCell Header>Premium Plan</TableCell>
        </TableRow>
    </Header>
    <Body>
        <TableRow>
            <TableCell>Lebron James</TableCell>
            <TableCell>1981/1/23/</TableCell>
            <TableCell>Lebron_James007@@gmail.com</TableCell>
            <TableCell>No</TableCell>
        </TableRow>
        <TableRow>
            <TableCell>Kobe Bryant</TableCell>
            <TableCell>1976/5/1</TableCell>
            <TableCell>thegreatestplayerkobebryant@@outlook.com</TableCell>
            <TableCell>Yes</TableCell>
        </TableRow>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>
    </Body>
</Pager>