@page "/component/data/table"
<Pager DataSource="@(new List<string>(new[]{
                         "Demo","Definition","RowSpanned","Structured","State","Actived","Disabled","Marked","SingleLine","Fixed",
                         "Fixed Single Line","Selectable","Selectable Cell","Striped","Alignment","Basic","Collapsing Cell","Collapsing",
                         "Color","Inverted","Compact","Padded","Size"
                     }))">
    <Body>
        <Header1>
            Table
            <SubHeader>
                A table displays a collections of data grouped into rows
            </SubHeader>
        </Header1>
<PresentationPart Title="Demo">
    <Description>
        <Message State="State.Positive">
            Tables will automatically stack their layouts for mobile devices. To disable this behavior, use the unstackable variation or tablet stackable to allow responsive adjustments for tablet.
        </Message>
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <Tr>
                    <Th>
                        Name
                    </Th>
                    <Th>
                        Age
                    </Th>
                    <Th>
                        Job
                    </Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>
                        John
                    </Td>
                    <Td>
                        25
                    </Td>
                    <Td>
                        Engineer
                    </Td>
                </Tr>
                <Tr>
                    <Td>
                        Bill
                    </Td>
                    <Td>
                        40
                    </Td>
                    <Td>
                        Engineer
                    </Td>
                </Tr>
                <Tr>
                    <Td>
                        Elvis
                    </Td>
                    <Td>
                        32
                    </Td>
                    <Td>
                        Designer
                    </Td>
                </Tr>
            </Body>
            <Footer>
                <Tr>
                    <Td colspan="3" HorizontalAlignment="HorizontalAlignment.Right">Total 3 </Td>
                </Tr>
            </Footer>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <Tr>
            <Th>
                名称
            </Th>
            <Th>
                年龄
            </Th>
            <Th>
                职业
            </Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>
                张三
            </Td>
            <Td>
                25
            </Td>
            <Td>
                工程师
            </Td>
        </Tr>
        <Tr>
            <Td>
                李四
            </Td>
            <Td>
                40
            </Td>
            <Td>
                总监
            </Td>
        </Tr>
        <Tr>
            <Td>
                王五
            </Td>
            <Td>
                32
            </Td>
            <Td>
                设计师
            </Td>
        </Tr>
    </Body>
    <Footer>
        <Tr>
            <Td colspan=""3"" HorizontalAlignment=""HorizontalAlignment.Right"">共计 3 条数据</Td>
        </Tr>
    </Footer>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>
    
<PresentationPart Title="Definition">
    <Description>
        A table may be formatted to emphasize a first column that defines a rows content
    </Description>
    <RunTemplate>
        <Table Celled Definition>
            <Header>
                <Tr>
                    <Th></Th>
                    <Th>Arguments</Th>
                    <Th>Description</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Rest</Td>
                    <Td>None</Td>
                    <Td>Resets rating to default value</Td>
                </Tr>
                <Tr>
                    <Td>
                        Setting
                    </Td>
                    <Td>
                        Int32
                    </Td>
                    <Td>
                        Sets the current star rating to specified value
                    </Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled Definition>
    <Header>
        <Tr>
            <Th></Th>
            <Th>Arguments</Th>
            <Th>Description</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Reset</Td>
            <Td>None</Td>
            <Td>Resets rating to default value</Td>
        </Tr>
        <Tr>
            <Td>
                Setting
            </Td>
            <Td>
                Int32
            </Td>
            <Td>
                Sets the current star rating to specified value
            </Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="RowSpanned">
    <Description>
        If you work with the rowspan table technique, fomantic provides a helper class rowspanned to be used for an invisible td column to make sure the styling stays consistent
    </Description>
    <RunTemplate>
        <Table Definition>
            <Tr>
                <Td rowspan="4">
                    Category rowspanned
                </Td>
                <Td>
                    Row one
                </Td>
            </Tr>
            <Tr>
                <Td RowSpanned>
                </Td>
                <Td>
                    Row two
                </Td>
            </Tr>
            <Tr>
                <Td RowSpanned>
                </Td>
                <Td>
                    Row three
                </Td>
            </Tr>
            <Tr>
                <Td RowSpanned>
                </Td>
                <Td>
                    Row four
                </Td>
            </Tr>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Definition>
    <Tr>
        <Td rowspan=""4"">
            Category rowspanned
        </Td>
        <Td>
            Row one
        </Td>
    </Tr>
    <Tr>
        <Td RowSpanned>
        </Td>
        <Td>
            Row two
        </Td>
    </Tr>
    <Tr>
        <Td RowSpanned>
        </Td>
        <Td>
            Row three
        </Td>
    </Tr>
    <Tr>
        <Td RowSpanned>
        </Td>
        <Td>
            Row four
        </Td>
    </Tr>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Structured">
    <SubTitle>
        A table can be formatted to display complex structured data
    </SubTitle>
    <RunTemplate>
        <Table Celled Structured>
            <Header>
                <Tr>
                    <Th rowspan="2">
                        Name
                    </Th>
                    <Th rowspan="2">
                        Project
                    </Th>
                    <Th rowspan="2">
                        Files
                    </Th>
                    <Th colspan="3">Language</Th>
                </Tr>
                <Tr>
                    <Th>
                        C#
                    </Th>
                    <Th>
                        Javascript
                    </Th>
                    <Th>
                        Python
                    </Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>
                        John
                    </Td>
                    <Td>
                        Project 1
                    </Td>
                    <Td>
                        13
                    </Td>
                    <Td HorizontalAlignment="HorizontalAlignment.Center">
                        <Icon IconClass="checkmark" Color="Color.Green" Size="Size.Large" />
                    </Td>
                    <Td></Td>
                    <Td></Td>
                </Tr>
                <Tr>
                    <Td rowspan="3">
                        Elvis
                    </Td>
                    <Td>
                        Project 1
                    </Td>
                    <Td>
                        48
                    </Td>
                    <Td  HorizontalAlignment="HorizontalAlignment.Center">
                        <Icon IconClass="checkmark" Color="Color.Green" Size="Size.Large" />
                    </Td>
                    <Td></Td>
                    <Td  HorizontalAlignment="HorizontalAlignment.Center">
                        <Icon IconClass="checkmark" Color="Color.Green" Size="Size.Large" />
                    </Td>
                </Tr>
                <Tr>
                    <Td>
                        Project 2
                    </Td>
                    <Td>
                        14
                    </Td>
                    <Td></Td>
                    <Td HorizontalAlignment="HorizontalAlignment.Center">
                        <Icon IconClass="checkmark" Color="Color.Green" Size="Size.Large" />
                    </Td>
                    <Td></Td>
                </Tr>
                <Tr>
                    <Td>
                        Project 3
                    </Td>
                    <Td>
                        6
                    </Td>
                    <Td></Td>
                    <Td HorizontalAlignment="HorizontalAlignment.Center">
                        <Icon IconClass="checkmark" Color="Color.Green" Size="Size.Large" />
                    </Td>
                    <Td HorizontalAlignment="HorizontalAlignment.Center">
                        <Icon IconClass="checkmark" Color="Color.Green" Size="Size.Large" />
                    </Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled Structured>
    <Header>
        <Tr>
            <Th RowSpan=""2"">
                Name
            </Th>
            <Th RowSpan=""2"">
                Project
            </Th>
            <Th RowSpan=""2"">
                Files
            </Th>
            <Th ColSpan=""3"">Language</Th>
        </Tr>
        <Tr>
            <Th>
                C#
            </Th>
            <Th>
                Javascript
            </Th>
            <Th>
                Python
            </Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>
                John
            </Td>
            <Td>
                Project 1
            </Td>
            <Td>
                13
            </Td>
            <Td HorizontalAlignment=""HorizontalAlignment.Center"">
                <Icon IconClass=""checkmark"" Color=""Color.Green"" Size=""Size.Large"" />
            </Td>
            <Td></Td>
            <Td></Td>
        </Tr>
        <Tr>
            <Td RowSpan=""3"">
                Elvis
            </Td>
            <Td>
                Project 1
            </Td>
            <Td>
                48
            </Td>
            <Td HorizontalAlignment=""HorizontalAlignment.Center"">
                <Icon IconClass=""checkmark"" Color=""Color.Green"" Size=""Size.Large"" />
            </Td>
            <Td></Td>
            <Td HorizontalAlignment=""HorizontalAlignment.Center"">
                <Icon IconClass=""checkmark"" Color=""Color.Green"" Size=""Size.Large"" />
            </Td>
        </Tr>
        <Tr>
            <Td>
                Project 2
            </Td>
            <Td>
                14
            </Td>
            <Td></Td>
            <Td HorizontalAlignment=""HorizontalAlignment.Center"">
                <Icon IconClass=""checkmark"" Color=""Color.Green"" Size=""Size.Large"" />
            </Td>
            <Td></Td>
        </Tr>
        <Tr>
            <Td>
                Project 3
            </Td>
            <Td>
                6
            </Td>
            <Td></Td>
            <Td HorizontalAlignment=""HorizontalAlignment.Center"">
                <Icon IconClass=""checkmark"" Color=""Color.Green"" Size=""Size.Large"" />
            </Td>
            <Td HorizontalAlignment=""HorizontalAlignment.Center"">
                <Icon IconClass=""checkmark"" Color=""Color.Green"" Size=""Size.Large"" />
            </Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="State">
    <Description>
        A cell or row may let a user know whether a value is good or bad
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>State</Th>
                    <Th>Result</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Jimmy</Td>
                    <Td>Unknown</Td>
                    <Td State="State.Negative">Error</Td>
                </Tr>
                <Tr State="State.Positive">
                    <Td>Bill</Td>
                    <Td>Passed</Td>
                    <Td><Icon IconClass="checkmark" /></Td>
                </Tr>
                <Tr State="State.Warning">
                    <Td>Black</Td>
                    <Td><Icon IconClass="attention" /> Need complete</Td>
                    <Td></Td>
                </Tr>
                <Tr State="State.Negative">
                    <Td>Phill</Td>
                    <Td>Rejected</Td>
                    <Td><Icon IconClass="close" /> Detail</Td>
                </Tr>
                <Tr>
                    <Td>Sara</Td>
                    <Td>Unknown</Td>
                    <Td State="State.Warning"><Icon IconClass="attention" /> Missing Signature</Td>
                </Tr>
                <Tr State="State.Error">
                    <Td>Geoge</Td>
                    <Td>Error</Td>
                    <Td><Icon IconClass="close" /> Data Error</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>State</Th>
            <Th>Result</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Jimmy</Td>
            <Td>Unknown</Td>
            <Td State=""State.Negative"">Error</Td>
        </Tr>
        <Tr State=""State.Positive"">
            <Td>Bill</Td>
            <Td>Passed</Td>
            <Td><Icon IconClass=""checkmark"" /></Td>
        </Tr>
        <Tr State=""State.Warning"">
            <Td>Black</Td>
            <Td><Icon IconClass=""attention"" /> Need complete</Td>
            <Td></Td>
        </Tr>
        <Tr State=""State.Negative"">
            <Td>Phill</Td>
            <Td>Rejected</Td>
            <Td><Icon IconClass=""close"" /> Detail</Td>
        </Tr>
        <Tr>
            <Td>Sara</Td>
            <Td>Unknown</Td>
            <Td State=""State.Warning""><Icon IconClass=""attention"" /> Missing Signature</Td>
        </Tr>
        <Tr State=""State.Error"">
            <Td>Geoge</Td>
            <Td>Error</Td>
            <Td><Icon IconClass=""close"" /> Data Error</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Actived">
    <Description>
        A cell or row can be active or selected by a user
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Status</Th>
                    <Th>Result</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Jimmy</Td>
                    <Td>Approved</Td>
                    <Td></Td>
                </Tr>
                <Tr Actived>
                    <Td>John</Td>
                    <Td>Selected</Td>
                    <Td></Td>
                </Tr>
                <Tr>
                    <Td>Jill</Td>
                    <Td>Approved</Td>
                    <Td></Td>
                </Tr>
                <Tr>
                    <Td Actived>Black</Td>
                    <Td>Approved</Td>
                    <Td></Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Status</Th>
            <Th>Result</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Jimmy</Td>
            <Td>Approved</Td>
            <Td></Td>
        </Tr>
        <Tr Actived>
            <Td>John</Td>
            <Td>Selected</Td>
            <Td></Td>
        </Tr>
        <Tr>
            <Td>Jill</Td>
            <Td>Approved</Td>
            <Td></Td>
        </Tr>
        <Tr>
            <Td Actived>Black</Td>
            <Td>Approved</Td>
            <Td></Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Disabled">
    <Description>
        A cell can be disabled
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Status</Th>
                    <Th>Result</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Jimmy</Td>
                    <Td>Approved</Td>
                    <Td></Td>
                </Tr>
                <Tr Disabled>
                    <Td>John</Td>
                    <Td>Selected</Td>
                    <Td></Td>
                </Tr>
                <Tr>
                    <Td>Jill</Td>
                    <Td>Approved</Td>
                    <Td></Td>
                </Tr>
                <Tr>
                    <Td Disabled>Black</Td>
                    <Td>Approved</Td>
                    <Td></Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Status</Th>
            <Th>Result</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Jimmy</Td>
            <Td>Approved</Td>
            <Td></Td>
        </Tr>
        <Tr Disabled>
            <Td>John</Td>
            <Td>Selected</Td>
            <Td></Td>
        </Tr>
        <Tr>
            <Td>Jill</Td>
            <Td>Approved</Td>
            <Td></Td>
        </Tr>
        <Tr>
            <Td Disabled>Black</Td>
            <Td>Approved</Td>
            <Td></Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Marked">
    <Description>
        A cell or row can be marked by a colored left or right border
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Status</Th>
                    <Th>Result</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td Marked="HorizontalPosition.Left" Color="Color.Teal">Jimmy</Td>
                    <Td>Approved</Td>
                    <Td></Td>
                </Tr>
                <Tr Marked="HorizontalPosition.Right" Color="Color.Blue">
                    <Td>Jill</Td>
                    <Td Marked="HorizontalPosition.Left" Color="Color.Orange">In Progress</Td>
                    <Td>Tasj 2313</Td>
                </Tr>
                <Tr>
                    <Td Marked="HorizontalPosition.Right" Color="Color.Red">Sally</Td>
                    <Td>Approved</Td>
                    <Td></Td>
                </Tr>
                <Tr Marked="HorizontalPosition.Right" Color="Color.Green">
                    <Td>Phill</Td>
                    <Td>Approved</Td>
                    <Td Marked="HorizontalPosition.Left" Color="Color.Purple">Attention</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Status</Th>
            <Th>Result</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td Marked=""HorizontalPosition.Left"" Color=""Color.Teal"">Jimmy</Td>
            <Td>Approved</Td>
            <Td></Td>
        </Tr>
        <Tr Marked=""HorizontalPosition.Right"" Color=""Color.Blue"">
            <Td>Jill</Td>
            <Td Marked=""HorizontalPosition.Left"" Color=""Color.Orange"">In Progress</Td>
            <Td>Tasj 2313</Td>
        </Tr>
        <Tr>
            <Td Marked=""HorizontalPosition.Right"" Color=""Color.Red"">Sally</Td>
            <Td>Approved</Td>
            <Td></Td>
        </Tr>
        <Tr Marked=""HorizontalPosition.Right"" Color=""Color.Green"">
            <Td>Phill</Td>
            <Td>Approved</Td>
            <Td Marked=""HorizontalPosition.Left"" Color=""Color.Purple"">Attention</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="SingleLine">
    <Description>
        A table can specify that its cell contents should remain on a single line, and not wrap.
    </Description>
    <RunTemplate>
        <Table AdditionalStyles="@("width:300px")" SingleLine>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
                <Tr>
                    <Td>Michael Jordan</Td>
                    <Td>1968/2/28</Td>
                    <Td>jordan_mic_happy_ending@@facebook.com</Td>
                    <Td>No</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table AdditionalStyle=""width:300px"" SingleLine>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
        <Tr>
            <Td>Michael Jordan</Td>
            <Td>1968/2/28</Td>
            <Td>jordan_mic_happy_ending@@facebook.com</Td>
            <Td>No</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Fixed">
    <Description>A table can fix a special faster form of table rendering that does not resize table cells based on content.</Description>
    <RunTemplate>
        <Table Fixed Celled>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Age</Th>
                    <Th>Job</Th>
                    <Th>Description</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Sarong</Td>
                    <Td>35</Td>
                    <Td>Senio Engineer</Td>
                    <Td>Sarong is an interesting boy but sometimes you don't really have enough room to describe everything you'd like</Td>
                </Tr>
                <Tr>
                    <Td>Jamie</Td>
                    <Td>48</Td>
                    <Td>Project Manager</Td>
                    <Td>Jamie is a kind girl but sometimes you don't really have enough room to describe everything you'd like</Td>
                </Tr>
                <Tr>
                    <Td>Jill</Td>
                    <Td>27</Td>
                    <Td>UI Designer</Td>
                    <Td>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Fixed Celled>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Age</Th>
            <Th>Job</Th>
            <Th>Description</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Sarong</Td>
            <Td>35</Td>
            <Td>Senio Engineer</Td>
            <Td>Sarong is an interesting boy but sometimes you don't really have enough room to describe everything you'd like</Td>
        </Tr>
        <Tr>
            <Td>Jamie</Td>
            <Td>48</Td>
            <Td>Project Manager</Td>
            <Td>Jamie is a kind girl but sometimes you don't really have enough room to describe everything you'd like</Td>
        </Tr>
        <Tr>
            <Td>Jill</Td>
            <Td>27</Td>
            <Td>UI Designer</Td>
            <Td>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Fixed Single Line">
    <Description>
        Fixed single line tables will automatically ensure content that does not fit in a single line will receive "..." ellipsis
    </Description>
    <RunTemplate>
        <Table Fixed Celled SingleLine>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Age</Th>
                    <Th>Job</Th>
                    <Th>Description</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Sarong</Td>
                    <Td>35</Td>
                    <Td>Senio Engineer</Td>
                    <Td>Sarong is an interesting boy but sometimes you don't really have enough room to describe everything you'd like</Td>
                </Tr>
                <Tr>
                    <Td>Jamie</Td>
                    <Td>48</Td>
                    <Td>Project Manager</Td>
                    <Td>Jamie is a kind girl but sometimes you don't really have enough room to describe everything you'd like</Td>
                </Tr>
                <Tr>
                    <Td>Jill</Td>
                    <Td>27</Td>
                    <Td>UI Designer</Td>
                    <Td>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Fixed Celled SingleLine>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Age</Th>
            <Th>Job</Th>
            <Th>Description</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Sarong</Td>
            <Td>35</Td>
            <Td>Senio Engineer</Td>
            <Td>Sarong is an interesting boy but sometimes you don't really have enough room to describe everything you'd like</Td>
        </Tr>
        <Tr>
            <Td>Jamie</Td>
            <Td>48</Td>
            <Td>Project Manager</Td>
            <Td>Jamie is a kind girl but sometimes you don't really have enough room to describe everything you'd like</Td>
        </Tr>
        <Tr>
            <Td>Jill</Td>
            <Td>27</Td>
            <Td>UI Designer</Td>
            <Td>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Selectable">
    <Description>
        A table can have its rows appear selectable
    </Description>
    <RunTemplate>
        <Table Celled Selectable>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Status</Th>
                    <Th>Result</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Adrian</Td>
                    <Td>Complete</Td>
                    <Td></Td>
                </Tr>
                <Tr Color="Color.Blue">
                    <Td>Francky</Td>
                    <Td>In Progress</Td>
                    <Td>Task 2313</Td>
                </Tr>
                <Tr>
                    <Td>Lisa</Td>
                    <Td>To Do</Td>
                    <Td></Td>
                </Tr>
                <Tr>
                    <Td>Phill</Td>
                    <Td>Completed</Td>
                    <Td Color="Color.Pink"><Icon IconClass="tree" /> Free</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled Selectable>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Status</Th>
            <Th>Result</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Adrian</Td>
            <Td>Complete</Td>
            <Td></Td>
        </Tr>
        <Tr Color=""Color.Blue"">
            <Td>Francky</Td>
            <Td>In Progress</Td>
            <Td>Task 2313</Td>
        </Tr>
        <Tr>
            <Td>Lisa</Td>
            <Td>To Do</Td>
            <Td></Td>
        </Tr>
        <Tr>
            <Td>Phill</Td>
            <Td>Completed</Td>
            <Td Color=""Color.Pink""><Icon IconClass=""tree"" /> Free</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Selectable Cell">
    <Description>
        A table cell can be selectable
        <Message State="State.Warning">
            Using an a link inside a selectable cell will automatically make the hit box the entire cell area. By default links will inherit their cell color.
        </Message>
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Status</Th>
                    <Th>Edit</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Admin</Td>
                    <Td Selectable>Done</Td>
                    <Td><Anchor Link="#">Edit</Anchor></Td>
                </Tr>
                <Tr Color="Color.Blue">
                    <Td>Phill</Td>
                    <Td>In Progress</Td>
                    <Td Selectable><Anchor Link="#">Edit</Anchor></Td>
                </Tr>
                <Tr>
                    <Td Selectable>Jack</Td>
                    <Td>To do</Td>
                    <Td><Anchor Link="#">Edit</Anchor></Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Status</Th>
            <Th>Edit</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Admin</Td>
            <Td Selectable>Done</Td>
            <Td><Anchor Link=""#"">Edit</Anchor></Td>
        </Tr>
        <Tr Color=""Color.Blue"">
            <Td>Phill</Td>
            <Td>In Progress</Td>
            <Td Selectable><Anchor Link=""#"">Edit</Anchor></Td>
        </Tr>
        <Tr>
            <Td Selectable>王五</Td>
            <Td>To do</Td>
            <Td><Anchor Link=""#"">Edit</Anchor></Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Striped">
    <Description>
        A table can stripe alternate rows of content with a darker color to increase contrast
    </Description>
    <RunTemplate>
        <Table Celled Striped>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
                <Tr>
                    <Td>Michael Jordan</Td>
                    <Td>1968/2/28</Td>
                    <Td>jordan_mic_happy_ending@@facebook.com</Td>
                    <Td>No</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled Striped>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
        <Tr>
            <Td>Michael Jordan</Td>
            <Td>1968/2/28</Td>
            <Td>jordan_mic_happy_ending@@facebook.com</Td>
            <Td>No</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Alignment">
    <RunTemplate>
        <Table Celled>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Time</Th>
                    <Th>Email</Th>
                    <Th>Out</Th>
                </Tr>
            </Header>
            <Body>
                <Tr VerticalAlignment="VerticalAlignment.Top">
                    <Td>Lebron James</Td>
                    <Td>1981/1/23</Td>
                    <Td VerticalAlignment="VerticalAlignment.Bottom">Lebron_James007@@gmail.com</Td>
                    <Td>
                        No<br />
                        <br />
                        <br />
                        <br />
                    </Td>
                </Tr>
                <Tr>
                    <Td HorizontalAlignment="HorizontalAlignment.Right">Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td  VerticalAlignment="VerticalAlignment.Bottom">thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td  VerticalAlignment="VerticalAlignment.Bottom">Yes</Td>
                </Tr>
                <Tr>
                    <Td>Michael Jordan</Td>
                    <Td VerticalAlignment="VerticalAlignment.Top">1968/2/28</Td>
                    <Td VerticalAlignment="VerticalAlignment.Bottom">jordan_mic_happy_ending@@facebook.com</Td>
                    <Td HorizontalAlignment="HorizontalAlignment.Center">
                        No<br />
                        <br />
                        <br />
                        <br />
                    </Td>
                </Tr>
                <Tr>
                    <Td HorizontalAlignment="HorizontalAlignment.Right">Steve Nash</Td>
                    <Td VerticalAlignment="VerticalAlignment.Bottom" Right>1972/3/12</Td>
                    <Td>nash-canada-steve1972@@outlook.com</Td>
                    <Td VerticalAlignment="VerticalAlignment.Bottom">Yes</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Time</Th>
            <Th>Email</Th>
            <Th>Out</Th>
        </Tr>
    </Header>
    <Body>
        <Tr VerticalAlignment=""VerticalAlignment.Top"">
            <Td>Lebron James</Td>
            <Td>1981/1/23</Td>
            <Td VerticalAlignment=""VerticalAlignment.Bottom"">Lebron_James007@@gmail.com</Td>
            <Td>
                No<br />
                <br />
                <br />
                <br />
            </Td>
        </Tr>
        <Tr>
            <Td HorizontalAlignment=""HorizontalAlignment.Right"">Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td  VerticalAlignment=""VerticalAlignment.Bottom"">thegreatestplayerkobebryant@@outlook.com</Td>
            <Td  VerticalAlignment=""VerticalAlignment.Bottom"">Yes</Td>
        </Tr>
        <Tr>
            <Td>Michael Jordan</Td>
            <Td VerticalAlignment=""VerticalAlignment.Top"">1968/2/28</Td>
            <Td VerticalAlignment=""VerticalAlignment.Bottom"">jordan_mic_happy_ending@@facebook.com</Td>
            <Td HorizontalAlignment=""HorizontalAlignment.Center"">
                No<br />
                <br />
                <br />
                <br />
            </Td>
        </Tr>
        <Tr>
            <Td HorizontalAlignment=""HorizontalAlignment.Right"">Steve Nash</Td>
            <Td VerticalAlignment=""VerticalAlignment.Bottom"" Right>1972/3/12</Td>
            <Td>nash-canada-steve1972@@outlook.com</Td>
            <Td VerticalAlignment=""VerticalAlignment.Bottom"">Yes</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Basic">
    <Description>
        A table can reduce its complexity to increase readability.
    </Description>
    <RunTemplate>
        <Table Basic>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
                <Tr>
                    <Td>Michael Jordan</Td>
                    <Td>1968/2/28</Td>
                    <Td>jordan_mic_happy_ending@@facebook.com</Td>
                    <Td>No</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Basic>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
        <Tr>
            <Td>Michael Jordan</Td>
            <Td>1968/2/28</Td>
            <Td>jordan_mic_happy_ending@@facebook.com</Td>
            <Td>No</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart>
    <RunTemplate>
        <Table Very Basic>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
                <Tr>
                    <Td>Michael Jordan</Td>
                    <Td>1968/2/28</Td>
                    <Td>jordan_mic_happy_ending@@facebook.com</Td>
                    <Td>No</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Very Basic>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
        <Tr>
            <Td>Michael Jordan</Td>
            <Td>1968/2/28</Td>
            <Td>jordan_mic_happy_ending@@facebook.com</Td>
            <Td>No</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Collapsing Cell">
    <Description>
        A cell can be collapsing so that it only uses as much space as required
    </Description>
    <RunTemplate>
        <Table Celled>
            <Header>
                <Tr>
                    <Th Collapsing>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
                <Tr>
                    <Td>Michael Jordan</Td>
                    <Td>1968/2/28</Td>
                    <Td>jordan_mic_happy_ending@@facebook.com</Td>
                    <Td>No</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Celled>
    <Header>
        <Tr>
            <Th Collapsing>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
        <Tr>
            <Td>Michael Jordan</Td>
            <Td>1968/2/28</Td>
            <Td>jordan_mic_happy_ending@@facebook.com</Td>
            <Td>No</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Collapsing">
    <Description>
        A table can be collapsing, taking up only as much space as its rows.
    </Description>
    <RunTemplate>
        <Table Collapsing Celled>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
                <Tr>
                    <Td>Michael Jordan</Td>
                    <Td>1968/2/28</Td>
                    <Td>jordan_mic_happy_ending@@facebook.com</Td>
                    <Td>No</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Collapsing Celled>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
        <Tr>
            <Td>Michael Jordan</Td>
            <Td>1968/2/28</Td>
            <Td>jordan_mic_happy_ending@@facebook.com</Td>
            <Td>No</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Color">
    <Description>
        A table can be given a color to distinguish it from other tables.
    </Description>
    <RunTemplate>
        <Table Color="Color.Red">
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
            </Body>
        </Table>
        <Table Color="Color.Blue">
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
            </Body>
        </Table>
        <Table Color="Color.Green">
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
            </Body>
        </Table>
        <Table Color="Color.Pink">
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Color=""Color.Red"">
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
    </Body>
</Table>
<Table Color=""Color.Blue"">
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
    </Body>
</Table>
<Table Color=""Color.Green"">
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
    </Body>
</Table>
<Table Color=""Color.Pink"">
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Inverted">
    <Description>
        A table's colors can be inverted
    </Description>
    <RunTemplate>
        <Table Color="Color.Red" Inverted>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
            </Body>
        </Table>
        <Table Color="Color.Blue" Inverted>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
            </Body>
        </Table>
        <Table Color="Color.Green" Inverted>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
            </Body>
        </Table>
        <Table Color="Color.Pink" Inverted>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Color=""Color.Red"" Inverted>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
    </Body>
</Table>
<Table Color=""Color.Blue"" Inverted>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
    </Body>
</Table>
<Table Color=""Color.Green"" Inverted>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
    </Body>
</Table>
<Table Color=""Color.Pink"" Inverted>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Compact">
    <Description>
        A table may sometimes need to be more compact to make more rows visible at a time
    </Description>
    <RunTemplate>
        <Table Compact>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
                <Tr>
                    <Td>Michael Jordan</Td>
                    <Td>1968/2/28</Td>
                    <Td>jordan_mic_happy_ending@@facebook.com</Td>
                    <Td>No</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Compact>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
        <Tr>
            <Td>Michael Jordan</Td>
            <Td>1968/2/28</Td>
            <Td>jordan_mic_happy_ending@@facebook.com</Td>
            <Td>No</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Padded">
    <Description>
        A table may sometimes need to be more padded for legibility
    </Description>
    <RunTemplate>
        <Table Padded>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Description</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Admin</Td>
                    <Td>With 10 years of working experience, I have overcome technical problems for many times, and developed a set of small software that can solve the performance of stuck programs. I am also a music lover.</Td>
                </Tr>
                <Tr>
                    <Td>Sara</Td>
                    <Td>I used to work in Alibaba Group, and served as the general manager of high-end projects for many times. With rich experience and experience, I can control projects accurately to every day.Also very modest, amiable character, loved by colleagues.</Td>
                </Tr>
                <Tr>
                    <Td>Lily</Td>
                    <Td>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</Td>
                </Tr>
            </Body>
        </Table>


        <Table Very Padded>
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Description</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Admin</Td>
                    <Td>With 10 years of working experience, I have overcome technical problems for many times, and developed a set of small software that can solve the performance of stuck programs. I am also a music lover.</Td>
                </Tr>
                <Tr>
                    <Td>Sara</Td>
                    <Td>I used to work in Alibaba Group, and served as the general manager of high-end projects for many times. With rich experience and experience, I can control projects accurately to every day.Also very modest, amiable character, loved by colleagues.</Td>
                </Tr>
                <Tr>
                    <Td>Lily</Td>
                    <Td>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Padded>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Description</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Admin</Td>
            <Td>With 10 years of working experience, I have overcome technical problems for many times, and developed a set of small software that can solve the performance of stuck programs. I am also a music lover.</Td>
        </Tr>
        <Tr>
            <Td>Sara</Td>
            <Td>I used to work in Alibaba Group, and served as the general manager of high-end projects for many times. With rich experience and experience, I can control projects accurately to every day.Also very modest, amiable character, loved by colleagues.</Td>
        </Tr>
        <Tr>
            <Td>Lily</Td>
            <Td>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</Td>
        </Tr>
    </Body>
</Table>

<Table Very Padded>
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Description</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Admin</Td>
            <Td>With 10 years of working experience, I have overcome technical problems for many times, and developed a set of small software that can solve the performance of stuck programs. I am also a music lover.</Td>
        </Tr>
        <Tr>
            <Td>Sara</Td>
            <Td>I used to work in Alibaba Group, and served as the general manager of high-end projects for many times. With rich experience and experience, I can control projects accurately to every day.Also very modest, amiable character, loved by colleagues.</Td>
        </Tr>
        <Tr>
            <Td>Lily</Td>
            <Td>Now he is the senior UI designer of Tencent's brand XX. He is famous and unique in his design style, which is very popular in the circle.Usually like to draw illustrations, for art has a very high artistic attainments, once won the international illustration competition champion.</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>

<PresentationPart Title="Size">
    <Description>
        A table can also be small or large
    </Description>
    <RunTemplate>
        <Table Size="Size.Tiny">
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
            </Body>
        </Table>

        <Table Size="Size.Large">
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
            </Body>
        </Table>

        <Table Size="Size.Massive">
            <Header>
                <Tr>
                    <Th>Name</Th>
                    <Th>Register Time</Th>
                    <Th>Email</Th>
                    <Th>Premium Plan</Th>
                </Tr>
            </Header>
            <Body>
                <Tr>
                    <Td>Lebron James</Td>
                    <Td>1981/1/23/</Td>
                    <Td>Lebron_James007@@gmail.com</Td>
                    <Td>No</Td>
                </Tr>
                <Tr>
                    <Td>Kobe Bryant</Td>
                    <Td>1976/5/1</Td>
                    <Td>thegreatestplayerkobebryant@@outlook.com</Td>
                    <Td>Yes</Td>
                </Tr>
            </Body>
        </Table>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Table Size=""Size.Tiny"">
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
    </Body>
</Table>
<Table Size=""Size.Large"">
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
    </Body>
</Table>
<Table Size=""Size.Massive"">
    <Header>
        <Tr>
            <Th>Name</Th>
            <Th>Register Time</Th>
            <Th>Email</Th>
            <Th>Premium Plan</Th>
        </Tr>
    </Header>
    <Body>
        <Tr>
            <Td>Lebron James</Td>
            <Td>1981/1/23/</Td>
            <Td>Lebron_James007@@gmail.com</Td>
            <Td>No</Td>
        </Tr>
        <Tr>
            <Td>Kobe Bryant</Td>
            <Td>1976/5/1</Td>
            <Td>thegreatestplayerkobebryant@@outlook.com</Td>
            <Td>Yes</Td>
        </Tr>
    </Body>
</Table>
```
")
    </CodeTemplate>
</PresentationPart>
    </Body>
</Pager>