@page "/component/feedback/loader"

    <Pager DataSource="@(new List<string>(new[] { 
                             "Demo","With Dimmer","Text Loader","Indeterminated","Inline","Inline Center","Speed","Color","Size",
                             "Inverted","Animiation"
                         }))">
        <Body>
            <Header1 Divider>
                Loader
                <SubHeader>
                    A loader alerts a user to wait for an activity to complete
                </SubHeader>
            </Header1>
            <PresentationPart Title="Demo">
                <Description>
                    <Message State="State.Info">
                        Loaders are hidden unless active or inside an active dimmer.
                    </Message>
                </Description>
                <RunTemplate>                    
                    <Loader Actived/>                    
                </RunTemplate>
                <CodeTemplate>
        @Code.GetCode(@"
```html
<Loader Actived/>
```
")
                </CodeTemplate>
            </PresentationPart>
            <PresentationPart Title="With Dimmer">
    <RunTemplate>
        <Segment>
            <Dimmer Actived>
                <Loader/>
            </Dimmer>
            <ParagraphDemo/>
        </Segment>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment>
    <Dimmer Actived>
        <Loader/>
    </Dimmer>
    <ParagraphDemo/>
</Segment>
```
")
    </CodeTemplate>
</PresentationPart>
    <PresentationPart Title="Text Loader">
        <Description>
            A loader can contain text
        </Description>
    <RunTemplate>
        <Segment>
            <Dimmer Actived>
                <Loader>In Progress...</Loader>
            </Dimmer>
            <ParagraphDemo/>
        </Segment>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment>
    <Dimmer Actived>
        <Loader>In Progress...</Loader>
    </Dimmer>
    <ParagraphDemo/>
</Segment>
```
")
    </CodeTemplate>
</PresentationPart>
            <PresentationPart Title="Indeterminated">
                <Description>
                    A loader can show it's unsure of how long a task will take
                </Description>
    <RunTemplate>
        <Segment>
            <Dimmer Actived>
                <Loader Indeterminated>Preparing Files...</Loader>
            </Dimmer>
            <ParagraphDemo/>
        </Segment>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment>
    <Dimmer Actived>
        <Loader Indeterminated>Preparing Files...</Loader>
    </Dimmer>
    <ParagraphDemo/>
</Segment>
```
")
    </CodeTemplate>
</PresentationPart>
            <PresentationPart Title="Inline">
                <Description>
                    Loaders can appear inline with content
                </Description>
    <RunTemplate>
        <Segment>
            I have a loading <Loader Inline Actived/> message of here to show
        </Segment>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment>
    I have a loading <Loader Inline Actived/> message of here to show
</Segment>
```
")
    </CodeTemplate>
</PresentationPart>
                        <PresentationPart Title="Inline Center">
                            <Description>
                                Loaders can appear inline centered with content
                            </Description>
    <RunTemplate>
        <Segment>
            I have a loading <Loader Actived Inline Centered/> message of here to show
        </Segment>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment>
    I have a loading <Loader Actived Inline Centered/> message of here to show
</Segment>
```
")
    </CodeTemplate>
</PresentationPart>
            <PresentationPart Title="Speed">
                <Description>
                    Loaders can appear slow, normal or fast
                </Description>
    <RunTemplate>
        <Loader Inline Actived Speed="Speed.Fast" />
        <Loader Inline Actived />
        <Loader Inline Actived Speed="Speed.Slow" />
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Loader Inline Actived Speed=""Speed.Fast"" />
<Loader Inline Actived />
<Loader Inline Actived Speed=""Speed.Slow"" />
```
")
    </CodeTemplate>
</PresentationPart>
            <PresentationPart Title="Color">
                <Description>
                    Loaders can be different colors
                </Description>
    <RunTemplate>
        <Loader Inline Actived Color="Color.Red" />
        <Loader Inline Actived Color="Color.Orange" />
        <Loader Inline Actived Color="Color.Yellow" />
        <Loader Inline Actived Color="Color.Green" />
        <Loader Inline Actived Color="Color.Violet" />
        <Loader Inline Actived Color="Color.Blue" />
        <Loader Inline Actived Color="Color.Purple" />
        <Loader Inline Actived Color="Color.Grey" />
        <Loader Inline Actived Color="Color.Black" />
        <Loader Inline Actived Color="Color.Pink" />
        <Loader Inline Actived Color="Color.Olive" />
        <Loader Inline Actived Color="Color.Brown" />
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Loader Inline Actived Color=""Color.Red"" />
<Loader Inline Actived Color=""Color.Orange"" />
<Loader Inline Actived Color=""Color.Yellow"" />
<Loader Inline Actived Color=""Color.Green"" />
<Loader Inline Actived Color=""Color.Violet"" />
<Loader Inline Actived Color=""Color.Blue"" />
<Loader Inline Actived Color=""Color.Purple"" />
<Loader Inline Actived Color=""Color.Grey"" />
<Loader Inline Actived Color=""Color.Black"" />
<Loader Inline Actived Color=""Color.Pink"" />
<Loader Inline Actived Color=""Color.Olive"" />
<Loader Inline Actived Color=""Color.Brown"" />
```
")
    </CodeTemplate>
</PresentationPart>
            <PresentationPart Title="Size">
                <Description>
                    Loaders can have different sizes
                </Description>
    <RunTemplate>
        <Loader Inline Actived Size="Size.Mini" />
        <Loader Inline Actived Size="Size.Tiny" />
        <Loader Inline Actived Size="Size.Small" />
        <Loader Inline Actived Size="Size.Medium" />
        <Loader Inline Actived Size="Size.Large" />
        <Loader Inline Actived Size="Size.Big" />
        <Loader Inline Actived Size="Size.Huge" />
        <Loader Inline Actived Size="Size.Massive" />
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Loader Inline Actived Size=""Size.Mini"" />
<Loader Inline Actived Size=""Size.Tiny"" />
<Loader Inline Actived Size=""Size.Small"" />
<Loader Inline Actived Size=""Size.Medium"" />
<Loader Inline Actived Size=""Size.Large"" />
<Loader Inline Actived Size=""Size.Big"" />
<Loader Inline Actived Size=""Size.Huge"" />
<Loader Inline Actived Size=""Size.Massive"" />
```
")
    </CodeTemplate>
</PresentationPart>
            <PresentationPart Title="Inverted">
                <Description>
                    Loaders can have their colors inverted.
                    <Message>
                        Loaders will automatically be inverted inside inverted dimmer
                    </Message>
                </Description>
    <RunTemplate>
        <Segment Inverted>
            <Loader Inverted Actived />
            <ParagraphDemo />
            <ParagraphDemo />
        </Segment>
        <Segment>
            <Dimmer Actived Inverted>
                <Loader />
            </Dimmer>
            <ParagraphDemo />
            <ParagraphDemo />
        </Segment>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Segment Inverted>
    <Loader Inverted Actived/>
</Segment>
<Segment>
    <Dimmer Actived Inverted>
        <Loader/>
    </Dimmer>
</Segment>
```
")
    </CodeTemplate>
</PresentationPart>
            <PresentationPart Title="Animiation">
                <Description>
                    Loaders can also appear in double or elastic animation style. Can be combined with any color or speed.
                </Description>
    <RunTemplate>
        <Segment>
            <Loader Actived Animation="Loader.AnimationStyle.Double" Color="Color.Blue" />
            <ParagraphDemo />
            <ParagraphDemo />
        </Segment>
        <Segment>
            <ParagraphDemo />
            <ParagraphDemo />
            <Loader Actived Animation="Loader.AnimationStyle.Elastic" Color="Color.Purple" Size="Size.Big" />
        </Segment>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Loader Actived Animation=""Loader.AnimationStyle.Double"" Color=""Color.Blue"" />
<Loader Actived Animation=""Loader.AnimationStyle.Elastic"" Color=""Color.Purple""  Size=""Size.Big""/>
```
")
    </CodeTemplate>
</PresentationPart>
        </Body>
    </Pager>