@page "/component/feedback/modal"
<Pager DataSource="@(new List<string>(new[] { 
                         "Demo","Basic","Image Modal","Full Width","Full Screen","Size","Inverted",
                         "Closable","Alignment","Scrollable"
                     }))">
    <Body>
        <Header1>
            Modal
            <SubHeader>
                A modal displays content that temporarily blocks interactions with the main view of a site
            </SubHeader>
        </Header1>
        <Segment>
            You have to invoke <code>Active(bool active)</code> method via reference of instance by <code>@@ref</code>.
        </Segment>
        <PresentationPart Title="Demo">
            <RunTemplate>
                <Modal @ref="refModal1">
                    <Header>
                        The Workflow
                    </Header>
                    <Content>
                        Please read the content as below:
                        <List Ordered>
                            <Item>
                                Condition 1: xxxxxxxxxxxxxx
                            </Item>
                            <Item>
                                Condition 2：xxxxxxxxxxxxxx
                            </Item>
                            <Item>
                                Condition 3：xxxxxxxxxxxxxx
                            </Item>
                        </List>
                    </Content>
                    <Footer>
                        <Button Emphasis="Emphasis.Negative" @onclick="()=>refModal1.Active(false)">Nagative</Button>
                        <Button Emphasis="Emphasis.Positive" @onclick="()=>refModal1.Active(false)">Positive</Button>
                    </Footer>
                </Modal>
                <Button @onclick="()=>refModal1.Active()">Show</Button>
            </RunTemplate>
            <CodeTemplate>
        @Code.GetCode(@"
```html
<Modal @ref=""refModal1"">
    <Header>
        The Workflow
    </Header>
    <Content>
        Please read the content as below:
        <List Ordered>
            <Item>
                Condition 1: xxxxxxxxxxxxxx
            </Item>
            <Item>
                Condition 2：xxxxxxxxxxxxxx
            </Item>
            <Item>
                Condition 3：xxxxxxxxxxxxxx
            </Item>
        </List>
    </Content>
    <Footer>
        <Button Emphasis=""Emphasis.Negative"" @onclick=""()=>refModal1.Active(false)"">Nagative</Button>
        <Button Emphasis=""Emphasis.Positive"" @onclick=""()=>refModal1.Active(false)"">Positive</Button>
    </Footer>
</Modal>
<Button @onclick=""()=>refModal1.Active()"">Show</Button>
```
")
            </CodeTemplate>
        </PresentationPart>
        <PresentationPart Title="Basic">
            <Description>
                A modal can reduce its complexity
            </Description>
            <RunTemplate>
                <Modal @ref="refModal2" Basic>
                    <Header>
                        A basic modal
                    </Header>
                    <Content>
                        A modal can reduce its complexity
                    </Content>
                </Modal>
                <Button @onclick="()=>refModal2.Active()" Emphasis="Emphasis.Primary">Show</Button>
            </RunTemplate>
            <CodeTemplate>
        @Code.GetCode(@"
```html
<Modal @ref=""refModal1"" Basic>
    <Header>
        A basic modal
    </Header>
    <Content>
        A modal can reduce its complexity
    </Content>
</Modal>
<Button @onclick=""()=>refModal1.Active()"">Show</Button>
```
")
            </CodeTemplate>
        </PresentationPart>
        <PresentationPart Title="Image Modal">
            <Description>
                A modal can contain image content
            </Description>
    <RunTemplate>
        <Modal @ref="refModal3" ImageContent>
            <Header>
                Image Modal
            </Header>
            <Content>
                <Image Src="/img/image.png" Fluid Size="Size.Small" />
                <Description>
                    Here are some description of image
                </Description>
            </Content>
        </Modal>
        <Button @onclick="()=>refModal3.Active()" Emphasis="Emphasis.Secondary">Show</Button>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Modal @ref=""refModal3"" ImageContent>
    <Header>
        Image Modal
    </Header>
    <Content>
        <Image Source=""/img/image.png"" Fluid Size=""Size.Small"" />
        <Description>
            Here are some description of image
        </Description>
    </Content>
</Modal>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Full Width">
            <Description>
                A modal can use the entire size of the screen
            </Description>
    <RunTemplate>
        <Modal @ref="refModal4" FullWidth>
            <Content>
                Give us your feedback
            </Content>
        </Modal>
        <Button @onclick="()=>refModal4.Active()">Show</Button>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Modal @ref=""refModal4"" FullWidth>
    <Content>
        Give us your feedback
    </Content>
</Modal>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Full Screen">
            <Description>
                A modal can overlay the entire screen
            </Description>
    <RunTemplate>
        <Modal @ref="refModal5" FullScreen>
            <Header>
                Full Screen
            </Header>
            <Content>
                Welcome to the full screen mode, here to enjoy the full screen brought sour feeling!!
            </Content>
            <Footer>
                <Button Color="Color.Orange" @onclick="()=>refModal5.Active(false)" Basic>Close</Button>
            </Footer>
        </Modal>
        <Button @onclick="()=>refModal5.Active()">Show</Button>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Modal @ref=""refModal5"" FullScreen>
    <Header>
         Full Screen
    </Header>
    <Content>
        Welcome to the full screen mode, here to enjoy the full screen brought sour feeling!!
    </Content>
    <Footer>
        <Button Color=""Color.Orange"" @onclick=""()=>refModal5.Active(false)"" Basic>Close</Button>
    </Footer>
</Modal>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Size">
            <Description>
                A modal can vary in size
            </Description>
    <RunTemplate>
        <Modal Size="Size.Mini" @ref="refModal6">
            <Header>
                Mini
            </Header>
            <Content>
                Are you sure to delete this data?
            </Content>
            <Footer>
                <Button @onclick="()=>refModal6.Active(false)">No</Button>
                <Button Emphasis="Emphasis.Primary" @onclick="()=>refModal6.Active(false)">Yes</Button>
            </Footer>
        </Modal>
        <Button @onclick="()=>refModal6.Active()">Mini</Button>

        <Modal Size="Size.Tiny" @ref="refModal7">
            <Header>
                Tiny
            </Header>
            <Content>
                Are you sure to delete this data?
            </Content>
            <Footer>
                <Button @onclick="()=>refModal6.Active(false)">No</Button>
                <Button Emphasis="Emphasis.Primary" @onclick="()=>refModal6.Active(false)">Yes</Button>
            </Footer>
        </Modal>
        <Button @onclick="()=>refModal7.Active()">Tiny</Button>

        <Modal Size="Size.Small" @ref="refModal8">
            <Header>
                Small
            </Header>
            <Content>
                Are you sure to delete this data?
            </Content>
            <Footer>
                <Button @onclick="()=>refModal6.Active(false)">No</Button>
                <Button Emphasis="Emphasis.Primary" @onclick="()=>refModal6.Active(false)">Yes</Button>
            </Footer>
        </Modal>
        <Button @onclick="()=>refModal8.Active()">Small</Button>

        <Modal Size="Size.Large" @ref="refModal9">
            <Header>
                Large
            </Header>
            <Content>
                Are you sure to delete this data?
            </Content>
            <Footer>
                <Button @onclick="()=>refModal6.Active(false)">No</Button>
                <Button Emphasis="Emphasis.Primary" @onclick="()=>refModal6.Active(false)">Yes</Button>
            </Footer>
        </Modal>
        <Button @onclick="()=>refModal9.Active()">Large</Button>

        <Segment>
            DO NOT USE <code>Big、Huge、Massive</code> that can cause width out of screen.
        </Segment>
        <Modal Size="Size.Massive" @ref="refModal10">
            <Header>
                Massive
            </Header>
            <Content>
                Are you sure to delete this data?
            </Content>
            <Footer>
                <Button @onclick="()=>refModal6.Active(false)">No</Button>
                <Button Emphasis="Emphasis.Primary" @onclick="()=>refModal6.Active(false)">Yes</Button>
            </Footer>
        </Modal>
        <Button @onclick="()=>refModal10.Active()">Massive</Button>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Modal Size=""Size.Mini""></Modal>
<Modal Size=""Size.Tiny""></Modal>
<Modal Size=""Size.Small""></Modal>
<Modal Size=""Size.Large""></Modal>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Inverted">
            <Description>
                A modal can be shown inverted on white dimmer...
            </Description>
    <RunTemplate>
        <Modal Inverted @ref="refModal11">
            <Header>
                Delete your cound?
            </Header>
            <Content>
                Are you sure to do that?
            </Content>
            <Footer>
                <Button @onclick="()=>refModal11.Active(false)">No</Button>
                <Button Emphasis="Emphasis.Primary" @onclick="()=>refModal11.Active(false)">Yes</Button>
            </Footer>
        </Modal>
        <Button @onclick="()=>refModal11.Active()">Show</Button>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Modal Inverted @ref=""refModal11"">
    <Header>
        Delete your cound?
    </Header>
    <Content>
        Are you sure to do that?
    </Content>
    <Footer>
        <Button @onclick=""()=>refModal11.Active(false)"">No</Button>
        <Button Emphasis=""Emphasis.Primary"" @onclick=""()=>refModal11.Active(false)"">Yes</Button>
    </Footer>
</Modal>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Closable">
    <Description>
        To hide the "X" at top right.
    </Description>
    <RunTemplate>
        <Modal Closable="false" @ref="refModal13">
            <Content>
                Validation occured!
            </Content>
            <Footer>
                <Button @onclick="()=>refModal13.Active(false)">Close</Button>
            </Footer>
        </Modal>
        <Button @onclick="()=>refModal13.Active()">Show</Button>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Modal Closable=""false"" @ref=""refModal13"">            
    <Content>
        Validation occured!
    </Content>
    <Footer>
        <Button @onclick=""()=>refModal13.Active(false)"">Hide</Button>
    </Footer>
</Modal>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Alignment">
    <RunTemplate>
        <Modal @ref="refModal12" Alignment="VerticalPosition.Top">
            <Header>Top</Header>
            <Content>
                At the top position
            </Content>
            <Footer>
                <Button Color="Color.Orange" @onclick="e=>refModal12.Active(false)">OK</Button>
            </Footer>
        </Modal>
        <Modal @ref="refModal15">
            <Header>Default</Header>
            <Content>
                Default is middle
            </Content>
            <Footer>
                <Button Color="Color.Orange" @onclick="e=>refModal15.Active(false)">OK</Button>
            </Footer>
        </Modal>
        <Modal @ref="refModal16" Alignment="VerticalPosition.Bottom">
            <Header>Bottom</Header>
            <Content>
                At the bottom position
            </Content>
            <Footer>
                <Button Color="Color.Orange" @onclick="e=>refModal16.Active(false)">OK</Button>
            </Footer>
        </Modal>
        <Button Emphasis="Emphasis.Primary" @onclick="e=>refModal12.Active()">Top</Button>
        <Button @onclick="e=>refModal15.Active()">Default</Button>
        <Button Emphasis="Emphasis.Secondary" @onclick="e=>refModal16.Active()">Bottom</Button>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Modal @ref=""refModal12"" Alignment=""VerticalPosition.Top"">
</Modal>
<Modal @ref=""refModal15"">
</Modal>
<Modal @ref=""refModal16"" Alignment=""VerticalPosition.Bottom"">
</Modal>
```
")
    </CodeTemplate>
</PresentationPart>
        <PresentationPart Title="Scrollable">
            <Description>
                A modal can use the entire size of the screen
            </Description>
    <RunTemplate>
        <Modal @ref="refModal14" Scrollable>
            <Header>
                A long long paragraph
            </Header>
            <Content>
                <ParagraphDemo />
                <Divider />
                <ParagraphDemo />
                <Divider />
                <ParagraphDemo />
                <Divider />
                <ParagraphDemo />
                <Divider />
                <ParagraphDemo />
                <Divider />
                <ParagraphDemo />
                <Divider />
                <ParagraphDemo />
                <Divider />
                <ParagraphDemo />
                <Divider />
                <ParagraphDemo />
                <Divider />
            </Content>
            <Footer>
                <Button @onclick="()=>refModal14.Active(false)">Close</Button>
            </Footer>
        </Modal>
        <Button @onclick="()=>refModal14.Active()">Show</Button>
    </RunTemplate>
    <CodeTemplate>
        @Code.GetCode(@"
```html
<Modal @ref=""refModal13"" Scrollable>
...
</Modal>
```
")
    </CodeTemplate>
</PresentationPart>
    </Body>
</Pager>
@code{
    Modal refModal1;
    Modal refModal2;
    Modal refModal3;
    Modal refModal4;
    Modal refModal5;
    Modal refModal6;
    Modal refModal7;
    Modal refModal8;
    Modal refModal9;
    Modal refModal10;
    Modal refModal11;
    Modal refModal12;
    Modal refModal13;
    Modal refModal14;
    Modal refModal15;
    Modal refModal16;
}