@page "/component/feedback/toast"
@inject IToastService ToastService

<ToastContainer  />

<Pager DataSource="@(new List<string>(new[]
                     {
                         "Demo","Configuration","Key", "ToastContainer Parameters"
                     }))">
    <Body>
        <Header1>
            Toast
            <SubHeader>
                A toast allows users to be notified of an event
            </SubHeader>
        </Header1>

        <Message State="State.Warning">
            <List Ordered>
                <Item>
                    Make use you have a component of <code>BlamanticUIContainer </code> in your page. See configuration at <a href="/">step 5</a>.
                </Item>
                <Item>
                    Inject service <code>IToastService</code>
                </Item>
            </List>
        </Message>
        <PresentationPart Title="Demo">
            <RunTemplate>
                <Button @onclick="@(()=>ToastService.Show("Default message"))">Default</Button>
                <Button Color="Color.Red" @onclick="@(()=>ToastService.ShowError("Some errors"))">Error</Button>
                <Button Color="Color.Yellow" @onclick="@(()=>ToastService.ShowWarning("Attention please"))">Warning</Button>
                <Button Color="Color.Blue" @onclick="@(()=>ToastService.ShowInfo("Please go a way"))">Info</Button>
                <Button Color="Color.Green" @onclick="@(()=>ToastService.ShowSuccess("Submit successfully"))">Success</Button>
            </RunTemplate>
            <CodeTemplate>
@Code.GetCode(@"
```html
<ToastContainer />

<Button @onclick=""@(() => ToastService.Show(""Default message""))"">Default</Button>
<Button Color=""Color.Red"" @onclick=""@(()=>ToastService.ShowError(""Some errors""))"">Error</Button>
<Button Color=""Color.Yellow"" @onclick=""@(()=>ToastService.ShowWarning(""Attention please""))"">Warning</Button>
<Button Color=""Color.Blue"" @onclick=""@(()=>ToastService.ShowInfo(""Please go a way""))"">Info</Button>
<Button Color=""Color.Green"" @onclick=""@(()=>ToastService.ShowSuccess(""Submit successfully！""))"">Success</Button>
```
")
            </CodeTemplate>
        </PresentationPart>
        <PresentationPart Title="Configuration">
            <Description>
                You can costomize toast by configuration
            </Description>
            <RunTemplate>
                <Button Color="Color.Pink" @onclick="@(()=>ToastService.Show(options=> {
                                                  options.Message = "Pink message";
                                                  options.Color = Color.Pink;
                                              }))">
                    Pink
                </Button>
                <Button Color="Color.Olive" @onclick="@(()=>ToastService.Show(options=> {
                                                   options.Title = "Title";
                                                   options.Message = "Sing a sone";
                                                   options.Color = Color.Olive;
                                               }))">
                    Olive
                </Button>
                <ButtonGroup>
                    <Button Color="Color.Black" @onclick="@(()=>ToastService.Show(options=> {
                                                                options.Color = Color.Blue;
                                                                options.Message = "Progress at the top";
                                                                options.ProgressBar = VerticalPosition.Top;
                                                                options.ProgressBarColor = Color.Red;
                                                            }))">
                        Top Progress
                    </Button>
                    <Button Color="Color.Grey" @onclick="@(()=>ToastService.Show(options=> {
                                                               options.Color = Color.Yellow;
                                                               options.Message = "Progress at the bottom！";
                                                               options.ProgressBar = VerticalPosition.Bottom;
                                                               options.ProgressBarColor = Color.Blue;
                                                           }))">
                        Bottom Progress
                    </Button>
                    <Button Color="Color.Blue" @onclick="@(()=>ToastService.Show(options=> {
                                                               options.Color = Color.Green;
                                                               options.Message = "Progress at the top from right to left";
                                                               options.ProgressBar = VerticalPosition.Top;
                                                               options.ProgressBarColor = Color.Yellow;
                                                               options.ProgressBarIncrease = HorizontalPosition.Right;
                                                            }))">
                        Progress From Right
                    </Button>
                </ButtonGroup>
            </RunTemplate>
            <CodeTemplate>
        @Code.GetCode(@"
```html
<Button Color=""Color.Pink"" @onclick=""@(()=>ToastService.Show(options=> {
                                    options.Message = ""Pink message"";
                                    options.Color = Color.Pink;
                                }))"">
    Pink
</Button>
<Button Color=""Color.Olive"" @onclick=""@(()=>ToastService.Show(options=> {
                                    options.Title = ""Title"";
                                    options.Message = ""Sing a sone"";
                                    options.Color = Color.Olive;
                                }))"">
    Olive
</Button>
<ButtonGroup>
    <Button Color=""Color.Black"" @onclick=""@(()=>ToastService.Show(options=> {
                                        options.Color = Color.Blue;
                                        options.Message = ""Progress at the top"";
                                        options.ProgressBar = VerticalPosition.Top;
                                        options.ProgressBarColor = Color.Red;
                                    }))"">
        Top Progress
    </Button>
    <Button Color=""Color.Grey"" @onclick=""@(()=>ToastService.Show(options=> {
                                        options.Color = Color.Yellow;
                                        options.Message = ""Progress at the bottom！"";
                                        options.ProgressBar = VerticalPosition.Bottom;
                                        options.ProgressBarColor = Color.Blue;
                                    }))"">
        Bottom Progress
    </Button>
    <Button Color=""Color.Blue"" @onclick=""@(()=>ToastService.Show(options=> {
                                                options.Color = Color.Green;
                                                options.Message = ""Progress at the top from right to left"";
                                                options.ProgressBar = VerticalPosition.Top;
                                                options.ProgressBarColor = Color.Yellow;
                                                options.ProgressBarIncrease = HorizontalPosition.Right;
                                            }))"">
        Progress From Right
    </Button>
</ButtonGroup>
```
")
            </CodeTemplate>
        </PresentationPart>
        <PresentationPart Title="Key">
            <Description>
                You can have different style of toast by setting <code>Key</code>
            </Description>
            <RunTemplate>
                <ToastContainer Key="TopRight" Position="DockPosition.TopRight" />
                <Button Color="Color.Red" @onclick="@(e=>ToastService.ShowSuccess("I'm at the top right position",key:"TopRight"))">Top Right</Button>
                <ToastContainer Key="BottmRight" Position="DockPosition.BottomRight" />
                <Button Color="Color.Blue" @onclick="@(e=>ToastService.ShowInfo("Hello world",key:"BottmRight"))">Bottom Right</Button>
            </RunTemplate>
            <CodeTemplate>
                @Code.GetCode(@"
```html
<ToastContainer Key=""TopRight"" Position=""DockPosition.TopRight"" />
<Button Color=""Color.Red"" @onclick=""@(e=>ToastService.ShowSuccess(""I'm at the top right position"", key : ""TopRight""))"">Top Right</Button>

<ToastContainer Key=""BottmRight"" Position=""DockPosition.BottomRight"" />
<Button Color=""Color.Blue"" @onclick=""@(e=>ToastService.ShowInfo(""Hello world"", key : ""BottmRight""))"">Bottom Right</Button>
```
")
            </CodeTemplate>
        </PresentationPart>
        <ParameterTable Title="ToastContainer Parameters">
            <Content>
                <tr>
                    <td>Key</td>
                    <td>The unique id of toast style</td>
                    <td>string</td>
                    <td>Default</td>
                </tr>
                <tr>
                    <td>DockPosition</td>
                    <td>The position to display</td>
                    <td>VerticalPosition</td>
                    <td>VerticalPosition.Top</td>
                </tr>
                <tr>
                    <td>Timeout</td>
                    <td>The interval for toast message to show, unit is second. set <code>null</code> that do not hide the message. </td>
                    <td>int?</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>FadeInterval</td>
                    <td>The fade animation of toast to show(ms)</td>
                    <td>int</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>ProgressBar</td>
                    <td>progress bar position in toast message</td>
                    <td>VerticalPosition?</td>
                    <td>null</td>
                </tr>
            </Content>
        </ParameterTable>
    </Body>
</Pager>